@import '../../colors';

.post.hentry.sticky .blog-card,
.tag-sticky-2 .blog-card {
  box-shadow: 8px 15px 40px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.blog-card {
  margin-bottom: 40px;
  transform: translateY(0);
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-4px);

    .blog-card-inner {

      .continue:after {
        height: 80px;
        top: 12px;
      }
    }
  }

  .card-thumbnail {

    img {
      height: auto;
      max-width: 100%;
      display: block;
    }
  }

  .blog-card-inner {
    background: #fff;
    padding: 40px 30px;
    position: relative;
    border-top: 1px solid #f9f9f9;
    border-radius: 2px;
    text-align: left;
    box-shadow: 0 15px 40px 0 rgba(0,0,0,0.05);

    .card-date {
      color: $text_grey;
      font-size: 13px;
    }

    .card-title {
      margin: 10px 0;
      line-height: 25px;

      a {
        color: $title_dark;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        transition: all 0.2s ease;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;

        &:hover {
          text-decoration: none;
          color: $text_grey;
        }
      }
    }

    .card-meta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px 0;

      .card-categories {
        color: #9a9a9a;
        font-size: 12px;
      }

      .card-comments-count {
        font-size: 12px;
        min-width: 150px;
        text-align: right;
      }
    }

    .card-excerpt {
      padding: 10px 0;
      font-size: 14px;
      line-height: 25px;
      margin: 0 0 10px;

      p {
        font-size: 14px;
        line-height: 25px;
        margin: 0;
      }
    }

    .continue {
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: #ffb600;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transition: all 0.2s ease;

      i {
        padding-left: 10px;
      }

      &:hover {
        color: #101010;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 22px;
        left: 0;
        height: 60px;
        width: 2px;
        background: #ffb600;
        border-radius: 50px;
        transform: skew(-45deg) rotate(-45deg);
        transition: all 0.2s ease;
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .blog-page {

    .grid-margin-x {
      margin: 0 auto !important;
    }
  }
  .blog-card {
    padding: 0;
  }
}