@import '../../colors';

.post-comments, .page-comments {
  padding-top: 30px;
  padding-right: 20px;

  .comments-list {
    margin: 0 !important;
    padding: 0 !important;

    ul {
      margin: 0 0 20px 20px;
      padding: 0;
    }

    .comment-body {
      padding: 45px 5px 30px 0;
      border-top: 1px solid #eceeef;
      display: inline-block;
      width: 100%;

      .comment-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .comment-avatar {
          padding-right: 25px;
          float: left;
          vertical-align: top;
        }

        .comment-top {
          width: 100%;

          .comment-author {
            display: flex;
            flex-direction: column;
            float: left;
            position: relative;
            margin-bottom: 5px;

            span {
              font-family: Poppins, sans-serif;
              text-transform: capitalize;
              font-weight: 600;
              color: $title_dark;

              a {
                font-family: Poppins, sans-serif;
                text-transform: capitalize;
                font-weight: 600;
                color: $title_dark;
              }
            }

            .the-date {
              color: $title_dark;
              font-size: 13px;
              font-family: Poppins, sans-serif;
              margin-top: 10px;
              display: flex;
              align-items: center;

              i {
                font-size: 20px;
                position: relative;
                left: -4px;
              }
            }
          }

          .comment-meta {
            position: relative;
            overflow: hidden;
            float: right;
            font-family: Poppins, sans-serif;
            font-weight: 600;
            color: $title_dark;

            a {
              color: $title_dark;
              font-weight: 500;
              font-size: 13px;
              transition: all 0.2s;

              &:hover {
                color: $light_grey;
              }
            }
          }
        }
      }

      .comment-text {
        display: inline-block;
        width: 100%;
        padding: 35px 0 0;
      }
    }

    .children {
      padding-left: 20px;
    }


    .comment-reply-link:after {
      content: "|";
      padding-right: 20px;
      padding-left: 20px;
    }

    .comment-reply-title {
      font-size: 22px;
    }

    #cancel-comment-reply-link {
      float: right;
      font-size: 14px;
    }

    .comment-respond {
      padding: 30px 0;
    }
  }
}

.comment-reply-title {
  margin-top: 20px;
}

.comment-form {

  label {
    font-size: 15px;
  }

  p {
    margin: 0;
  }

  p.comment-notes {
    margin-bottom: 30px;
  }

  p.comment-form-author {
    width: 48%;
    display: inline-block;
    margin-right: 1.7%;
  }

  p.comment-form-email {
    width: 48%;
    display: inline-block;
    margin-left: 1.7%;
  }

  p.comment-form-cookies-consent {
    margin: 5px 0 20px;
  }

  p.logged-in-as {
    margin-bottom: 25px;
  }

  textarea#comment {
    height: 120px;
  }

  input[type="submit"] {
    font-size: 14px;
    cursor: pointer;
    background: #ffb600;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    border: 0;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
  }
}

@media screen and (max-width: 1300px) {
  .comment-form {

    p.comment-form-author {
      margin-right: 1.6%;
    }

    p.comment-form-email {
      margin-left: 1.6%;
    }
  }
}

@media screen and (max-width: 785px) {
  .post-comments, .page-comments {
    padding-right: 0;

    .comments-list {

      .comment-body {

        .comment-head {

          .comment-avatar {
            padding-left: 0;

            img {
              height: 80px;
              width: 80px;
            }
          }

          .comment-top {
            flex-direction: column;
            display: flex;

            .comment-author {
              width: 100%;
            }

            .comment-meta {
              float: none;
              flex-direction: row;
              margin-top: 8px;
            }
          }
        }

        .comment-meta {
          display: flex;
          flex-direction: column;

          .comment-author {
            margin-bottom: 0;
          }

          .comment-meta {
            float: none;

            a {
              padding-left: 0;
            }
          }

          .comment-text {
            padding-top: 15px;
          }
        }
      }

      ul.children {
        margin: 0 0 20px 10px;
        padding-left: 0;
      }
    }
  }
  .comment-form {

    p.comment-form-author {
      width: 100%;
      margin-right: 0;
    }

    p.comment-form-email {
      width: 100%;
      margin-left: 0;
    }
  }
}

// Comment navigation
.content-area {

  .blog-post {

    .comment-navigation {

      ul {
        list-style: none;
        margin: 60px 0 70px;

        li {
          list-style: none;
        }
      }
    }
  }
}