body.woocommerce-cart {

  .cart-empty {
    display: inline-block;
    margin: 0 20px 20px 0;
  }

  .return-to-shop {
    display: inline-block;
  }

  .woocommerce-message {
    padding: 30px;
    margin-bottom: 80px;
    background: #fff;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .shop_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    margin: 0 0 40px;

    thead {

      tr th {
        padding-bottom: 20px;
        border: 0;
        border-bottom: 1px solid #e6e6e6;
      }
    }

    tbody {

      td {
        padding: 20px 10px;
        border: 0;
        border-bottom: 1px solid #e6e6e6;
      }

      th {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 16px;
        color: #222;
      }

      td.product-remove {
        text-align: center;
      }

      td.product-thumbnail {

        img {
          width: 50px;
          height: auto;
          position: relative;
        }

        a {
          text-align: center;
          padding-left: 10px;
          color: #676767;
          position: relative;

          img {
            position: relative;
          }
        }
      }

      td.product-name {

      }

      td.product-price {

      }

      td.product-quantity {

        label {
          display: none;
        }

        input {
          margin-bottom: 0;
          max-width: 100px;
        }
      }

      td.product-subtotal {

      }
    }
  }

  td.actions {
    border: 0 !important;
    padding: 45px 0 !important;

    .coupon {
      display: inline-flex;
      float: left;

      label {
        display: none;
      }

      #coupon_code {
        width: 300px;
        max-width: 100%;
        margin-bottom: 0;
      }

      .button {
        margin-left: 20px;
      }
    }

    .button {
      float: right;
    }

    input[disabled] {
      opacity: 0.4;
    }
  }

  .cart_totals {

    h2 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 30px;
    }

    table {

      tr th {
        border: 0;
        border-bottom: 1px solid #e6e6e6;
        text-align: left;
      }
    }

    .wc-proceed-to-checkout {

      .checkout-button {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  .cross-sells {
    display: none;
  }
}

@media screen and (max-width: 785px) {
  body.woocommerce-cart {

    .shop_table {

      th, td {
        max-width: 100px;
      }

      thead {

        tr {

          th.product-thumbnail,
          th.product-remove {
            display: none;
          }
        }
      }

      tbody {

        td.product-thumbnail,
        td.product-remove {
          display: none;
        }
      }
    }

    td.actions {

      .coupon {
        flex-direction: column;
        width: 100%;

        #coupon_code {
          width: 100%;
        }

        .button {
          margin-left: 0;
          float: none;
          width: 100%;
          margin-top: 20px;
        }
      }

      .button {
        float: none;
        width: 100%;
        margin-top: 20px;
      }
    }

    .cart_totals {

      .wc-proceed-to-checkout {

        .checkout-button {
          width: 100%;
        }
      }
    }
  }
}