.shop-page-header,
.cart-page-header,
.checkout-page-header,
.account-page-header {
  position: relative;
  padding: 150px 0;
  text-align: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;

  &:after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: 0.4;
  }

  .page-header-inner {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    max-width: 900px;
    margin: 0 auto;

    .title {
      color: #fff;
      margin: 0;
    }

    .description {
      max-width: 500px;
      margin: 20px auto 0;
      font-size: 18px;
      line-height: 26px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

body.transparent_header {

  .shop-page-header,
  .cart-page-header,
  .checkout-page-header,
  .account-page-header {
    padding-top: 200px;
  }
}