body.single-product {

  .woocommerce-breadcrumb {
    display: none;
  }

  .woocommerce-error {
    padding: 30px;
    margin-bottom: 80px;
    background: red;
    color: #fff;
    border-radius: 2px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
  }

  .content-area {
    padding-top: 20px;

    .product-image-carousel-wrapper {
      width: 40%;
      display: inline-block;
      position: relative;

      .product-image-carousel {
        position: relative;

        .product-image-carousel-item {

          img {
            max-width: 600px;
            width: 100%;
            height: auto;
          }
        }

        .slick-dots {
          position: absolute;
          bottom: -50px;
          top: inherit;
        }
      }
    }

    .slick-initialized .slick-slide {
      padding: 0;
    }

    .summary.entry-summary {
      width: 60%;
      float: right;
      padding-left: 20px;

      .product-title {
        font-size: 35px;
        line-height: 45px;
        font-weight: 700;
        color: #222;
        margin: 0 0 5px;
      }

      .product_title.entry-title {
        display: none;
      }

      .price {
        font-size: 25px;
        line-height: 35px;
        font-family: Poppins, sans-serif;
        font-weight: 700;
        margin: 10px 0 30px 0;

        ins {
          color: #222;
          text-decoration: none;
        }
      }

      .woocommerce-product-details__short-description p {
        padding: 15px 0 25px;
      }

      .variations td {
        border: 0;
        padding: 0;
      }

      td.label,
      .variations .reset_variations {
        display: none !important;
      }

      form.cart {
        display: flex;
        align-items: center;

        &.grouped_form {
          flex-direction: column;

          table {
            width: 100%;

            td {

              &.woocommerce-grouped-product-list-item__price {
                text-align: right;
              }

              label {
                margin: 0;
                font-size: 14px;
              }
            }
          }

          .woocommerce-grouped-product-list-item__quantity {

            .quantity {
              width: 100px;
              padding-right: 0;
            }
          }

          .woocommerce-grouped-product-list-item__label {

            label a {
              font-family: Poppins, sans-serif;
              font-weight: 600;
              font-size: 16px;
              transition: all 0.2s ease;

              &:hover {
                color: #111;
              }
            }
          }

          .woocommerce-grouped-product-list-item__price {

            span {
              font-family: Poppins, sans-serif;
              font-weight: 600;
              font-size: 16px;
            }
          }

          button {
            width: 100%;
            margin-bottom: 25px;
            font-size: 14px;
            font-weight: 600;
          }
        }

        .quantity {
          width: 60%;
          padding-right: 20px;

          input {
            width: 100%;
            margin-bottom: 15px;
          }
        }

        .single_add_to_cart_button {
          width: 100%;
          height: 55px;
          position: relative;
          top: 4px;
        }
      }

      .product_meta {
        padding: 0;
        margin-top: 20px;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .stock.in-stock {
        padding: 0 0 20px;
        font-weight: 700;
      }

      // variations styling
      form.variations_form.cart {
        flex-direction: column;

        table.variations {
          margin-bottom: 30px;
          width: 100%;
        }

        .single_variation_wrap {
          width: 100%;

          .quantity {
            width: 100%;
            padding-right: 0;
          }

          button {
            margin-bottom: 20px;
          }
        }
      }
    }

    .woocommerce-product-rating {
      line-height: 2;
      display: flex;
      align-items: center;

      &:after, &:before {
        content: " ";
        display: table;
      }
    }

    .woocommerce-review-link {
      font-size: 14px;
      color: #222;
      margin-left: 5px;
    }

    .woocommerce-message {
      padding: 30px;
      margin-bottom: 80px;
      background: #fff;
      border: 1px solid #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  .woocommerce-tabs {
    border-top: 1px solid #e0e0e0;
    margin: 80px 0 10px;
    display: inline-block;
    width: 100%;

    h2 {
      display: none;
    }

    ul.tabs {
      margin: 0 0 40px;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        padding: 20px 40px;

        &.additional_information_tab {
          display: none;
        }

        &.active {
          border-top: 2px solid #ffb600;
        }

        a {
          font-family: Poppins, sans-serif;
          color: #222;
          font-size: 15px;
          line-height: 25px;
          font-weight: 700;
        }
      }
    }

    #comments ol {
      margin: 30px 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        width: 100%;
        padding-bottom: 30px;

        .comment_container {
          display: flex;
          align-items: flex-start;

          img {
            width: 100px;
            height: auto;
            padding-right: 20px;
            border-radius: 2px;
          }

          .comment-text {

            .star-rating {
              margin: 4px 0 0;
            }

            .meta {
              color: #222;
              font-family: Poppins, sans-serif;
              font-size: 13px;
              font-weight: 700;
              margin: 0 15px;
              display: inline-block;

              strong {
                font-weight: 700;
                color: #222;
                font-size: 13px;
              }
            }
          }
        }
      }
    }

    #review_form #respond {

      .comment-reply-title {
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
        font-family: Poppins, sans-serif;
      }

      .comment-form-rating {
        margin: 20px 0;
      }

      .comment-form-comment {
        margin: 5px 0 0;
        display: inline-block;
        width: 100%;
      }

      p {
        margin: 5px 0 18px;

        &.stars {

          a {
            position: relative;
            height: 1em;
            width: 1em;
            text-indent: -999em;
            display: inline-block;
            text-decoration: none;

            &:before {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 1em;
              height: 1em;
              line-height: 1;
              font-family: WooCommerce;
              text-indent: 0
            }
          }
        }

        &.stars.selected a.active:before,
        &.stars:hover a:before,
        &.stars.selected a:not(.active):before {
          content: "\e020";
        }
        &.stars a:before,
        &.stars a:hover~a:before,
        &.stars.selected a.active~a:before {
          content: "\e021";
        }
      }

      .form-submit input {
        left: auto
      }

      textarea {
        box-sizing: border-box;
        width: 100%
      }
    }
  }

  .related {
    display: inline-block;
    width: 100%;
    margin: 50px 0 0;
    padding: 0 10px;

    ul.products {
      padding: 0;
    }

    h2 {
      font-size: 25px;
      line-height: 35px;
    }
  }
}

@media screen and (max-width: 785px) {
  body.single-product {

    .content-area {
      padding-top: 20px;

      .product-image-carousel-wrapper {
        width: 100%;

        .product-image-carousel {

          .product-image-carousel-item {

            img {
              max-width: 100%;
            }
          }
        }
      }

      .summary.entry-summary {
        width: 100%;
        float: none;
        margin-top: 50px;
      }
    }

    .woocommerce-tabs {

      ul.tabs {

        li {
          padding: 20px 30px;
        }
      }
    }
  }
}