body.woocommerce.archive {
  background: #eaeaea;

  .sidebar {
    margin: 60px 0 40px;
  }

  .woocommerce-ordering {
    display: inline-block;

    .select2-container.select2-container--default .select2-selection--single {
      background: #fff;
      border-color: #fff;
    }
  }

  .woocommerce-breadcrumb {
    display: none;
  }

  .woocommerce-result-count {
    float: right;
    font-family: Poppins, sans-serif;
    font-size: 13px;
  }

  .woocommerce-pagination {
    display: inline-block;
    width: 100%;

    .page-numbers {
      display: inline-block;
      margin: 40px auto 10px;
      text-align: center;
      width: 100%;
      padding: 0;

      li {
        position: relative;
        display: inline-block;

        .page-numbers {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Poppins, sans-serif;
          height: 45px;
          width: 45px;
          border-radius: 50%;
          color: #484848;
          margin: 0;
          padding: 0 15px;
          transition: all 0.2s ease;
          border: 2px solid transparent;

          &:hover {
            border-color: #ffb600;
          }

          &.current {
            border-color: #ffb600;
            background: #ffb600;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body.woocommerce.archive {

    .content-area {
      margin-bottom: 0;
    }
    .sidebar {
      margin-top: 50px;
    }

    .woocommerce-result-count {
      float: inherit;
    }
  }
}