// Average Product Ratings
.widget_rating_filter {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      a {
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

// Product Ratings
.widget_shopping_cart {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      width: 100%;
      padding-bottom: 15px;

      a {
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        line-height: 18px;
      }

      img {
        width: 50px;
        height: auto;
        float: right;
        padding-left: 10px;
      }

      .quantity {
        font-size: 12px;
        line-height: 16px;

        .woocommerce-Price-amount.amount {
          font-size: 14px;
          line-height: 18px;
          padding-left: 12px;
          display: block;
        }
      }
    }
  }

  .total {
    border-top: 0;
    text-align: center;
    padding: 10px 0 0;
    font-size: 15px;
    line-height: 20px;
    font-family: Poppins, sans-serif;

    .woocommerce-Price-amount.amount {
      padding-left: 0;
    }
  }

  .buttons a {
    width: 100%;
    text-align: center;
    padding: 15px 30px;
    display: block;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &.checkout {
      margin-top: 10px;
      background: #ffb600;
      color: #fff;
      transition: all 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// Layered Nav
.widget_layered_nav {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding-bottom: 5px;

      a {
        color: rgba(0,0,0,0.8);
      }
    }
  }
}

// Price Slider
.widget_price_filter {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  .ui-slider {

    .ui-slider-range {
      background: #ffb600;
      height: 5px;
      position: relative;
    }

    .ui-slider-handle {
      background: #111;
      position: absolute;
      outline: 0;
      top: -7px;
      height: 18px;
      width: 18px;
      border-radius: 30px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }

  .price_slider_wrapper .ui-widget-content {
    background: transparent;
    padding-bottom: 20px;
    margin-right: 15px;
    position: relative;
  }

  .price_slider_amount {

    .price_label {
      color: rgba(0,0,0,0.8);
      padding-top: 10px;
      font-size: 14px;
      line-height: 18px;
    }

    .button {
      background: transparent;
      position: relative;
      text-transform: uppercase;
      font-size: 13px;
      border: 0;
      outline: 0;
      float: right;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      color: rgba(0,0,0,0.8);
      padding: 12px 0;
      transition: all 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Product Categories
.widget_product_categories {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 5px 0;
      list-style: none;

      a {
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  ul.children {
    padding-top: 5px;

    li {
      padding: 5px 10px;

      &:before {
        content: "- ";
        color: rgba(0,0,0,0.8);
      }

      a {
        color: #ffb600;
        font-size: 12px;
      }
    }
  }
}

// Widget Products
.widget_products {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      list-style: none;
      padding-bottom: 20px;

      a {
        position: relative;
        display: flex;
        align-items: start;

        img {
          width: 60px;
          height: auto;
          padding-right: 10px;
          position: relative;
        }

        .product-title {
          color: #111;
          font-size: 14px;
          line-height: 18px;
        }
      }

      .star-rating {
        position: absolute;
        top: 20px;
        left: 60px;
      }

      del, ins, .amount {
        display: none;
      }
    }
  }

  .woocommerce-Price-amount.amount {
    padding-left: 10px;
    color: rgba(0,0,0,0.8);
    font-size: 12px;
  }
}

// Product Search
.widget_product_search {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  .woocommerce-product-search {
    padding-right: 40px;
    position: relative;

    label {
      display: none;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-family: Poppins, sans-serif;
      font-size: 13px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-family: Poppins, sans-serif;
      font-size: 13px;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-family: Poppins, sans-serif;
      font-size: 13px;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-family: Poppins, sans-serif;
      font-size: 13px;
    }

    input {
      height: auto;
    }

    button {
      background: #ffb600;
      position: absolute;
      top: 0;
      right: 0;
      height: 50px;
      width: 50px;
      border-radius: 0 2px 2px 0;
      color: #fff;
      font-weight: 700;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Poppins, sans-serif;
    }
  }
}

// Tags
.widget_product_tag_cloud {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;
}

// Recently Viewed
.widget_recently_viewed_products {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      width: 100%;
      padding-bottom: 20px;

      img {
        width: 60px;
        height: auto;
        float: right;
        padding-left: 10px;
        position: relative;
      }

      a {
        display: block;
      }

      .product-title {
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        line-height: 18px;
      }

      .amount {
        color: #111;
        font-size: 12px;
        padding-left: 2px;
      }
    }
  }
}

// Recent Reviews
.widget_recent_reviews {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      img {
        width: 60px;
        height: auto;
        padding-left: 10px;
        position: relative;
        top: 5px;
        float: right;
      }

      a {
        font-size: 14px;
        line-height: 18px;
        color: rgba(0,0,0,0.8);
      }
    }
  }

  .reviewer {
    color: rgba(0,0,0,0.8);
    font-size: 12px;
  }

  .star-rating {
    margin: 7px 0 5px 0;
    float: inherit;
  }

  ul.product_list_widget li {
    padding-bottom: 10px;
  }
}


// Top rated products
.widget_top_rated_products {
  background: #fff;
  padding: 30px;
  display: inline-block;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding-bottom: 20px;

      img {
        float: right;
        width: 60px;
        height: auto;
        padding-left: 10px;
        position: relative;
        top: 5px;
      }

      .product-title {
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
      }

      .amount {
        color: rgba(0,0,0,0.8);
        font-size: 12px;
        padding: 0 0 0 2px;
        display: inline-block;
      }

      .star-rating {
        float: inherit;
      }
    }
  }
}