.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px;outline:none}[dir='rtl'] .slick-slide{float:right}.slick-slide
img{display:block}.slick-slide.slick-loading
img{display:none}.slick-slide.dragging
img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px
solid transparent}.slick-arrow.slick-hidden{display:none}.slick-arrow{width:40px;height:40px}.slick-prev::before{font-family:FontAwesome;content:"\f053";font-size:20px}.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{color:red}.slick-next::before{font-family:FontAwesome;content:"\f054";font-size:20px}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{position:relative;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}.slick-dots
li{position:relative;list-style:none;display:inline-block;width:20px;height:20px;margin:0
5px !important;padding:10px
0 12px !important;cursor:pointer}.slick-dots li
button{font-size:0;line-height:0;display:block;width:5px;height:5px;border-radius:50%;cursor:pointer;color:transparent;outline:none;border:0;background:#d1d3d4}.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active
button{background:#ffb600;outline:none}.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity:1}.slick-dots li button:before{font-family:'slick';font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'';text-align:center;opacity: .25;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{opacity: .75;color:black}.slick-arrow-left{position:absolute;left:-95px;top:50%;cursor:pointer;width:50px;height:50px;transition:all 0.2s;transform:translateY(-50%) rotate(180deg);display:flex;align-items:center;justify-content:center}.slick-arrow-left
i{position:relative;font-size:45px;color:#999;transition:all 0.2s}.slick-arrow-left:hover
i{color:#101010}.slick-arrow-right{position:absolute;right:-95px;top:50%;cursor:pointer;width:50px;height:50px;transition:all 0.2s;transform:translateY(-50%) rotate(180deg);display:flex;align-items:center;justify-content:center}.slick-arrow-right
i{position:relative;font-size:45px;color:#999;transition:all 0.2s}.slick-arrow-right:hover
i{color:#101010}@media screen and (max-width: 1100px){.slick-arrow{display:none !important}}.content-area .page-single ul.slick-dots{margin:30px
0 0}ul.slick-dots li::before{display:none}ul.slick-dots li
button{transition:all 0.25s ease}