.breadcrumbs { font-size: 10px; text-transform: uppercase; font-family: Poppins, sans-serif; }

.breadcrumbs span { padding: 0 10px; color: #333; }

.breadcrumbs span:first-child { padding-left: 0; }

.breadcrumbs span:last-child, .breadcrumbs span span { padding-right: 0; }
