.rev-btn.button { color: #fff !important; padding: 22px 0 !important; font-size: 16px !important; line-height: 20px !important; font-weight: 700 !important; background: #ffb600; width: 400px !important; border-radius: 2px !important; text-align: center !important; transition: all 0.2s linear !important; letter-spacing: -0.3px !important; overflow: hidden !important; display: flex !important; align-items: center !important; justify-content: center !important; }

.rev-btn.button i { position: relative; left: 0; margin-left: 10px !important; transition: all 0.2s ease; }

.rev-btn.button:active { top: 2px !important; }

.rev-btn.button:hover:after { width: 50% !important; }

.rev-btn.button:hover i { left: 7px !important; }

.rev-btn.button:after { width: 40%; height: 200%; background: rgba(255, 255, 255, 0.1); z-index: 1; right: 0; top: 0; margin: -5px 0 0 -5px; transform-origin: 0 0; transform: rotate(-20deg); content: ''; position: absolute; transition: all 0.2s ease; }

#slide-fancy-nav { position: relative; font-weight: 300; font-size: 50px !important; color: #fff; }

#slide-fancy-nav .number { font-family: Poppins, sans-serif; }

#slide-fancy-nav .number:before { content: '0'; display: block; position: absolute; left: -35px; font-family: Poppins, sans-serif; }

#slide-fancy-nav .next-wrap { display: flex; align-items: center; position: relative; top: 5px; }

#slide-fancy-nav .next-wrap .line { position: relative; display: block; content: ''; height: 2px; width: 200px; background: rgba(255, 255, 255, 0.4); left: -30px; }

#slide-fancy-nav .next-wrap .line:before { position: absolute; top: 0; left: 0; height: 2px; width: 100%; max-width: 50%; content: ''; display: block; background: #fff; transition: max-width 0.2s linear !important; }

#slide-fancy-nav .next-wrap .next { font-size: 13px !important; letter-spacing: 5px !important; font-weight: 500 !important; text-transform: uppercase !important; font-family: Quicksand, sans-serif; position: relative; left: -10px; top: -1px; opacity: 0.7; transition: opacity 0.2s linear !important; }

#slide-fancy-nav:hover { cursor: pointer; }

#slide-fancy-nav:hover .next-wrap .line:before { max-width: 100%; }

#slide-fancy-nav:hover .next-wrap .next { opacity: 1; }

.slider-view-projects { display: flex; align-items: center; transform: rotate(-90deg); }

.slider-view-projects:hover { cursor: pointer; }

.slider-view-projects:hover .blocks span { background: #fff; }

.slider-view-projects:hover > span { color: #fff; }

.slider-view-projects .blocks { position: relative; display: flex; flex-wrap: wrap; height: 25px; width: 25px; }

.slider-view-projects .blocks span { content: ''; display: block; width: 7px; height: 7px; background: rgba(255, 255, 255, 0.7); position: relative; margin: 2px; transition: all .2s linear; }

.slider-view-projects .blocks span:nth-child(3), .slider-view-projects .blocks span:nth-child(4) { top: -1px; }

.slider-view-projects > span { color: rgba(255, 255, 255, 0.7); transition: all .2s ease; font-size: 12px; letter-spacing: 5px; font-weight: 500; text-transform: uppercase; font-family: Quicksand, sans-serif; padding-left: 20px; position: relative; top: -2px; }

.tp-arr-titleholder { text-align: center !important; font-family: Poppins, sans-serif; font-weight: 700 !important; letter-spacing: -0.2px !important; }

@keyframes bounce { from { transform: translateY(0px); }
  to { transform: translateY(-6px); } }

.scroll-down-wrap { cursor: pointer; }

.scroll-down-wrap .bouncing-arrow-down { position: relative; animation: bounce 1s infinite alternate; }

.scroll-down-wrap .bouncing-arrow-down i { color: #fff; font-size: 20px; transform: rotate(90deg); display: inline-block; position: relative; }

.scroll-down-wrap .scroll-down { transform: rotate(-90deg); font-family: Quicksand, sans-serif; font-size: 12px !important; font-weight: 500; letter-spacing: 5px !important; text-transform: uppercase !important; position: relative; left: -16px; top: -85px; opacity: 0.7; transition: opacity 0.2s linear !important; }

.sr-desc { font-size: 16px !important; line-height: 26px !important; font-weight: 400 !important; font-family: Poppins, sans-serif; }

@media screen and (max-width: 1040px) { .sr-title { font-size: 40px !important; line-height: 50px !important; letter-spacing: -1px !important; }
  .sr-desc { text-align: center !important; font-size: 16px !important; line-height: 26px !important; font-weight: 400 !important; padding: 0 20px !important; }
  .rev-btn.button { width: 250px !important; font-size: 14px !important; } }

@media screen and (max-width: 785px) { .sr-title { font-size: 30px !important; line-height: 40px !important; letter-spacing: -0.7px !important; } }

@media screen and (max-width: 1040px) { #slide-fancy-nav { position: relative; font-weight: 300; color: #fff; }
  #slide-fancy-nav .number { font-size: 30px !important; }
  #slide-fancy-nav .number:before { left: -22px; }
  #slide-fancy-nav .next-wrap .line { width: 100px !important; }
  #slide-fancy-nav .next-wrap .next { font-size: 15px !important; }
  .slider-view-projects { display: none !important; }
  .scroll-down-wrap .scroll-down { transform: none !important; left: -25px !important; top: -50px !important; } }
