@import '../../colors';

.copyright-wrapper.style-2 {
  display: block;
  padding: 35px 0;
  background: #fff;
  border-top: 1px solid rgba(255,255,255,0.15);

  .copyright-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cr-menu {

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
          list-style: none;
          margin: 0 15px;

          a {
            text-decoration: none;
            color: $text_dark;
            font-size: 12px;
            font-family: Poppins, sans-serif;
            transition: all 0.15s ease;

            &:hover {
              color: $text_dark_hover;
            }
          }
        }
      }
    }

    .cr-text {
      font-size: 12px;
      color: $text_dark;
      font-family: Poppins, sans-serif;
      font-weight: 400;
    }

    .cr-social {
      display: flex;
      align-items: center;

      a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 50px;
        margin: 0 2px;
        transition: all .15s ease;

        &:hover {
          border-color: $text_dark_hover;
        }

        i {
          font-size: 12px;
          padding: 0 10px;
          color: $text_dark;
        }
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .copyright-wrapper.style-2 {

    .copyright-inner {
      flex-direction: column;

      .cr-text {
        margin-top: 22px;
      }

      .cr-menu {
        margin-top: 15px;
      }
    }
  }
}