@import '../../colors';

.accordion-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  .accordion-item {
    display: block;

    .item-head {
      background: #ffb600;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
      border-bottom: 1px solid rgba(255,255,255,0.15);
      cursor: pointer;
      box-shadow: 0 15px 40px 0 rgba(0,0,0,0.05);

      &:hover {

        .item-title {
          opacity: 0.8;
        }
      }

      .item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;


        i {
          font-size: 20px;
          color: #fff;
        }
      }

      .item-title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 15px;
        transition: all 0.2s ease;

        i {
          padding-right: 20px;
          font-size: 22px;
        }
      }
    }

    .item-content {
      padding: 30px;
      border: 1px solid #eee;
      display: none;
      width: 100%;
    }
  }
}