@import '../../colors';

.blog-carousel-wrapper {
  position: relative;

  .blog-carousel {
    margin: 0 -15px;

    &.slick-initialized {

      .slick-slide {
        padding: 0 15px;
      }
    }
  }
}

.blog-grid {

  .blog-item {

    &:first-child {
      position: relative;
      top: 0;
    }

    &:nth-child(2) {
      position: relative;
      top: -60px;
    }

    &:nth-child(3) {
      position: relative;
      top: -30px;
    }
  }

  .blog-item {
    margin-bottom: 30px;
    position: relative;

    .blog-item-inner {
      position: relative;
      transform: translateY(0);
      transition: all 0.2s ease;

      .min-read {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #fff;
      }

      &:hover {
        transform: translateY(-4px);

        .blog-bottom:after {
          height: 80px;
          top: 12px;
        }
      }

      .blog-grid-img {
        position: relative;
        width: 100%;
        background: #333;
        border-radius: 3px;
        overflow: hidden;
        outline: 0;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.2);
        }

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .blog-bottom {
        padding: 40px 30px;
        text-align: left;
        position: relative;
        box-shadow: 0 15px 40px 0 rgba(0,0,0,0.05);
        margin-top: 10px;
        border-top: 1px solid #f9f9f9;
        transition: all 0.2s ease;
        transform: translateY(0);

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 22px;
          left: 0;
          height: 60px;
          width: 2px;
          background: #ffb600;
          border-radius: 50px;
          transform: skew(-45deg) rotate(-45deg);
          transition: all 0.2s ease;
        }

        .blog-grid-categories {
          font-size: 13px;

          a {
            outline: 0;
            font-weight: 500;
            transition: all 0.2s ease;

            &:hover {
              color: #101010;
            }
          }
        }

        .blog-grid-title {
          font-size: 16px;
          line-height: 25px;
          font-weight: 500;
          color: $title_dark;
          padding: 15px 0;
          font-family: Poppins, sans-serif;
          transition: all 0.2s ease;

          i {
            padding-left: 5px;
            position: relative;
            top: 2px;
          }

          &:hover {
            color: $light_grey;
          }
        }

        .blog-grid-date {
          font-size: 13px;
          color: $light_grey;
        }
      }
    }
  }
}