.content-box {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0 0 60px 0;
  border-radius: 5px;
  padding: 60px 40px;
  z-index: 99;

  &.center {
    margin: 0 auto;
  }

  &.right {
    margin: 0 0 0 auto;
  }

  .wpb_content_element {
    margin-bottom: 0 !important;
  }

  &.push-down-80 {
    position:relative;
    top: 80px;
    margin-top: -80px;
  }
}