.custom-button-wrapper {
  display: flex;

  // alignment
  &.alignment_left {
    justify-content: flex-start;
  }

  &.alignment_center {
    justify-content: center;
  }

  &.alignment_right {
    justify-content: flex-end;
  }

  .custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    overflow: hidden;

    a, .btn-link {
      font-family: Poppins, sans-serif;
      font-weight: 600;
    }

    i, a, .btn-link {
      transition: all 0.2s ease;
      position: relative;
    }

    i {
      left: 0;
    }

    &:hover {
      cursor: pointer;
    }

    // corners
    &.corners_round {
      border-radius: 50px;
    }

    &.corners_rounded {
      border-radius: 2px;
    }

    &.corners_square {
      border-radius: 0;
    }

    // size
    &.size_small {
      padding: 10px 25px;
      font-size: 12px;

      i {
        font-size: 13px;
        margin-left: 10px;
      }
    }

    &.size_medium {
      padding: 15px 40px;
      font-size: 14px;

      i {
        font-size: 15px;
        margin-left: 10px;
      }
    }

    &.size_large {
      font-size: 16px;
      padding: 22px 55px;

      i {
        font-size: 17px;
        margin-left: 10px;
      }
    }
  }

  &.fancy-button .custom-button {
    position: relative;

    &:active {
      top: 2px;
    }

    &:hover {

      &:after {
        width: 50%;
      }

      i {
        left: 7px;
      }
    }

    &:after {
      width: 40%;
      height: 200%;
      background: rgba(255,255,255,0.1);
      z-index: 1;
      right: 0;
      top: 0;
      margin: -5px 0 0 -5px;
      transform-origin: 0 0;
      transform: rotate(-20deg);
      content: '';
      position: absolute;
      transition: all 0.2s ease;
    }
  }
}
