.krucial-custom-heading.add-separator {
  position: relative;

  &.center {

    &:after {
      margin: 25px auto;
    }
  }

  &.right {

    &:after {
      margin: 25px 0 25px auto;
    }
  }

  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: #010101;
    position: relative;
    margin: 25px 1px;
    transform: skew(-45deg);
    border-radius: 2px;
  }
}

@media screen and (max-width: 1000px) {
  .krucial-custom-heading.add-separator {

    &:after {
      margin: 25px auto;
    }
  }
}