@import '../../colors';

.icon-box {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 4px;
  padding: 35px 40px 25px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
  box-shadow: none;
  transform: none;

  &:hover, &.is-active {
    box-shadow: 0 15px 40px 0 rgba(0,0,0,0.15);
    transform: translateY(-30px);

    .icon-box-icon {
      width: 80px;
      height: 80px;
    }
  }

  .icon-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: #fff;
    background: #333;
    padding: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    min-width: 70px;
    position: relative;
    top: 0;
    border: 2px solid transparent;
    transition: all 0.25s ease;

    &:after {
      width: 150%;
      height: 200%;
      background: rgba(255,255,255,0.1);
      z-index: 1;
      right: 0;
      top: 0;
      transform-origin: 0 0;
      transform: rotate(-75deg);
      content: '';
      position: absolute;
      transition: all 0.2s ease;
    }

    &:hover {
      opacity: 0.9
    }

    i {
      display: block;
      font-size: 22px;
    }
  }

  .icon-content {
    display: flex;
    flex-direction: column;

    .icon-box-title {
      color: $text_dark;
      padding-top: 20px;
      font-weight: 600;
      font-family: Poppins, sans-serif;
    }

    .icon-box-text {
      padding: 20px 0;
      color: #727272;
      font-size: 14px;
      line-height: 23px;
    }
  }

  // size
  &.small .icon-box-icon {
    width: 50px;
    height: 50px;

    i {
      font-size: 16px;
    }
  }

  &.large .icon-box-icon {
    width: 90px;
    height: 90px;

    i {
      font-size: 28px;
    }
  }

  // radius
  &.rounded {

    .icon-box-icon {
      border-radius: 100px;
    }
  }

  // alignment
  &.center-align {
    align-items: center;

    .icon-content {
      align-items: center;
      margin-top: 10px;

      .icon-box-text {
        text-align: center;
      }
    }

  }

  // icon position
  &.icon-left {
    flex-direction: row;

    .icon-box-icon {
      margin-right: 20px;
      float: left;
    }

    .icon-box-title {
      padding-top: 0;
    }

    .icon-box-text {
      overflow: hidden;
    }
  }

  // background disabled
  &.bg-disabled {

    .icon-box-icon {
      min-width: auto;
      background: transparent !important;
      width: fit-content;
      height: fit-content;
      padding: 0;

      i {
        color: #111;
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .icon-box {

    &:hover, &.is-active {
      margin-top: 60px;
    }
  }
}