.number-counter {
  text-align: center;

  .counter-value {
    font-size: 140px;
    line-height: 140px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 700;
  }

  .counter-title {
    margin-top: 15px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: #fff;
    opacity: 0.75;
    font-size: 16px;
  }
}

@media screen and (max-width: 765px) {
  .number-counter {
    margin-bottom: 30px;
  }
}