.projects-carousel-wrapper {
  position: relative;
  margin: 0 -15px;

  .projects-carousel {

    .project-wrap {

      a {
        outline: 0;

        figure {
          height: 500px;
          margin: 10px;
          border-radius: 2px;
          overflow: hidden;
          position: relative;
          transition: all .15s linear;
          transform: scale(1);

          &:hover {
            transform: scale(1.02);

            figcaption {

              .title {
                transform: translateY(-15px);
              }

              .view {
                opacity: 1;
              }
            }

            &:after {
              transform: translate3d(0,0,0);
            }
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.7) 75%);
            transform: translate3d(0,50%,0);
            transition: transform .2s;
          }

          figcaption {
            position: absolute;
            bottom: 30px;
            left: 30px;
            z-index: 2;

            .title {
              display: block;
              transition: transform .15s linear;
              transform: translateY(15px);
              color: #fff;
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
              font-family: Poppins, sans-serif;
              position: relative;

              &:before {
                content: '';
                display: block;
                width: 40px;
                height: 3px;
                background: rgba(255,255,255,0.85);
                position: relative;
                margin: 25px 1px;
                transform: skew(-45deg);
                border-radius: 2px;
              }
            }

            .view {
              color: #f1f1f1;
              font-size: 13px;
              opacity: 0;
              border-bottom: 1px solid transparent;
              transition: all 0.2s ease;
              display: inline-flex;
              align-items: center;

              i {
                font-size: 15px;
                padding-left: 5px;
                transition: all 0.2s ease;
              }

              &:hover {

                i {
                  padding-left: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}