.filter-by-main {
  font-family: Poppins, sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block;

  &:hover span {
    color: #101010;
  }

  span {
    color: #ffb600;
    font-weight: 500;
  }

  i {
    margin-left: 15px;
    display: inline-block;
    font-size: 20px;
    position: relative;
  }
}

.sort-projects-overlay {
  display: none;
  background: #fff;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all .2s linear;

  &.show {
    opacity: 0.95;
  }

  .filter-by {
    font-size: 13px;
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .sort-projects {
    position: relative;

    span {
      width: 100%;
      text-align: center;
    }

    a {
      font-size: 16px;
      font-family: Poppins, sans-serif;
      color: #ffb600;
      font-weight: 500;
      margin: 0 15px;
    }
  }

  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    i {
      font-size: 28px;
      color: #101010;
      transition: all 0.2s ease;
    }

    &:hover i {
      color: #999;
    }
  }
}

.projects-filter {
  margin: 0 -5px;

  .project-wrap {

    a {
      outline: 0;

      figure {
        margin: 5px;
        border-radius: 2px;
        overflow: hidden;
        position: relative;
        transition: all .15s linear;
        transform: scale(1);

        &:hover {
          transform: scale(1.02);

          figcaption {

            .title {
              transform: translateY(-15px);
            }

            .view {
              opacity: 1;
            }
          }

          &:after {
            transform: translate3d(0,0,0);
          }
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to bottom, transparent 0, rgba(0,0,0,1) 100%);
          transform: translate3d(0,20%,0);
          transition: transform .2s;
        }

        .image {

          img {
            max-width: 100%;
            width: 100%;
            height: auto;
            display: block;
          }
        }

        figcaption {
          position: absolute;
          bottom: 30px;
          left: 30px;
          z-index: 2;

          .title {
            display: block;
            transition: transform .15s linear;
            transform: translateY(15px);
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            font-family: Poppins, sans-serif;
            position: relative;

            &:before {
              content: '';
              display: block;
              width: 40px;
              height: 3px;
              background: rgba(255,255,255,0.85);
              position: relative;
              margin: 25px 1px;
              transform: skew(-45deg);
              border-radius: 2px;
            }
          }

          .view {
            color: #f1f1f1;
            font-size: 13px;
            opacity: 0;
            border-bottom: 1px solid transparent;
            transition: all 0.2s ease;
            display: inline-flex;
            align-items: center;

            i {
              font-size: 15px;
              padding-left: 5px;
              transition: all 0.2s ease;
            }

            &:hover {

              i {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:900px) {
  .projects-filter {

    .project-wrap {
      width: 50% !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .filter-by-main {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .projects-filter {

    .project-wrap {
      width: 100% !important;
    }
  }

  .sort-projects-overlay {
    align-items: flex-start;
    padding: 40px;

    .filter-by {
      margin: 0 15px 30px;
    }

    .sort-projects {
      display: flex;
      flex-direction: column;

      a {
        margin: 10px 15px;
      }
    }
  }
}