.services-carousel-wrapper {
  position: relative;
  margin: 0 -15px;

  .services-carousel {
    margin: 0;

    &.slick-initialized {

      .slick-slide {
        padding: 0 15px;
      }
    }
  }
}

.services-grid {
  position: relative;

  .service-item {
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 230px 30px 30px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.06);
    transform: translateY(0) scale(1);
    transition: all 0.1s linear;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      display: block;
      background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9) 100%);
    }

    .item-content {
      position: relative;
      z-index: 2;

      .services-grid-title {
        font-size: 20px;
        font-weight: 600;
        padding: 15px 0 10px;
        color: #fff;
        font-family: Poppins, sans-serif;
      }

      .services-grid-excerpt p {
        font-size: 14px;
        line-height: 23px;
        color: #fff;
        opacity: 0.9;
        margin: 5px 0;
        font-weight: 400;
      }

      .services-grid-link {
        font-size: 14px;
        line-height: 23px;
        padding: 10px 0;

        a {
          display: flex;
          align-items: center;

          &:hover {

            span {
              border-color: rgba(255,255,255,0.9);
            }
          }

          span {
            color: #ffb600;
            font-family: Poppins, sans-serif;
            font-weight: 700;
            font-size: 13px;
            border-bottom: 1px solid transparent;
            transition: all 0.2s ease;
          }

          i {
            font-size: 16px;
            padding-left: 12px;
            color: #fff;
            transition: all 0.2s ease;
          }
        }
      }
    }

    &:hover {
      transform: translateY(-3px) scale(1.01);

      .item-content {

        .services-grid-link {

          a {

            span {
              color: #fff;
            }

            i {
              padding-left: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .services-grid {

    .service-item {
      padding: 150px 30px 30px;
    }
  }
}

@media screen and (max-width: 785px) {
  .services-grid {

    .service-item {
      margin-bottom: 30px;
    }
  }
}