.vc_tta-container {
  margin: 20px 0;
  border: 1px solid #eee;

  .vc_tta-panel-heading {
    background: #ffb600;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);

    a {
      display: flex !important;
      align-items: center;
      padding: 20px 30px !important;

      i, span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 15px !important;
        font-weight: 700;
      }
    }
  }

  .vc_tta-tabs-container {
    background: #ffb600;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);

    .vc_tta-tab {
      border-bottom: 3px solid transparent;
      position: relative;
      top: 1px;

      &.vc_active {
        border-bottom-color: rgba(255,255,255,0.7);

        a {

          i, span {
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      a {
        display: flex !important;
        align-items: center;
        padding: 15px 50px !important;

        i, span {
          color: rgba(255, 255, 255, 0.7);
          font-size: 15px !important;
          font-weight: 700;
        }
      }
    }
  }

  .vc_tta-panel-body {
    padding: 30px 25px !important;
  }

  .wpb_text_column :first-child {
    margin-top: 0;
  }
}