@import '../../colors';

.testimonials-carousel-wrapper {
  position: relative;

  .testimonials-carousel {
    margin: 0 -15px;

    &.slick-initialized {

      .slick-slide {
        padding: 0 15px;
      }
    }
  }
}

.testimonials-wrap {

  .testimonial {

    .testimonial-inner {
      position: relative;
      box-shadow: 0 15px 30px 0 rgba(0,0,0,0.06);
      background: #fff;
      padding: 30px 40px 40px;
      margin-bottom: 30px;
      border-radius: 2px;
      border-top: 2px solid #eee;
      transform: none;
      transition: all 0.2s ease;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 50px;
        top: 100%;
        border: 14px solid transparent;
        border-top: 15px solid #fff;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 22px;
        left: 0;
        height: 60px;
        width: 2px;
        background: #ffb600;
        border-radius: 50px;
        transform: skew(-45deg) rotate(-45deg);
        transition: all 0.2s ease;
      }

      &:hover {
        transform: translateY(-4px) scale(1.05);
      }

      .testimonial-excerpt {
        max-width: 500px;

        p {
          color: #999;
          font-size: 14px;
        }
      }

      .testimonial-link {
        opacity: 1;
        font-size: 13px;
        line-height: 16px;
        color: #ffb600;
        margin-top: 5px;
        font-family: Poppins, sans-serif;
        transition: all .2s ease;

        &:hover {
          color: $title_dark;
        }
      }
    }

    .testimonial-bottom {
      display: flex;
      align-items: center;

      .testimonial-img {
        margin-left: 10px;

        img {
          border-radius: 50%;
          width: 50px;
          height: 50px;
          margin: 0 auto;
        }
      }

      .left {
        margin-left: 20px;

        .testimonial-name {
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
          color: #222;
          font-family: Poppins, sans-serif;
        }

        .testimonial-company {
          color: #999;
          font-size: 13px;
          line-height: 16px;
          margin: 5px 0 10px;
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .testimonials-wrap {

    .testimonial {
      margin-bottom: 50px;
    }
  }
}