@import '../../colors.scss';

// Dropdown
#monster-widget-placeholder-2.widget.widget_archive {
  padding: 20px 25px 35px !important;

  .widget_title {
    padding: 0 0 20px !important;
    margin-bottom: 30px !important;
  }

  select#archives-dropdown--1 {
    border-radius: 2px;
    height: 50px;
    width: 100%;
    border: 1px solid #e0e0e0 !important;
    background: #fff;
    font-size: 15px;
    padding: 0 20px;
    outline: 0;
    position: relative;

    &:focus, &:active {
      outline: 0;
    }
  }
}

.widget.widget_archive {
  background: $widget_background;
  border-radius: $widget_border_radius;
  box-shadow: $widget_box_shadow;
  padding: $widget_padding;

  .screen-reader-text {
    display: none;
  }

  ul {
    margin: 0;
    padding: $widget_body_padding;

    li {
      list-style: none;
      font-size: 14px;
      line-height: 20px;
      font-family: 'Poppins', sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-right: $widget_list_item_border;
      padding: $widget_list_item_padding;
      border-radius: 3px;
      transition: all 0.2s ease;

      &:hover {

        border-color: $title_dark;
      }

      span {
        color: $text_grey;
      }

      a {
        color: $text_dark;
        transition: all 0.2s ease;

        &:hover {
          text-decoration: none;
          color: $text_dark_hover;
        }
      }
    }
  }
}

// Footer
.footer {

  #monster-widget-placeholder-2.widget.widget_archive {
    padding: 0 !important;
    margin-bottom: 55px !important;

    .widget_title {
      padding: 0 !important;
    }
  }

  .widget.widget_archive {
    padding: 0;
    border: 0;
    box-shadow: $footer_widget_box_shadow;
    background: $footer_widget_background;

    ul {
      margin: -10px 0 0;

      li {
        border: 0;
        padding: 10px 0;
        color: #fff;

        a {
          color: rgba(255,255,255,0.8);
          border-bottom: 1px solid transparent;

          &:hover {
            color: #fff;
            border-color: #fff;
          }
        }
      }
    }
  }
}