@import '../../colors.scss';

.widget.widget_calendar {
  padding: $widget_padding;
  background: $widget_background;
  border-radius: $widget_border_radius;
  box-shadow: $widget_box_shadow;

  .calendar_wrap {
    padding: 30px 25px 5px;

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;

      caption {
        text-align: center;
        font-weight: 500;
        color: $text_grey;
        margin: 10px 0 15px;
        font-size: 13px;
        font-family: Poppins, sans-serif;
      }

      thead {

        th {
          background: #ffb600;
          color: #fff;
        }
      }

      td, th {
        padding: 9px 5px;
        font-size: 14px;
        text-align: center;
        border: 0;
        color: #484848;

        a {
          color: #484848;
        }
      }

      tbody {

      }

      tfoot {
        display: none;

        #prev {
          text-align: left;
          text-transform: uppercase;
          font-size: 12px;
        }

        #next {
          text-align: right;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }
}

// footer
.footer {

  .widget.widget_calendar {
    padding: 0;
    border: 0;
    box-shadow: $footer_widget_box_shadow;
    background: $footer_widget_background;

    .calendar_wrap {
      padding: 0;

      table {

        caption {
          color: #fff;
        }

        td, th {
          color: #fff;

          a {
            color: rgba(255,255,255,0.7);

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}