@import '../../colors.scss';

// Sidebars
.widget.widget_categories {
  padding: $widget_padding;
  background: $widget_background;
  border-radius: $widget_border_radius;
  box-shadow: $widget_box_shadow;

  .screen-reader-text {
    display: none;
  }

  form {
    padding: 30px 25px 35px;
  }

  &:not(ul) {
    flex: 1;
  }

  ul {
    margin: 0;
    padding: $widget_body_padding;
    width: 100%;

    li {
      list-style: none;
      font-size: 14px;
      line-height: 20px;
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      border-right: $widget_list_item_border;
      padding: $widget_list_item_padding;
      border-radius: 3px;
      transition: all 0.2s ease;

      &:hover {

        border-color: $title_dark;
      }

      span {
        color: $text_grey;
      }

      a {
        color: $text_dark;
        transition: all 0.2s ease;

        &:hover {
          text-decoration: none;
          color: $text_dark_hover;
        }
      }

      .children {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 20px;
        padding: 0;

        li {
          display: flex;
          justify-content: space-between;
          margin: 18px 0 0;
          border: 0;
          position: relative;
          padding: 0;

          &:before {
            content: '-';
            color: #484848;
            display: block;
            position: absolute;
            left: -10px;
          }

          a {
            border: none;
            padding: 0;
            color: #484848;
            font-size: 14px;
            font-weight: 400;
            transition: all 0.2s ease;

            &:hover {
              opacity: 0.8;
            }
          }

          .children {
            margin: 0 0 0 20px;
          }
        }
      }
    }
  }
}

// Footer
.footer {

  .widget.widget_categories {
    padding: 0;
    border: 0;
    box-shadow: $footer_widget_box_shadow;
    background: $footer_widget_background;

    form {
      padding: 5px 0 25px;
    }

    ul {
      margin: -10px 0 0;

      li {
        border: 0;
        padding: 10px 0;
        color: #fff;

        a {
          color: rgba(255,255,255,0.8);
          border-bottom: 1px solid transparent;

          &:hover {
            color: #fff;
            border-color: #fff;
          }
        }

        .children {

          li {

            &:before {
              color: rgba(255,255,255,0.8);
            }

            a {
              color: rgba(255,255,255,0.8);
              transition: all 0.2s ease;

              &:hover {
                color: #fff;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}