@import '../../colors.scss';

.widget.widget_recent_entries {
  padding: $widget_padding;
  background: $widget_background;
  border-radius: $widget_border_radius;
  box-shadow: $widget_box_shadow;

  ul {
    margin: 0;
    padding: $widget_body_padding;

    li {
      list-style: none;
      font-size: 14px;
      line-height: 20px;
      font-family: 'Poppins', sans-serif;
      width: 100%;
      border-right: $widget_list_item_border;
      padding: $widget_list_item_padding;
      border-radius: 3px;
      transition: all 0.2s ease;

      &:hover {

        border-color: $title_dark;
      }

      a {
        color: $text_dark;
        transition: all 0.2s ease;

        &:hover {
          text-decoration: none;
          color: $text_dark_hover;
        }
      }
    }
  }

  .post-date {
    font-size: 12px;
    padding-bottom: 12px;
    display: block;
  }
}

// Footer
.footer {

  .widget.widget_recent_entries {
    padding: 0;
    border: 0;
    box-shadow: $footer_widget_box_shadow;
    background: $footer_widget_background;

    ul {
      margin: -10px 0 0;

      li {
        border: 0;
        padding: 10px 0;

        a {
          color: rgba(255,255,255,0.8);
          border-bottom: 1px solid transparent;

          &:hover {
            color: #fff;
            border-color: #fff;
          }
        }
      }
    }
  }
}
