@import '../../colors.scss';

.widget.widget_search {
  padding: $widget_padding;
  background: $widget_background;
  border-radius: $widget_border_radius;
  box-shadow: $widget_box_shadow;

  .search-form {
    position: relative;
    margin: 30px;
    display: inline-flex;
    width: calc(100% - 60px);

    input {
      border: 2px solid #ffb600;
      background: #f5f5f6;
      border-radius: 2px;
      padding: 15px 65px 15px 20px !important;
      margin-bottom: 0;
    }

    input[type="search"]:focus {
      background: #fff;
    }

    button {
      position: absolute;
      border-radius: 0 3px 3px 0;
      border: 2px solid #ffb600;
      top: 0;
      right: 0;
      padding: 0;
      width: 56px;
      height: 56px;
      background: #ffb600;
      color: #fff;
      text-align: center;
      font-size: 14px;
      outline: none;
      transition: all 0.25s ease;
    }
  }
}

// Footer
.footer {

  .widget.widget_search {
    padding: 0;
    border: 0;
    box-shadow: $footer_widget_box_shadow;
    background: $footer_widget_background;

    .search-form {
      margin: 0 0 20px;
      width: 100%;
    }
  }
}