@import '../../colors.scss';

// Sidebars
.widget.widget_tag_cloud {
  padding: $widget_padding;
  background: $widget_background;
  border-radius: $widget_border_radius;
  box-shadow: $widget_box_shadow;

  .tagcloud {
    padding: 30px;

    a {
      display: inline-block;
      vertical-align: top;
      padding: 4px 8px 5px;
      font-size: 12px !important;
      color: $light_grey;
      border: 1px solid $light_grey;
      margin: 0 6px 7px 0;
      text-decoration: none;
      text-transform: lowercase;
      border-radius: 2px;
      font-family: Poppins, sans-serif;
      transition: all 0.2s ease;

      &:hover {
        color: #ffb600;
        border-color: #ffb600;
      }
    }
  }
}

// Footer
.footer {

  .widget.widget_tag_cloud {
    padding: 0;
    border: 0;
    box-shadow: $footer_widget_box_shadow;
    background: $footer_widget_background;

    .tagcloud {
      padding: 0;

      a {
        margin: 0 6px 15px 0;
        color: rgba(255,255,255,0.9);
      }
    }
  }
}