@import '../../colors.scss';

// Sidebars
.widget.widget_text {
  padding: $widget_padding;
  background: $widget_background;
  border-radius: $widget_border_radius;
  box-shadow: $widget_box_shadow;

  .textwidget {
    padding: 30px 20px;

    img {
      max-width: 100%;
      height: auto;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      color: $text_grey;
    }

    b, strong {
      font-size: 13px;
      font-family: Poppins, sans-serif;
      display: inline-block;
      padding: 8px 0;
      font-weight: 500;
      color: $text_grey;
    }
  }
}

// Footer
.footer {

  .widget.widget_text {
    padding: 0;
    border: 0;
    box-shadow: $footer_widget_box_shadow;
    background: $footer_widget_background;

    .textwidget {
      padding: 0 0 20px;

      p, b, strong {
        color: #fff;
      }
    }
  }
}