/**
 * Redux framework
 */

/* Remove redux ads */
.rAds {
    display: none !important;
}

/* Redux background images */
.redux-group-tab .background-preview {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* Remove slider revolution notice */
.wp-list-table .plugin-update {
    display: none;
}

/* Redux notice field */
.redux-notice-field {
    padding: 30px 20px;
}
.redux-notice-field .redux-info-icon {
    display: none;
}
.redux-notice-field .redux-info-desc {
    font-size: 14px;
    line-height: 23px;
}
.redux-notice-field .redux-info-desc b {
    font-size: 16px;
    line-height: 25px;
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
}

/**
 * Visual composer
 */
.vc_ui-panel.vc_active {
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 1200px !important;
}
.wpb-layout-element-button {
    width: 25% !important;
    height: auto !important;
    padding: 20px 20px 15px !important;
}
.dropable_el.vc_shortcode-link {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    text-align: center !important;
    padding: 0 !important;
}
.dropable_el.vc_shortcode-link i {
    position: relative !important;
    top: initial !important;
    left: initial !important;
    margin-bottom: 10px !important;
}
.dropable_el.vc_shortcode-link .vc_element-description {
    height: 30px !important;
    overflow: hidden !important;
}
.vc_el-container #rev_slider span {
    padding-bottom: 33px !important;
}

/* VC google maps marker */
#markers-dropdown i {
    font-size: 24px;
    padding: 7px;
}
#markers-dropdown {
    border: 1px solid #DDDDDD;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 10px 0;
}
#markers-dropdown input#trace {
    display:none;
}
#markers-dropdown li:hover {
    opacity: 0.7;
}
#markers-dropdown li.selected {
    border-bottom: 3px solid red;
}
.icon-preview {
    display: inline-block;
    width: 40px;
    height: 35px;
    text-align: center;
}
.icon-preview > i {
    font-size:28px;
    vertical-align: middle;
}
.wpb_element_label {
    margin-right: 15px;
    line-height: 30px;
}
#markers-dropdown > .pin-list {
    margin-top: 0;
    background-image: none !important;
    width: 100% !important;
    padding: 0;
}
#markers-dropdown > .pin-list li img {
    max-height: 50px;
}
#markers-dropdown > .pin-list li {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 9px;
    text-align: center;
}
#markers-dropdown > .pin-list label {
    display: none;
}

/**
 * Server info
 */
.server-info-top {
    margin-left: 20px;
    padding-top: 20px;
}
.server-info-top .heading {
    font-size: 25px !important;
    font-weight: 600;
}
.server-info-top .text {
    max-width: 700px;
}
.server-info-wrap {
    padding: 20px;
}
.server-info-wrap .heading-medium {
    margin-left: 5px;
    padding-top: 20px;
    font-size: 20px !important;
    font-weight: 600;
}
.server-info-wrap .table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: #fff;
    border-collapse: collapse;
}
.server-info-wrap .table tr td {
    width: 50%;
    padding: 0 20px;
    margin: 0;
    border: 1px solid rgba(195, 195, 195, 0.08);
    text-align: center;
}
.server-info-wrap .table tr.row-grey td {
    padding: 0 20px;
    margin: 0;
    background: #FBFBFB;
    border: 1px solid rgba(195, 195, 195, 0.08);
    text-align: center;
}
.server-info-wrap .table tr td p {
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}
.server-info-wrap .table h5 {
    text-align: left;
    font-size: 14px;
}


/**
 * Welcome page
 */
.boxes-wrap {
    width: 100%;
    margin-right: 20px;
}
.logo-wrapper {
    width: 100%;
}
.logo {
    display: block;
    margin: auto;
    padding: 60px 0 15px;
}
.box-wrapper {
    background: #fff;
    position: relative;
    top: 0;
    height: auto;
    margin-top: 40px;
    width: 48%;
    float: left;
    margin-left: 1%;
    border-radius: 1px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    -webkit-transition: top 0.1s ease;
    -moz-transition: top 0.1s ease;
    -ms-transition: top 0.1s ease;
    -o-transition: top 0.1s ease;
    transition: top 0.1s ease;
}
.box-wrapper:hover {
    position: relative;
    top: -5px;
}
@media screen and (max-width: 1000px) {
    .box-wrapper {
        width: 100%;
        margin-left: 10px;
        margin-right: 20px;
    }
}
.box-inner {
    padding: 20px 30px 45px 30px;
    min-height: 220px;
}
.title {
    padding-top: 10px;
    font-weight: 600;
    margin-left: -2px;
}
.title:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
    text-align: center;
    margin-top: 20px;
    margin-left: 1px;
}
.box-wrapper p {
    padding: 10px 0 20px;
}
.box-wrapper a {
    text-decoration: none;
    color: #111;
    outline: 0 !important;
    font-size: 14px;
    text-transform: capitalize;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.box-wrapper a:hover {
    text-decoration: underline;
}