.post.hentry.sticky .blog-card, .tag-sticky-2 .blog-card { box-shadow: 8px 15px 40px rgba(0, 0, 0, 0.15); transition: transform 0.2s ease; }

.post.hentry.sticky .blog-card:hover, .tag-sticky-2 .blog-card:hover { transform: translateY(-5px); }

.blog-card { margin-bottom: 40px; transform: translateY(0); transition: all 0.2s ease; }

.blog-card:hover { transform: translateY(-4px); }

.blog-card:hover .blog-card-inner .continue:after { height: 80px; top: 12px; }

.blog-card .card-thumbnail img { height: auto; max-width: 100%; display: block; }

.blog-card .blog-card-inner { background: #fff; padding: 40px 30px; position: relative; border-top: 1px solid #f9f9f9; border-radius: 2px; text-align: left; box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05); }

.blog-card .blog-card-inner .card-date { color: #848484; font-size: 13px; }

.blog-card .blog-card-inner .card-title { margin: 10px 0; line-height: 25px; }

.blog-card .blog-card-inner .card-title a { color: #2d2940; font-weight: 500; font-size: 16px; line-height: 25px; transition: all 0.2s ease; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 100%; }

.blog-card .blog-card-inner .card-title a:hover { text-decoration: none; color: #848484; }

.blog-card .blog-card-inner .card-meta { display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 20px 0; }

.blog-card .blog-card-inner .card-meta .card-categories { color: #9a9a9a; font-size: 12px; }

.blog-card .blog-card-inner .card-meta .card-comments-count { font-size: 12px; min-width: 150px; text-align: right; }

.blog-card .blog-card-inner .card-excerpt { padding: 10px 0; font-size: 14px; line-height: 25px; margin: 0 0 10px; }

.blog-card .blog-card-inner .card-excerpt p { font-size: 14px; line-height: 25px; margin: 0; }

.blog-card .blog-card-inner .continue { font-family: Poppins, sans-serif; font-size: 14px; font-weight: 500; color: #ffb600; display: flex; align-items: center; justify-content: flex-start; transition: all 0.2s ease; }

.blog-card .blog-card-inner .continue i { padding-left: 10px; }

.blog-card .blog-card-inner .continue:hover { color: #101010; }

.blog-card .blog-card-inner .continue:after { content: ''; display: block; position: absolute; top: 22px; left: 0; height: 60px; width: 2px; background: #ffb600; border-radius: 50px; transform: skew(-45deg) rotate(-45deg); transition: all 0.2s ease; }

@media screen and (max-width: 785px) { .blog-page .grid-margin-x { margin: 0 auto !important; }
  .blog-card { padding: 0; } }
