.post-comments, .page-comments { padding-top: 30px; padding-right: 20px; }

.post-comments .comments-list, .page-comments .comments-list { margin: 0 !important; padding: 0 !important; }

.post-comments .comments-list ul, .page-comments .comments-list ul { margin: 0 0 20px 20px; padding: 0; }

.post-comments .comments-list .comment-body, .page-comments .comments-list .comment-body { padding: 45px 5px 30px 0; border-top: 1px solid #eceeef; display: inline-block; width: 100%; }

.post-comments .comments-list .comment-body .comment-head, .page-comments .comments-list .comment-body .comment-head { display: flex; align-items: center; justify-content: space-between; }

.post-comments .comments-list .comment-body .comment-head .comment-avatar, .page-comments .comments-list .comment-body .comment-head .comment-avatar { padding-right: 25px; float: left; vertical-align: top; }

.post-comments .comments-list .comment-body .comment-head .comment-top, .page-comments .comments-list .comment-body .comment-head .comment-top { width: 100%; }

.post-comments .comments-list .comment-body .comment-head .comment-top .comment-author, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-author { display: flex; flex-direction: column; float: left; position: relative; margin-bottom: 5px; }

.post-comments .comments-list .comment-body .comment-head .comment-top .comment-author span, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-author span { font-family: Poppins, sans-serif; text-transform: capitalize; font-weight: 600; color: #2d2940; }

.post-comments .comments-list .comment-body .comment-head .comment-top .comment-author span a, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-author span a { font-family: Poppins, sans-serif; text-transform: capitalize; font-weight: 600; color: #2d2940; }

.post-comments .comments-list .comment-body .comment-head .comment-top .comment-author .the-date, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-author .the-date { color: #2d2940; font-size: 13px; font-family: Poppins, sans-serif; margin-top: 10px; display: flex; align-items: center; }

.post-comments .comments-list .comment-body .comment-head .comment-top .comment-author .the-date i, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-author .the-date i { font-size: 20px; position: relative; left: -4px; }

.post-comments .comments-list .comment-body .comment-head .comment-top .comment-meta, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-meta { position: relative; overflow: hidden; float: right; font-family: Poppins, sans-serif; font-weight: 600; color: #2d2940; }

.post-comments .comments-list .comment-body .comment-head .comment-top .comment-meta a, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-meta a { color: #2d2940; font-weight: 500; font-size: 13px; transition: all 0.2s; }

.post-comments .comments-list .comment-body .comment-head .comment-top .comment-meta a:hover, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-meta a:hover { color: #868491; }

.post-comments .comments-list .comment-body .comment-text, .page-comments .comments-list .comment-body .comment-text { display: inline-block; width: 100%; padding: 35px 0 0; }

.post-comments .comments-list .children, .page-comments .comments-list .children { padding-left: 20px; }

.post-comments .comments-list .comment-reply-link:after, .page-comments .comments-list .comment-reply-link:after { content: "|"; padding-right: 20px; padding-left: 20px; }

.post-comments .comments-list .comment-reply-title, .page-comments .comments-list .comment-reply-title { font-size: 22px; }

.post-comments .comments-list #cancel-comment-reply-link, .page-comments .comments-list #cancel-comment-reply-link { float: right; font-size: 14px; }

.post-comments .comments-list .comment-respond, .page-comments .comments-list .comment-respond { padding: 30px 0; }

.comment-reply-title { margin-top: 20px; }

.comment-form label { font-size: 15px; }

.comment-form p { margin: 0; }

.comment-form p.comment-notes { margin-bottom: 30px; }

.comment-form p.comment-form-author { width: 48%; display: inline-block; margin-right: 1.7%; }

.comment-form p.comment-form-email { width: 48%; display: inline-block; margin-left: 1.7%; }

.comment-form p.comment-form-cookies-consent { margin: 5px 0 20px; }

.comment-form p.logged-in-as { margin-bottom: 25px; }

.comment-form textarea#comment { height: 120px; }

.comment-form input[type="submit"] { font-size: 14px; cursor: pointer; background: #ffb600; color: #fff; font-family: Poppins, sans-serif; font-weight: 600; border: 0; transition: all 0.2s ease; position: relative; overflow: hidden; }

@media screen and (max-width: 1300px) { .comment-form p.comment-form-author { margin-right: 1.6%; }
  .comment-form p.comment-form-email { margin-left: 1.6%; } }

@media screen and (max-width: 785px) { .post-comments, .page-comments { padding-right: 0; }
  .post-comments .comments-list .comment-body .comment-head .comment-avatar, .page-comments .comments-list .comment-body .comment-head .comment-avatar { padding-left: 0; }
  .post-comments .comments-list .comment-body .comment-head .comment-avatar img, .page-comments .comments-list .comment-body .comment-head .comment-avatar img { height: 80px; width: 80px; }
  .post-comments .comments-list .comment-body .comment-head .comment-top, .page-comments .comments-list .comment-body .comment-head .comment-top { flex-direction: column; display: flex; }
  .post-comments .comments-list .comment-body .comment-head .comment-top .comment-author, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-author { width: 100%; }
  .post-comments .comments-list .comment-body .comment-head .comment-top .comment-meta, .page-comments .comments-list .comment-body .comment-head .comment-top .comment-meta { float: none; flex-direction: row; margin-top: 8px; }
  .post-comments .comments-list .comment-body .comment-meta, .page-comments .comments-list .comment-body .comment-meta { display: flex; flex-direction: column; }
  .post-comments .comments-list .comment-body .comment-meta .comment-author, .page-comments .comments-list .comment-body .comment-meta .comment-author { margin-bottom: 0; }
  .post-comments .comments-list .comment-body .comment-meta .comment-meta, .page-comments .comments-list .comment-body .comment-meta .comment-meta { float: none; }
  .post-comments .comments-list .comment-body .comment-meta .comment-meta a, .page-comments .comments-list .comment-body .comment-meta .comment-meta a { padding-left: 0; }
  .post-comments .comments-list .comment-body .comment-meta .comment-text, .page-comments .comments-list .comment-body .comment-meta .comment-text { padding-top: 15px; }
  .post-comments .comments-list ul.children, .page-comments .comments-list ul.children { margin: 0 0 20px 10px; padding-left: 0; }
  .comment-form p.comment-form-author { width: 100%; margin-right: 0; }
  .comment-form p.comment-form-email { width: 100%; margin-left: 0; } }

.content-area .blog-post .comment-navigation ul { list-style: none; margin: 60px 0 70px; }

.content-area .blog-post .comment-navigation ul li { list-style: none; }
