.content-area .page-numbers { display: flex; align-items: center; justify-content: center; width: 100%; margin: 40px auto; text-align: center; padding: 0; }

.content-area .page-numbers li { position: relative; list-style: none; margin: 0 5px; font-size: 13px; }

.content-area .page-numbers li .page-numbers { display: flex; align-items: center; justify-content: center; font-family: Poppins, sans-serif; height: 45px; width: 45px; border-radius: 50%; color: #484848; margin: 0; padding: 0 15px; transition: all 0.2s ease; border: 2px solid transparent; }

.content-area .page-numbers li .page-numbers:hover { border-color: #ffb600; }

.content-area .page-numbers li .page-numbers.current { border-color: #ffb600; background: #ffb600; color: #fff; }
