body.single.single-post .page-header { margin-bottom: 80px; }

.masonry-grid { margin: 0 -15px; }

.masonry-grid .grid-item { padding-right: 15px; padding-left: 15px; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 785px) { .masonry-grid .grid-item { width: 100%; } }

.blog-page { margin: 80px 0; display: inline-block; width: 100%; }

.blog-page-header-wrap { position: relative; padding: 50px 50px 80px; background: #f5f6f8; }

.blog-page-header-wrap .read-more { transform: rotate(270deg); transform-origin: 0; position: absolute; top: 62%; left: 50px; display: flex; align-items: center; justify-content: center; }

.blog-page-header-wrap .read-more span { text-transform: uppercase; font-size: 12px; font-weight: 400; letter-spacing: 5px; color: #2d2940; }

.blog-page-header-wrap .read-more i { padding-right: 30px; }

.blog-page-header-wrap .blog-intro { position: relative; width: 100%; }

.blog-page-header-wrap .blog-intro .blog-title { font-size: 60px; line-height: 70px; color: #2d2940; }

.blog-page-header-wrap .blog-intro .blog-description { font-size: 20px; line-height: 29px; max-width: 500px; }

.blog-page-header-wrap .blog-intro .last-post-author { display: flex; align-items: center; margin: 40px 0; }

.blog-page-header-wrap .blog-intro .last-post-author .author-pic { width: 60px; height: 60px; border-radius: 100px; overflow: hidden; }

.blog-page-header-wrap .blog-intro .last-post-author .author-pic img { width: 100%; height: auto; }

.blog-page-header-wrap .blog-intro .last-post-author .author-name { padding-left: 25px; font-weight: 500; color: #2d2940; font-size: 14px; }

.blog-page-header-wrap .blog-intro .last-post-author .author-name span { text-transform: capitalize; }

.blog-page-header-wrap .first-post { position: relative; }

.blog-page-header-wrap .first-post .recent-post-tag { position: absolute; top: 30px; left: 30px; padding: 5px 15px; background: #ffb600; color: #fff; border-radius: 3px; font-size: 12px; font-weight: 500; }

.blog-page-header-wrap .first-post .featured { height: 235px; width: 100%; background-size: cover !important; background-position: center center; background-repeat: no-repeat; }

.blog-page-header-wrap .first-post .featured-content { background: #fff; padding: 45px 30px; box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05); position: relative; width: 100%; }

.blog-page-header-wrap .first-post .featured-content:after { content: ''; display: block; position: absolute; top: 32px; left: 0; height: 60px; width: 2px; background: #ffb600; border-radius: 50px; transform: skew(-45deg) rotate(-45deg); transition: all 0.2s ease; }

.blog-page-header-wrap .first-post .featured-content .post-date { font-size: 13px; color: #848484; }

.blog-page-header-wrap .first-post .featured-content .title { font-weight: 500; font-size: 22px; line-height: 31px; color: #2d2940; margin: 18px 0 20px; font-family: Poppins, sans-serif; display: inline-block; }

.blog-page-header-wrap .first-post .featured-content .title:hover { text-decoration: none; color: #848484; }

.blog-page-header-wrap .first-post .featured-content .continue { font-family: Poppins, sans-serif; font-size: 14px; font-weight: 500; color: #ffb600; display: flex; align-items: center; justify-content: flex-start; transition: all 0.2s ease; }

.blog-page-header-wrap .first-post .featured-content .continue i { padding-left: 10px; }

.blog-page-header-wrap .first-post .featured-content .continue:hover { color: #101010; }

.blog-page-header-wrap .first-post .featured-content .continue:after { content: ''; display: block; position: absolute; top: 22px; left: 0; height: 60px; width: 2px; background: #ffb600; border-radius: 50px; transform: skew(-45deg) rotate(-45deg); transition: all 0.2s ease; }

@media screen and (max-width: 768px) { .blog-page-header-wrap { padding: 50px 0 80px; }
  .blog-page-header-wrap .read-more { display: none; }
  .blog-page-header-wrap .blog-intro { margin: 20px 0 10px; }
  .blog-page-header-wrap .blog-intro .blog-title { font-size: 50px; line-height: 60px; text-align: center; }
  .blog-page-header-wrap .blog-intro .blog-description { text-align: center; font-size: 18px; line-height: 28px; padding: 0 10px; }
  .blog-page-header-wrap .blog-intro .last-post-author { justify-content: center; margin: 20px 0 50px; }
  .blog-page-header-wrap .blog-intro .last-post-author .author-pic { width: 50px; height: 50px; }
  .blog-page-header-wrap .blog-intro .last-post-author .author-name { padding-left: 15px; } }
