.post-type-page-header { position: relative; padding: 120px 50px 80px; background: #f5f6f8; }

.post-type-page-header .page-header-inner { position: relative; }

.post-type-page-header .page-header-inner .title { color: #2d2940; font-size: 60px; line-height: 70px; margin: 0; }

.post-type-page-header .page-header-inner .description { max-width: 500px; font-size: 20px; line-height: 29px; }

.cpt-archive { margin: 80px 0 60px; }

.cpt-archive .cpt-card { margin-bottom: 40px; transform: translateY(0); transition: all 0.2s ease; }

.cpt-archive .cpt-card:hover { transform: translateY(-4px); }

.cpt-archive .cpt-card .thumbnail-image { position: relative; }

.cpt-archive .cpt-card .thumbnail-image img { width: 100%; height: auto; object-fit: cover; display: block; }

.cpt-archive .cpt-card .card-content { box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05); padding: 40px 30px; border-radius: 2px; }

.cpt-archive .cpt-card .card-content .card-title-wrap { display: inline-block; width: 100%; }

.cpt-archive .cpt-card .card-content .card-title-wrap .card-title { font-size: 18px; line-height: 27px; font-weight: 500; color: #101010; margin-bottom: 15px; transition: all 0.2s ease; }

.cpt-archive .cpt-card .card-content .card-title-wrap .card-title:hover { color: #868491; }

.cpt-archive .cpt-card .card-content .card-excerpt { font-size: 14px; line-height: 25px; }

.cpt-archive .cpt-card .card-content .card-excerpt p { font-size: 14px; line-height: 25px; margin: 0; }

@media screen and (max-width: 900px) { .post-type-page-header { padding: 85px 0 80px; }
  .post-type-page-header .page-header-inner .title { font-size: 50px; line-height: 60px; text-align: center; } }
