.content-area .blog-post table, .content-area .page-single table { width: 100%; margin: 0 0 40px; font-size: 15px; border-collapse: collapse; border-spacing: 0; }

.content-area .blog-post table th, .content-area .blog-post table td, .content-area .page-single table th, .content-area .page-single table td { padding: 10px; border: 1px solid #e6e6e6; text-align: left; }

.content-area .blog-post ul, .content-area .page-single ul { font-size: 15px; margin: 40px 0 40px 20px; padding: 0; }

.content-area .blog-post ul li, .content-area .page-single ul li { position: relative; padding: 0 0 0 10px; margin: 0 0 14px; border: none; list-style: circle; }

.content-area .blog-post ul li ul, .content-area .blog-post ul li ol, .content-area .page-single ul li ul, .content-area .page-single ul li ol { margin: 15px 0 0 15px; }

.content-area .blog-post ol, .content-area .page-single ol { font-size: 15px; margin: 0 0 20px 20px; padding: 0; }

.content-area .blog-post ol li, .content-area .page-single ol li { position: relative; padding: 0 0 0 10px; margin: 0 0 14px; border: none; list-style: decimal; }

.content-area .blog-post ol li ol, .content-area .blog-post ol li ul, .content-area .page-single ol li ol, .content-area .page-single ol li ul { margin: 15px 0 0 15px; }

.alignleft { float: left; margin: 5px 30px 20px 0; max-width: 100%; height: auto; }

.aligncenter { display: block; margin: 40px auto; max-width: 100%; height: auto; }

.alignright { float: right; margin: 5px 0 20px 30px; clear: right; max-width: 100%; height: auto; }

.alignnone { max-width: 100%; height: auto; margin: 30px 0; }

.gallery-caption { display: block; }

.bypostauthor { display: block; }

.wp-caption { border: 1px solid #f0f0f0; padding: 10px; text-align: center; max-width: 100%; }

.wp-caption figcaption { padding: 5px 0 0; }

.wp-caption.alignleft { margin: 5px 30px 20px 0; }

.wp-caption.alignright { margin: 5px 0 20px 30px; }

.wp-caption.alignnone { margin: 40px 0; }

.wp-caption.aligncenter { margin: 40px auto; }

.wp-caption img { border: 0; height: auto; margin: 0; padding: 0; width: auto; max-width: 100%; }

.wp-caption .wp-caption-text { font-size: 14px; margin: 0; padding: 15px 0 5px 0; }
