@media screen and (max-width: 600px) { .center-sml { text-align: center; } }

@media screen and (max-width: 1000px) { .center-med { text-align: center; } }

.small-title { color: #2d2940; font-size: 13px; line-height: 18px; text-transform: uppercase; font-weight: 400; letter-spacing: 5px; }

.delay-0 { -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s; animation-delay: 0s; }

.delay-25 { -webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; -o-animation-delay: 0.25s; animation-delay: 0.25s; }

.delay-50 { -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; -o-animation-delay: 0.5s; animation-delay: 0.5s; }

.delay-75 { -webkit-animation-delay: 0.75s; -moz-animation-delay: 0.75s; -o-animation-delay: 0.75s; animation-delay: 0.75s; }

.duration-0 { -webkit-animation-duration: 0s; -moz-animation-duration: 0s; -o-animation-duration: 0s; animation-duration: 0s; }

.duration-25 { -webkit-animation-duration: 0.25s; -moz-animation-duration: 0.25s; -o-animation-duration: 0.25s; animation-duration: 0.25s; }

.duration-50 { -webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; -o-animation-duration: 0.5s; animation-duration: 0.5s; }

.duration-75 { -webkit-animation-duration: 0.75s; -moz-animation-duration: 0.75s; -o-animation-duration: 0.75s; animation-duration: 0.75s; }
