#monster-widget-placeholder-2.widget.widget_archive { padding: 20px 25px 35px !important; }

#monster-widget-placeholder-2.widget.widget_archive .widget_title { padding: 0 0 20px !important; margin-bottom: 30px !important; }

#monster-widget-placeholder-2.widget.widget_archive select#archives-dropdown--1 { border-radius: 2px; height: 50px; width: 100%; border: 1px solid #e0e0e0 !important; background: #fff; font-size: 15px; padding: 0 20px; outline: 0; position: relative; }

#monster-widget-placeholder-2.widget.widget_archive select#archives-dropdown--1:focus, #monster-widget-placeholder-2.widget.widget_archive select#archives-dropdown--1:active { outline: 0; }

.widget.widget_archive { background: #f5f6f8; border-radius: 3px; box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2); padding: 0; }

.widget.widget_archive .screen-reader-text { display: none; }

.widget.widget_archive ul { margin: 0; padding: 10px 0; }

.widget.widget_archive ul li { list-style: none; font-size: 14px; line-height: 20px; font-family: 'Poppins', sans-serif; display: flex; align-items: center; justify-content: space-between; width: 100%; border-right: 5px solid transparent; padding: 15px 30px; border-radius: 3px; transition: all 0.2s ease; }

.widget.widget_archive ul li:hover { border-color: #2d2940; }

.widget.widget_archive ul li span { color: #848484; }

.widget.widget_archive ul li a { color: #2e2e2e; transition: all 0.2s ease; }

.widget.widget_archive ul li a:hover { text-decoration: none; color: rgba(72, 72, 72, 0.8); }

.footer #monster-widget-placeholder-2.widget.widget_archive { padding: 0 !important; margin-bottom: 55px !important; }

.footer #monster-widget-placeholder-2.widget.widget_archive .widget_title { padding: 0 !important; }

.footer .widget.widget_archive { padding: 0; border: 0; box-shadow: none; background: transparent; }

.footer .widget.widget_archive ul { margin: -10px 0 0; }

.footer .widget.widget_archive ul li { border: 0; padding: 10px 0; color: #fff; }

.footer .widget.widget_archive ul li a { color: rgba(255, 255, 255, 0.8); border-bottom: 1px solid transparent; }

.footer .widget.widget_archive ul li a:hover { color: #fff; border-color: #fff; }
