.widget.widget_calendar { padding: 0; background: #f5f6f8; border-radius: 3px; box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2); }

.widget.widget_calendar .calendar_wrap { padding: 30px 25px 5px; }

.widget.widget_calendar .calendar_wrap table { border-collapse: collapse; border-spacing: 0; width: 100%; }

.widget.widget_calendar .calendar_wrap table caption { text-align: center; font-weight: 500; color: #848484; margin: 10px 0 15px; font-size: 13px; font-family: Poppins, sans-serif; }

.widget.widget_calendar .calendar_wrap table thead th { background: #ffb600; color: #fff; }

.widget.widget_calendar .calendar_wrap table td, .widget.widget_calendar .calendar_wrap table th { padding: 9px 5px; font-size: 14px; text-align: center; border: 0; color: #484848; }

.widget.widget_calendar .calendar_wrap table td a, .widget.widget_calendar .calendar_wrap table th a { color: #484848; }

.widget.widget_calendar .calendar_wrap table tfoot { display: none; }

.widget.widget_calendar .calendar_wrap table tfoot #prev { text-align: left; text-transform: uppercase; font-size: 12px; }

.widget.widget_calendar .calendar_wrap table tfoot #next { text-align: right; text-transform: uppercase; font-size: 12px; }

.footer .widget.widget_calendar { padding: 0; border: 0; box-shadow: none; background: transparent; }

.footer .widget.widget_calendar .calendar_wrap { padding: 0; }

.footer .widget.widget_calendar .calendar_wrap table caption { color: #fff; }

.footer .widget.widget_calendar .calendar_wrap table td, .footer .widget.widget_calendar .calendar_wrap table th { color: #fff; }

.footer .widget.widget_calendar .calendar_wrap table td a, .footer .widget.widget_calendar .calendar_wrap table th a { color: rgba(255, 255, 255, 0.7); }

.footer .widget.widget_calendar .calendar_wrap table td a:hover, .footer .widget.widget_calendar .calendar_wrap table th a:hover { color: #fff; }
