.widget.widget_categories { padding: 0; background: #f5f6f8; border-radius: 3px; box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2); }

.widget.widget_categories .screen-reader-text { display: none; }

.widget.widget_categories form { padding: 30px 25px 35px; }

.widget.widget_categories:not(ul) { flex: 1; }

.widget.widget_categories ul { margin: 0; padding: 10px 0; width: 100%; }

.widget.widget_categories ul li { list-style: none; font-size: 14px; line-height: 20px; font-family: 'Poppins', sans-serif; display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; border-right: 5px solid transparent; padding: 15px 30px; border-radius: 3px; transition: all 0.2s ease; }

.widget.widget_categories ul li:hover { border-color: #2d2940; }

.widget.widget_categories ul li span { color: #848484; }

.widget.widget_categories ul li a { color: #2e2e2e; transition: all 0.2s ease; }

.widget.widget_categories ul li a:hover { text-decoration: none; color: rgba(72, 72, 72, 0.8); }

.widget.widget_categories ul li .children { display: flex; flex-direction: column; margin: 0 0 0 20px; padding: 0; }

.widget.widget_categories ul li .children li { display: flex; justify-content: space-between; margin: 18px 0 0; border: 0; position: relative; padding: 0; }

.widget.widget_categories ul li .children li:before { content: '-'; color: #484848; display: block; position: absolute; left: -10px; }

.widget.widget_categories ul li .children li a { border: none; padding: 0; color: #484848; font-size: 14px; font-weight: 400; transition: all 0.2s ease; }

.widget.widget_categories ul li .children li a:hover { opacity: 0.8; }

.widget.widget_categories ul li .children li .children { margin: 0 0 0 20px; }

.footer .widget.widget_categories { padding: 0; border: 0; box-shadow: none; background: transparent; }

.footer .widget.widget_categories form { padding: 5px 0 25px; }

.footer .widget.widget_categories ul { margin: -10px 0 0; }

.footer .widget.widget_categories ul li { border: 0; padding: 10px 0; color: #fff; }

.footer .widget.widget_categories ul li a { color: rgba(255, 255, 255, 0.8); border-bottom: 1px solid transparent; }

.footer .widget.widget_categories ul li a:hover { color: #fff; border-color: #fff; }

.footer .widget.widget_categories ul li .children li:before { color: rgba(255, 255, 255, 0.8); }

.footer .widget.widget_categories ul li .children li a { color: rgba(255, 255, 255, 0.8); transition: all 0.2s ease; }

.footer .widget.widget_categories ul li .children li a:hover { color: #fff; opacity: 1; }
