.widget.widget_meta { padding: 0; background: #f5f6f8; border-radius: 3px; box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2); }

.widget.widget_meta ul { margin: 0; padding: 10px 0; }

.widget.widget_meta ul li { list-style: none; font-size: 14px; line-height: 20px; font-family: 'Poppins', sans-serif; display: flex; align-items: center; justify-content: space-between; width: 100%; border-right: 5px solid transparent; padding: 15px 30px; border-radius: 3px; transition: all 0.2s ease; }

.widget.widget_meta ul li:hover { border-color: #2d2940; }

.widget.widget_meta ul li span { color: #848484; }

.widget.widget_meta ul li a { color: #2e2e2e; transition: all 0.2s ease; }

.widget.widget_meta ul li a:hover { text-decoration: none; color: rgba(72, 72, 72, 0.8); }

.footer .widget.widget_meta { padding: 0; border: 0; box-shadow: none; background: transparent; }

.footer .widget.widget_meta ul { margin: -10px 0 0; }

.footer .widget.widget_meta ul li { border: 0; padding: 10px 0; }

.footer .widget.widget_meta ul li a { color: rgba(255, 255, 255, 0.8); border-bottom: 1px solid transparent; }

.footer .widget.widget_meta ul li a:hover { color: #fff; border-color: #fff; }
