.widget.widget_nav_menu { padding: 0; background: #f5f6f8; border-radius: 3px; box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2); }

.widget.widget_nav_menu ul { margin: 0; padding: 10px 0; }

.widget.widget_nav_menu ul li { list-style: none; font-size: 14px; line-height: 20px; font-family: 'Poppins', sans-serif; width: 100%; border-right: 5px solid transparent; padding: 15px 30px; border-radius: 3px; transition: all 0.2s ease; }

.widget.widget_nav_menu ul li:hover { border-color: #2d2940; }

.widget.widget_nav_menu ul li span { color: #848484; }

.widget.widget_nav_menu ul li a { color: #2e2e2e; transition: all 0.2s ease; }

.widget.widget_nav_menu ul li a:hover { text-decoration: none; color: rgba(72, 72, 72, 0.8); }

.widget.widget_nav_menu ul li .sub-menu { margin: 15px 0 10px 20px; padding: 0; }

.widget.widget_nav_menu ul li .sub-menu li { position: relative; margin: 18px 0 0; padding: 0; border: 0; }

.widget.widget_nav_menu ul li .sub-menu li:before { content: '-'; color: #484848; display: block; position: absolute; left: -10px; }

.widget.widget_nav_menu ul li .sub-menu li a { border: none; padding: 0; color: #484848; font-size: 14px; font-weight: 400; }

.widget.widget_nav_menu ul li .sub-menu li a:hover { opacity: 0.8; }

.widget.widget_nav_menu ul li .sub-menu li .sub-menu { margin: 14px 0 0 15px; font-size: 13px; }

.footer .widget.widget_nav_menu { padding: 0; border: 0; box-shadow: none; background: transparent; }

.footer .widget.widget_nav_menu ul { margin: -10px 0 0; }

.footer .widget.widget_nav_menu ul li { border: 0; padding: 10px 0; }

.footer .widget.widget_nav_menu ul li a { color: rgba(255, 255, 255, 0.8); border-bottom: 1px solid transparent; }

.footer .widget.widget_nav_menu ul li a:hover { color: #fff; border-color: #fff; }

.footer .widget.widget_nav_menu ul li .sub-menu li a { color: rgba(255, 255, 255, 0.8); border-bottom: 1px solid transparent; transition: all 0.2s ease; }

.footer .widget.widget_nav_menu ul li .sub-menu li a:hover { color: #fff; border-color: #fff; opacity: 1; }
