.widget.widget_search { padding: 0; background: #f5f6f8; border-radius: 3px; box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2); }

.widget.widget_search .search-form { position: relative; margin: 30px; display: inline-flex; width: calc(100% - 60px); }

.widget.widget_search .search-form input { border: 2px solid #ffb600; background: #f5f5f6; border-radius: 2px; padding: 15px 65px 15px 20px !important; margin-bottom: 0; }

.widget.widget_search .search-form input[type="search"]:focus { background: #fff; }

.widget.widget_search .search-form button { position: absolute; border-radius: 0 3px 3px 0; border: 2px solid #ffb600; top: 0; right: 0; padding: 0; width: 56px; height: 56px; background: #ffb600; color: #fff; text-align: center; font-size: 14px; outline: none; transition: all 0.25s ease; }

.footer .widget.widget_search { padding: 0; border: 0; box-shadow: none; background: transparent; }

.footer .widget.widget_search .search-form { margin: 0 0 20px; width: 100%; }
