.widget.widget_tag_cloud { padding: 0; background: #f5f6f8; border-radius: 3px; box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2); }

.widget.widget_tag_cloud .tagcloud { padding: 30px; }

.widget.widget_tag_cloud .tagcloud a { display: inline-block; vertical-align: top; padding: 4px 8px 5px; font-size: 12px !important; color: #868491; border: 1px solid #868491; margin: 0 6px 7px 0; text-decoration: none; text-transform: lowercase; border-radius: 2px; font-family: Poppins, sans-serif; transition: all 0.2s ease; }

.widget.widget_tag_cloud .tagcloud a:hover { color: #ffb600; border-color: #ffb600; }

.footer .widget.widget_tag_cloud { padding: 0; border: 0; box-shadow: none; background: transparent; }

.footer .widget.widget_tag_cloud .tagcloud { padding: 0; }

.footer .widget.widget_tag_cloud .tagcloud a { margin: 0 6px 15px 0; color: rgba(255, 255, 255, 0.9); }
