.widget.widget_text { padding: 0; background: #f5f6f8; border-radius: 3px; box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2); }

.widget.widget_text .textwidget { padding: 30px 20px; }

.widget.widget_text .textwidget img { max-width: 100%; height: auto; }

.widget.widget_text .textwidget p { font-size: 14px; line-height: 22px; color: #848484; }

.widget.widget_text .textwidget b, .widget.widget_text .textwidget strong { font-size: 13px; font-family: Poppins, sans-serif; display: inline-block; padding: 8px 0; font-weight: 500; color: #848484; }

.footer .widget.widget_text { padding: 0; border: 0; box-shadow: none; background: transparent; }

.footer .widget.widget_text .textwidget { padding: 0 0 20px; }

.footer .widget.widget_text .textwidget p, .footer .widget.widget_text .textwidget b, .footer .widget.widget_text .textwidget strong { color: #fff; }
