.copyright-wrapper.style-1 { display: block; padding: 35px 0; background: #fff; border-top: 1px solid #eee; }

.copyright-wrapper.style-1 .copyright-inner { display: flex; align-items: center; justify-content: space-between; }

.copyright-wrapper.style-1 .copyright-inner .left { display: flex; align-items: center; }

.copyright-wrapper.style-1 .copyright-inner .left .cr-text { font-size: 12px; color: #2e2e2e; font-family: Poppins, sans-serif; font-weight: 400; }

.copyright-wrapper.style-1 .copyright-inner .left .cr-social { margin-left: 25px; display: flex; align-items: center; }

.copyright-wrapper.style-1 .copyright-inner .left .cr-social a { width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 50px; margin: 0 2px; transition: all .15s ease; }

.copyright-wrapper.style-1 .copyright-inner .left .cr-social a:hover { border-color: rgba(72, 72, 72, 0.8); }

.copyright-wrapper.style-1 .copyright-inner .left .cr-social a i { font-size: 12px; padding: 0 10px; color: #2e2e2e; }

.copyright-wrapper.style-1 .copyright-inner .right .cr-menu ul { margin: 0; padding: 0; display: flex; align-items: center; }

.copyright-wrapper.style-1 .copyright-inner .right .cr-menu ul li { list-style: none; margin: 0 15px; }

.copyright-wrapper.style-1 .copyright-inner .right .cr-menu ul li a { text-decoration: none; color: #2e2e2e; font-size: 12px; font-family: Poppins, sans-serif; transition: all 0.15s ease; }

.copyright-wrapper.style-1 .copyright-inner .right .cr-menu ul li a:hover { color: rgba(72, 72, 72, 0.8); }

@media screen and (max-width: 785px) { .copyright-wrapper.style-1 .copyright-inner { flex-direction: column; }
  .copyright-wrapper.style-1 .copyright-inner .left { flex-direction: column; }
  .copyright-wrapper.style-1 .copyright-inner .left .cr-social { margin-top: 18px; margin-left: 0; }
  .copyright-wrapper.style-1 .copyright-inner .right { flex-direction: column; }
  .copyright-wrapper.style-1 .copyright-inner .right .cr-menu { margin-top: 15px; } }
