.content-area {

  .blog-post, .page-single {

    // Tables
    table {
      width: 100%;
      margin: 0 0 40px;
      font-size: 15px;
      border-collapse: collapse;
      border-spacing: 0;

      th, td {
        padding: 10px;
        border: 1px solid #e6e6e6;
        text-align: left;
      }
    }

    // UL
    ul {
      font-size: 15px;
      margin: 40px 0 40px 20px;
      padding: 0;

      li {
        position: relative;
        padding: 0 0 0 10px;
        margin: 0 0 14px;
        border: none;
        list-style: circle;

        ul, ol {
          margin: 15px 0 0 15px;
        }
      }
    }

    // OL
    ol {
      font-size: 15px;
      margin: 0 0 20px 20px;
      padding: 0;

      li {
        position: relative;
        padding: 0 0 0 10px;
        margin: 0 0 14px;
        border: none;
        list-style: decimal;

        ol, ul {
          margin: 15px 0 0 15px;
        }
      }
    }
  }
}

.alignleft {
  float: left;
  margin: 5px 30px 20px 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: 40px auto;
  max-width: 100%;
  height: auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 30px;
  clear: right;
  max-width: 100%;
  height: auto;
}
.alignnone {
  max-width: 100%;
  height: auto;
  margin: 30px 0;
}
.gallery-caption {
  display: block;
}
.bypostauthor {
  display: block;
}
.wp-caption {
  border: 1px solid #f0f0f0;
  padding: 10px;
  text-align: center;
  max-width: 100%;

  figcaption {
    padding: 5px 0 0;
  }

  &.alignleft {
    margin: 5px 30px 20px 0;
  }

  &.alignright {
    margin: 5px 0 20px 30px;
  }

  &.alignnone {
    margin: 40px 0;
  }

  &.aligncenter {
    margin: 40px auto;
  }

  img {
    border: 0;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    max-width: 100%;
  }

  .wp-caption-text {
    font-size: 14px;
    margin: 0;
    padding: 15px 0 5px 0;
  }
}