.header.style-1 {
  z-index: 999;
  padding: 25px 0;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      text-decoration: none;

      .site-title {
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #111;
      }

      img {
        max-width: 100%;
        height: auto;

        &.light {
          display: none;
        }

        &.dark {
          display: block;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .number-wrap {
        border-left: 1px solid rgba(0,0,0,0.5);
        display: flex;
        align-items: center;
        padding-left: 25px;

        i {
          color: #ffb600;
          font-size: 22px;
          padding-right: 15px;
        }

        a {
          font-size: 20px;
          line-height: 26px;
          font-weight: 600;
          letter-spacing: 0.3px;
          color: #101010;
          font-family: Poppins, sans-serif;
        }
      }

      .button-wrap {
        padding: 15px 35px;
        background: #ffb600;
        border-radius: 2px;
        cursor: pointer;
        margin-left: 20px;
        transition: all 0.2s ease;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          position: relative;
          left: 0;
          margin-left: 10px !important;
          transition: all 0.2s ease;
          color: #fff;
        }

        &:active {
          top: 2px !important;
        }

        &:hover {

          &:after {
            width: 50% !important;
          }

          i {
            left: 7px !important;
          }
        }

        &:after {
          width: 40%;
          height: 200%;
          background: rgba(255,255,255,0.1);
          z-index: 1;
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          transform-origin: 0 0;
          transform: rotate(-20deg);
          content: '';
          position: absolute;
          transition: all 0.2s ease;
        }

        span {
          font-size: 14px;
          font-family: Poppins, sans-serif;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}

// Normal header + not sticky (spacer)
body.sticky-header:not(.transparent_header) {

  .hs1-fixed-spacer {
    height: 115px;
    display: block;
  }
}

// Transparent header
body.transparent_header {

  .header.style-1 {
    padding: 45px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.75) 0, transparent 100%);
    border-bottom: 0;

    .header-inner {

      .logo {

        .site-title {
          color: #fff;
        }

        img.dark {
          display: none;
        }

        img.light {
          display: inline-block;
        }
      }

      .number-wrap {
        border-left: 1px solid rgba(255,255,255,0.5);

        i {
          color: #fff;
        }

        a {
          color: #fff;
        }
      }
    }
  }
}

body.blog_header_tp {

  .header {
    background: #f5f6f8 !important;
    border-bottom: 0 !important;
  }
}

// Normal header + sticky
body.sticky-header {

  .header.style-1 {
    position: fixed;
    width: 100%;
    transition: background 0.3s ease, padding 0.25s ease, opacity 0.3s ease;

    &.sticky-active {
      background: rgba(255, 255, 255, 0.95);
      padding: 10px 0;
    }
  }
}

// Transparent header + sticky
body.transparent_header.sticky-header {

  .header.style-1 {
    position: fixed;
    transition: background 0.3s ease, padding 0.25s ease, opacity 0.3s ease;

    &.sticky-active {
      background: rgba(255,255,255,0.95);
      padding: 10px 0;

      .header-inner {

        .logo {

          img.light {
            display: none;
          }

          img.dark {
            display: block;
          }
        }

        .right {

          .number-wrap {
            border-color: rgba(0,0,0,0.5);

            i {
              color: #101010;
            }

            a {
              color: #101010;
            }
          }
        }
      }
    }
  }
}

body.fullwidth_header {

  .header.style-1 > .container {
    max-width: 100% !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media screen and (max-width: 990px) {
  .header.style-1 {
    padding: 15px 10px;

    .header-inner {

      .right {
        display: none;
      }
    }
  }

  body.transparent_header {

    .header.style-1 {
      padding: 25px 0;
    }
  }

  body.fullwidth_header {

    .header.style-1 > .container {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }
}


// Responsive
@media screen and (max-width: 990px) {
  .hs1-fixed-spacer, .header.style-1 {
    display: none !important;
  }
}


// Admin bar
body.logged-in.admin-bar.transparent_header {

  .header.style-1 {
    top: 32px;
  }
}

@media screen and (max-width: 782px) {
  body.logged-in.admin-bar.transparent_header {

    .header.style-1 {
      top: 46px;
    }
  }
}