.header.style-2 {
  position: relative;
  z-index: 999;

  .hs2-top {
    position: relative;
    z-index: 999;

    .hs2-top-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 30px 12px;

      .logo {

        img {
          max-width: 100%;
          height: auto;

          &.light {
            display: none;
          }

          &.dark {
            display: block;
          }
        }
      }

      .hs2-top-inner-contact {
        display: flex;
        align-items: center;

        .hs2-icon-box {
          margin-left: 55px;
          margin-top: 5px;
          display: flex;
          align-items: center;

          .hs2-icon {
            margin-right: 15px;
            width: 45px;
            height: 45px;
            border-radius: 50px;
            border: 1px solid rgba(0,0,0,0.5);
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              font-size: 20px;
              color: #ffb600;
            }
          }

          .hs2-text-wrap {

            .top-text {
              color: #101010;
              font-weight: 700;
            }
            .bottom-text {
              color: rgba(0,0,0,0.85);
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .hs2-main {
    position: relative;
    z-index: 999;

    .hs2-main-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px 0 5px;
      border-radius: 1px;
      height: 70px;
      background: #fff;
      box-shadow: 0 0 80px 10px rgba(0,0,0,0.05);
      position: relative;
      top: 30px;

      .hs2-social-wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          width: 35px;
          height: 35px;
          border-radius: 50px;
          border: 1px solid rgba(0,0,0,0.5);

          i {
            font-size: 12px;
            color: #222;
            display: inline;
            transition: color 0.25s ease;

            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}


// Transparent header
body.transparent_header {

  // Toolbar active
  &.toolbar-active {

    .header.style-2 {
      top: 41px;
    }
  }

  // No toolbar
  .header.style-2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0px, transparent 95%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .hs2-top {

      .hs2-top-inner {

        .logo {

          img.dark {
            display: none;
          }

          img.light {
            display: inline-block;
          }
        }
      }

      .hs2-top-inner-contact {

        .hs2-icon-box {

          .hs2-icon {
            border: 1px solid rgba(255,255,255,0.5);

            i {
              font-size: 20px;
              color: #ffb600;
            }
          }

          .hs2-text-wrap {

            .top-text {
              color: #fff;
            }
            .bottom-text {
              color: rgba(255,255,255,0.85);
            }
          }
        }
      }
    }
  }
}


// Sticky header
body.sticky-header {

  .header.style-2 {

    &.sticky-active {

      .hs2-main {

        .hs2-main-sticky-spacer {
          display: block;
        }

        .hs2-main-inner {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
    }
  }
}


// Responsive
@media screen and (max-width: 990px) {
  .header.style-2, .toolbar {
    display: none !important;
  }
}


// Admin bar spacing when transparent/toolbar active
body.logged-in.admin-bar.transparent_header {

  &.toolbar-active {

    .header.style-2 {
      top: 73px;
    }
  }

  .header.style-2 {
    top: 32px;
  }
}

@media screen and (max-width: 782px) {
  body.logged-in.admin-bar.transparent_header {

    &.toolbar-active {

      .header.style-2 {
        top: 87px;
      }
    }

    .header.style-2 {
      top: 46px;
    }
  }
}