.header.style-3 {
  position: relative;
  z-index: 999;

  .hs3-toolbar {

  }

  .hs3-top {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px;

    .logo {

      img {
        max-width: 100%;
        height: auto;

        &.light {
          display: none;
        }

        &.dark {
          display: block;
        }
      }
    }
  }

  .hs3-main {
    position: relative;
    z-index: 999;
    padding: 0 0 10px;

    .hs3-main-inner {
      margin: 0 auto;
      transition: background 0.2s ease;
      box-shadow: none;
    }
  }
}


// Transparent header
body.transparent_header {

  // Toolbar active
  &.toolbar-active {

    .header.style-3 {
      top: 41px;
    }
  }

  .header.style-3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.5) 0, transparent 100%);

    .hs3-top {

      .logo {

        img.dark {
          display: none;
        }

        img.light {
          display: inline-block;
        }
      }
    }

    .hs3-main {

      .hs3-main-inner {
        background: transparent;
      }
    }
  }
}


// Sticky header
body.sticky-header {

  .header.style-3 {

    &.sticky-active {

      .hs3-main {

        .hs3-main-sticky-spacer {
          display: block;
        }

        .hs3-main-inner {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          box-shadow: 0 0 80px 10px rgba(0,0,0,0.05);
        }
      }
    }
  }
}


// Responsive
@media screen and (max-width: 990px) {
  .header.style-3, .toolbar {
    display: none !important;
  }
}


// Admin bar spacing when transparent/toolbar active
body.logged-in.admin-bar.transparent_header {

  &.toolbar-active {

    .header.style-3 {
      top: 73px;
    }
  }

  .header.style-3 {
    top: 32px;
  }
}

@media screen and (max-width: 782px) {
  body.logged-in.admin-bar.transparent_header {

    &.toolbar-active {

      .header.style-3 {
        top: 87px;
      }
    }

    .header.style-3 {
      top: 46px;
    }
  }
}