.toolbar {
  position: relative;
  background: #eee;
  padding: 8px 0;

  .toolbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .toolbar-number {
        margin-right: 30px;

        i {
          margin-right: 8px;
          color: #444;
        }

        span {
          font-size: 13px;
          color: #444;
          font-family: Poppins, sans-serif;
        }
      }

      .toolbar-location {

        i {
          margin-right: 8px;
          color: #444;
        }

        span {
          font-size: 13px;
          color: #444;
          font-family: Poppins, sans-serif;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .toolbar-shop {

        a {
          display: flex;
          align-items: center;

          span {
            font-size: 13px;
            color: #444;
            font-family: Poppins, sans-serif;
          }

          i {
            margin-right: 8px;
            position: relative;
            top: -1px;
          }
        }
      }

      .toolbar-social {
        display: flex;
        align-items: center;
        margin-left: 25px;

        i {
          font-size: 16px;
          margin-left: 8px;
          width: 25px;
          text-align: center;
          transition: all 0.2s ease;
          color: #444;

          &:hover {
            opacity: 0.85;
          }
        }
      }
    }
  }
}