.accordion-wrapper { position: relative; display: flex; flex-direction: column; padding: 40px 0; }

.accordion-wrapper .accordion-item { display: block; }

.accordion-wrapper .accordion-item .item-head { background: #ffb600; display: flex; align-items: center; justify-content: space-between; padding: 20px 30px; border-bottom: 1px solid rgba(255, 255, 255, 0.15); cursor: pointer; box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05); }

.accordion-wrapper .accordion-item .item-head:hover .item-title { opacity: 0.8; }

.accordion-wrapper .accordion-item .item-head .item-icon { display: flex; align-items: center; justify-content: center; padding-left: 10px; }

.accordion-wrapper .accordion-item .item-head .item-icon i { font-size: 20px; color: #fff; }

.accordion-wrapper .accordion-item .item-head .item-title { display: flex; align-items: center; justify-content: center; color: #fff; font-family: Poppins, sans-serif; font-weight: 600; font-size: 15px; transition: all 0.2s ease; }

.accordion-wrapper .accordion-item .item-head .item-title i { padding-right: 20px; font-size: 22px; }

.accordion-wrapper .accordion-item .item-content { padding: 30px; border: 1px solid #eee; display: none; width: 100%; }
