.blog-carousel-wrapper { position: relative; }

.blog-carousel-wrapper .blog-carousel { margin: 0 -15px; }

.blog-carousel-wrapper .blog-carousel.slick-initialized .slick-slide { padding: 0 15px; }

.blog-grid .blog-item:first-child { position: relative; top: 0; }

.blog-grid .blog-item:nth-child(2) { position: relative; top: -60px; }

.blog-grid .blog-item:nth-child(3) { position: relative; top: -30px; }

.blog-grid .blog-item { margin-bottom: 30px; position: relative; }

.blog-grid .blog-item .blog-item-inner { position: relative; transform: translateY(0); transition: all 0.2s ease; }

.blog-grid .blog-item .blog-item-inner .min-read { position: absolute; top: 20px; left: 20px; color: #fff; }

.blog-grid .blog-item .blog-item-inner:hover { transform: translateY(-4px); }

.blog-grid .blog-item .blog-item-inner:hover .blog-bottom:after { height: 80px; top: 12px; }

.blog-grid .blog-item .blog-item-inner .blog-grid-img { position: relative; width: 100%; background: #333; border-radius: 3px; overflow: hidden; outline: 0; }

.blog-grid .blog-item .blog-item-inner .blog-grid-img:after { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.2); }

.blog-grid .blog-item .blog-item-inner .blog-grid-img img { width: 100%; height: auto; display: block; }

.blog-grid .blog-item .blog-item-inner .blog-bottom { padding: 40px 30px; text-align: left; position: relative; box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05); margin-top: 10px; border-top: 1px solid #f9f9f9; transition: all 0.2s ease; transform: translateY(0); }

.blog-grid .blog-item .blog-item-inner .blog-bottom:after { content: ''; display: block; position: absolute; top: 22px; left: 0; height: 60px; width: 2px; background: #ffb600; border-radius: 50px; transform: skew(-45deg) rotate(-45deg); transition: all 0.2s ease; }

.blog-grid .blog-item .blog-item-inner .blog-bottom .blog-grid-categories { font-size: 13px; }

.blog-grid .blog-item .blog-item-inner .blog-bottom .blog-grid-categories a { outline: 0; font-weight: 500; transition: all 0.2s ease; }

.blog-grid .blog-item .blog-item-inner .blog-bottom .blog-grid-categories a:hover { color: #101010; }

.blog-grid .blog-item .blog-item-inner .blog-bottom .blog-grid-title { font-size: 16px; line-height: 25px; font-weight: 500; color: #2d2940; padding: 15px 0; font-family: Poppins, sans-serif; transition: all 0.2s ease; }

.blog-grid .blog-item .blog-item-inner .blog-bottom .blog-grid-title i { padding-left: 5px; position: relative; top: 2px; }

.blog-grid .blog-item .blog-item-inner .blog-bottom .blog-grid-title:hover { color: #868491; }

.blog-grid .blog-item .blog-item-inner .blog-bottom .blog-grid-date { font-size: 13px; color: #868491; }
