.custom-button-wrapper { display: flex; }

.custom-button-wrapper.alignment_left { justify-content: flex-start; }

.custom-button-wrapper.alignment_center { justify-content: center; }

.custom-button-wrapper.alignment_right { justify-content: flex-end; }

.custom-button-wrapper .custom-button { display: flex; align-items: center; justify-content: center; transition: all 0.25s ease; overflow: hidden; }

.custom-button-wrapper .custom-button a, .custom-button-wrapper .custom-button .btn-link { font-family: Poppins, sans-serif; font-weight: 600; }

.custom-button-wrapper .custom-button i, .custom-button-wrapper .custom-button a, .custom-button-wrapper .custom-button .btn-link { transition: all 0.2s ease; position: relative; }

.custom-button-wrapper .custom-button i { left: 0; }

.custom-button-wrapper .custom-button:hover { cursor: pointer; }

.custom-button-wrapper .custom-button.corners_round { border-radius: 50px; }

.custom-button-wrapper .custom-button.corners_rounded { border-radius: 2px; }

.custom-button-wrapper .custom-button.corners_square { border-radius: 0; }

.custom-button-wrapper .custom-button.size_small { padding: 10px 25px; font-size: 12px; }

.custom-button-wrapper .custom-button.size_small i { font-size: 13px; margin-left: 10px; }

.custom-button-wrapper .custom-button.size_medium { padding: 15px 40px; font-size: 14px; }

.custom-button-wrapper .custom-button.size_medium i { font-size: 15px; margin-left: 10px; }

.custom-button-wrapper .custom-button.size_large { font-size: 16px; padding: 22px 55px; }

.custom-button-wrapper .custom-button.size_large i { font-size: 17px; margin-left: 10px; }

.custom-button-wrapper.fancy-button .custom-button { position: relative; }

.custom-button-wrapper.fancy-button .custom-button:active { top: 2px; }

.custom-button-wrapper.fancy-button .custom-button:hover:after { width: 50%; }

.custom-button-wrapper.fancy-button .custom-button:hover i { left: 7px; }

.custom-button-wrapper.fancy-button .custom-button:after { width: 40%; height: 200%; background: rgba(255, 255, 255, 0.1); z-index: 1; right: 0; top: 0; margin: -5px 0 0 -5px; transform-origin: 0 0; transform: rotate(-20deg); content: ''; position: absolute; transition: all 0.2s ease; }
