.custom-image img { width: 100%; height: auto; max-width: 100%; border-radius: 5px; overflow: hidden; box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15); }

.custom-image .img-caption { text-align: center; padding: 20px; font-size: 12px; text-transform: uppercase; color: #2d2940; font-weight: 400; letter-spacing: 5px; }
