.featured-box.style-1 { position: relative; background-size: cover !important; background-repeat: no-repeat !important; background-position: center center !important; padding: 230px 30px 30px; border-radius: 2px; overflow: hidden; margin-bottom: 20px; box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05); transform: none; transition: transform 0.1s ease; }

.featured-box.style-1:hover { transform: translateY(-5px); }

.featured-box.style-1:after { position: absolute; top: 0; left: 0; right: 0; bottom: 0; content: ''; display: block; background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9) 100%); }

.featured-box.style-1 .featured-box-inner { position: relative; z-index: 2; }

.featured-box.style-1 .featured-box-inner .featured-box-title { display: flex; align-items: center; }

.featured-box.style-1 .featured-box-inner .featured-box-title i { font-size: 20px; padding-right: 10px; color: #fff; }

.featured-box.style-1 .featured-box-inner .featured-box-title span { font-size: 17px; font-weight: 600; padding: 15px 0 10px; color: #fff; font-family: Poppins, sans-serif; }

.featured-box.style-1 .featured-box-inner .featured-box-text { font-size: 14px; line-height: 23px; color: #fff; opacity: 0.9; margin: 10px 0; }

.featured-box.style-1 .featured-box-inner .featured-box-link { font-size: 14px; line-height: 23px; padding: 10px 0; }

.featured-box.style-1 .featured-box-inner .featured-box-link a { display: flex; align-items: center; }

.featured-box.style-1 .featured-box-inner .featured-box-link a:hover i { padding-left: 20px; }

.featured-box.style-1 .featured-box-inner .featured-box-link a span { font-weight: 600; color: #ffb600; font-family: Poppins, sans-serif; border-bottom: 1px solid transparent; }

.featured-box.style-1 .featured-box-inner .featured-box-link a i { transition: all 0.2s ease; padding-left: 10px; color: #fff; font-size: 16px; }

.featured-box.style-2 { position: relative; border-radius: 2px; overflow: hidden; margin-bottom: 20px; box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05); transform: none; transition: transform 0.1s ease; }

.featured-box.style-2:hover { transform: translateY(-5px); }

.featured-box.style-2 .featured-img-wrap { width: 100%; height: 200px; position: relative; z-index: 3; }

.featured-box.style-2 .featured-img-wrap:after { position: absolute; top: 0; left: 0; right: 0; bottom: 0; content: ''; display: block; background: linear-gradient(transparent, rgba(0, 0, 0, 0.25)); }

.featured-box.style-2 .featured-img-wrap .featured-img { content: ''; display: block; position: relative; background-size: cover !important; background-repeat: no-repeat !important; background-position: center center !important; width: 100%; height: 100%; }

.featured-box.style-2 .featured-box-inner { position: relative; z-index: 2; padding: 30px; top: -2px; }

.featured-box.style-2 .featured-box-inner .featured-box-title { display: flex; align-items: center; }

.featured-box.style-2 .featured-box-inner .featured-box-title i { font-size: 20px; padding-right: 10px; color: #101010; }

.featured-box.style-2 .featured-box-inner .featured-box-title span { font-size: 17px; font-weight: 600; padding: 15px 0 10px; color: #101010; font-family: Poppins, sans-serif; }

.featured-box.style-2 .featured-box-inner .featured-box-text { font-size: 14px; line-height: 23px; color: #333; opacity: 0.9; margin: 10px 0; }

.featured-box.style-2 .featured-box-inner .featured-box-link { font-size: 14px; line-height: 23px; padding: 10px 0; }

.featured-box.style-2 .featured-box-inner .featured-box-link a { display: flex; align-items: center; }

.featured-box.style-2 .featured-box-inner .featured-box-link a:hover i { padding-left: 20px; }

.featured-box.style-2 .featured-box-inner .featured-box-link a span { font-weight: 600; color: #ffb600; font-family: Poppins, sans-serif; }

.featured-box.style-2 .featured-box-inner .featured-box-link a i { transition: all 0.2s ease; padding-left: 10px; color: #101010; font-size: 16px; }

.featured-box.style-3 { position: relative; border-radius: 2px; overflow: hidden; margin-bottom: 20px; box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05); transform: none; transition: transform 0.1s ease; }

.featured-box.style-3:hover { transform: translateY(-5px); }

.featured-box.style-3 .featured-img-wrap { width: 100%; height: 200px; position: relative; z-index: 3; }

.featured-box.style-3 .featured-img-wrap:after { position: absolute; top: 0; left: 0; right: 0; bottom: 0; content: ''; display: block; background: linear-gradient(transparent, rgba(0, 0, 0, 0.25)); }

.featured-box.style-3 .featured-img-wrap .featured-img { content: ''; display: block; position: relative; background-size: cover !important; background-repeat: no-repeat !important; background-position: center center !important; width: 100%; height: 100%; }

.featured-box.style-3 .featured-box-inner { position: relative; z-index: 2; padding: 30px; top: -2px; }

.featured-box.style-3 .featured-box-inner .featured-box-title { display: flex; align-items: center; }

.featured-box.style-3 .featured-box-inner .featured-box-title i { font-size: 20px; padding-right: 10px; color: #101010; }

.featured-box.style-3 .featured-box-inner .featured-box-title span { font-size: 17px; font-weight: 600; padding: 15px 0 10px; color: #101010; font-family: Poppins, sans-serif; }

.featured-box.style-3 .featured-box-inner .featured-box-text { font-size: 14px; line-height: 23px; color: #333; opacity: 0.9; margin: 10px 0; }

.featured-box.style-3 .featured-box-inner .featured-box-link { font-size: 14px; line-height: 23px; padding: 10px 0; }

.featured-box.style-3 .featured-box-inner .featured-box-link a { display: flex; align-items: center; }

.featured-box.style-3 .featured-box-inner .featured-box-link a:hover i { padding-left: 20px; }

.featured-box.style-3 .featured-box-inner .featured-box-link a span { font-weight: 600; color: #ffb600; font-family: Poppins, sans-serif; }

.featured-box.style-3 .featured-box-inner .featured-box-link a i { transition: all 0.2s ease; padding-left: 10px; color: #101010; font-size: 16px; }
