.icon-box { display: flex; flex-direction: column; border: 1px solid rgba(0, 0, 0, 0.08); border-radius: 4px; padding: 35px 40px 25px; margin-bottom: 20px; transition: all 0.2s ease; box-shadow: none; transform: none; }

.icon-box:hover, .icon-box.is-active { box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15); transform: translateY(-30px); }

.icon-box:hover .icon-box-icon, .icon-box.is-active .icon-box-icon { width: 80px; height: 80px; }

.icon-box .icon-box-icon { display: flex; align-items: center; justify-content: center; opacity: 1; color: #fff; background: #333; padding: 10px; text-align: center; height: 70px; width: 70px; min-width: 70px; position: relative; top: 0; border: 2px solid transparent; transition: all 0.25s ease; }

.icon-box .icon-box-icon:after { width: 150%; height: 200%; background: rgba(255, 255, 255, 0.1); z-index: 1; right: 0; top: 0; transform-origin: 0 0; transform: rotate(-75deg); content: ''; position: absolute; transition: all 0.2s ease; }

.icon-box .icon-box-icon:hover { opacity: 0.9; }

.icon-box .icon-box-icon i { display: block; font-size: 22px; }

.icon-box .icon-content { display: flex; flex-direction: column; }

.icon-box .icon-content .icon-box-title { color: #2e2e2e; padding-top: 20px; font-weight: 600; font-family: Poppins, sans-serif; }

.icon-box .icon-content .icon-box-text { padding: 20px 0; color: #727272; font-size: 14px; line-height: 23px; }

.icon-box.small .icon-box-icon { width: 50px; height: 50px; }

.icon-box.small .icon-box-icon i { font-size: 16px; }

.icon-box.large .icon-box-icon { width: 90px; height: 90px; }

.icon-box.large .icon-box-icon i { font-size: 28px; }

.icon-box.rounded .icon-box-icon { border-radius: 100px; }

.icon-box.center-align { align-items: center; }

.icon-box.center-align .icon-content { align-items: center; margin-top: 10px; }

.icon-box.center-align .icon-content .icon-box-text { text-align: center; }

.icon-box.icon-left { flex-direction: row; }

.icon-box.icon-left .icon-box-icon { margin-right: 20px; float: left; }

.icon-box.icon-left .icon-box-title { padding-top: 0; }

.icon-box.icon-left .icon-box-text { overflow: hidden; }

.icon-box.bg-disabled .icon-box-icon { min-width: auto; background: transparent !important; width: fit-content; height: fit-content; padding: 0; }

.icon-box.bg-disabled .icon-box-icon i { color: #111; }

@media screen and (max-width: 785px) { .icon-box:hover, .icon-box.is-active { margin-top: 60px; } }
