.staff-wrap .staff-member { text-align: center; box-shadow: 0 30px 50px rgba(34, 34, 34, 0.05); background: #fff; padding: 40px; margin-bottom: 50px; border-radius: 5px; border-top: 2px solid #eee; transform: none; transition: all 0.2s ease; }

.staff-wrap .staff-member:hover { transform: translateY(-4px) scale(1.05); }

.staff-wrap .staff-member .staff-img { margin-bottom: 20px; }

.staff-wrap .staff-member .staff-img img { border-radius: 50%; width: 70px; height: 70px; margin: 0 auto; box-shadow: 0 30px 50px rgba(34, 34, 34, 0.05); }

.staff-wrap .staff-member .staff-inner .staff-name { font-size: 16px; line-height: 22px; font-weight: 700; color: #222; font-family: Poppins, sans-serif; }

.staff-wrap .staff-member .staff-inner .staff-position { color: #999; font-size: 13px; line-height: 16px; margin: 5px 0 10px; display: inline-block; font-weight: 500; }

.staff-wrap .staff-member .staff-inner .staff-excerpt { max-width: 500px; margin: 0 auto; }

.staff-wrap .staff-member .staff-inner .staff-excerpt p { color: #999; font-size: 14px; margin: 12px 0 15px; }

.staff-wrap .staff-member .staff-inner .staff-link { opacity: 1; font-size: 12px; line-height: 16px; color: #ffb600; margin-top: 5px; letter-spacing: 5px; text-transform: uppercase; transition: all .2s ease; }

.staff-wrap .staff-member .staff-inner .staff-link:hover { color: #2d2940; }
