.vc_tta-container { margin: 20px 0; border: 1px solid #eee; }

.vc_tta-container .vc_tta-panel-heading { background: #ffb600; box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.vc_tta-container .vc_tta-panel-heading a { display: flex !important; align-items: center; padding: 20px 30px !important; }

.vc_tta-container .vc_tta-panel-heading a i, .vc_tta-container .vc_tta-panel-heading a span { color: rgba(255, 255, 255, 0.7); font-size: 15px !important; font-weight: 700; }

.vc_tta-container .vc_tta-tabs-container { background: #ffb600; box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.vc_tta-container .vc_tta-tabs-container .vc_tta-tab { border-bottom: 3px solid transparent; position: relative; top: 1px; }

.vc_tta-container .vc_tta-tabs-container .vc_tta-tab.vc_active { border-bottom-color: rgba(255, 255, 255, 0.7); }

.vc_tta-container .vc_tta-tabs-container .vc_tta-tab.vc_active a i, .vc_tta-container .vc_tta-tabs-container .vc_tta-tab.vc_active a span { color: white; }

.vc_tta-container .vc_tta-tabs-container .vc_tta-tab a { display: flex !important; align-items: center; padding: 15px 50px !important; }

.vc_tta-container .vc_tta-tabs-container .vc_tta-tab a i, .vc_tta-container .vc_tta-tabs-container .vc_tta-tab a span { color: rgba(255, 255, 255, 0.7); font-size: 15px !important; font-weight: 700; }

.vc_tta-container .vc_tta-panel-body { padding: 30px 25px !important; }

.vc_tta-container .wpb_text_column :first-child { margin-top: 0; }
