.testimonials-carousel-wrapper { position: relative; }

.testimonials-carousel-wrapper .testimonials-carousel { margin: 0 -15px; }

.testimonials-carousel-wrapper .testimonials-carousel.slick-initialized .slick-slide { padding: 0 15px; }

.testimonials-wrap .testimonial .testimonial-inner { position: relative; box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.06); background: #fff; padding: 30px 40px 40px; margin-bottom: 30px; border-radius: 2px; border-top: 2px solid #eee; transform: none; transition: all 0.2s ease; }

.testimonials-wrap .testimonial .testimonial-inner:after { content: ''; display: inline-block; position: absolute; left: 50px; top: 100%; border: 14px solid transparent; border-top: 15px solid #fff; }

.testimonials-wrap .testimonial .testimonial-inner:before { content: ''; display: block; position: absolute; top: 22px; left: 0; height: 60px; width: 2px; background: #ffb600; border-radius: 50px; transform: skew(-45deg) rotate(-45deg); transition: all 0.2s ease; }

.testimonials-wrap .testimonial .testimonial-inner:hover { transform: translateY(-4px) scale(1.05); }

.testimonials-wrap .testimonial .testimonial-inner .testimonial-excerpt { max-width: 500px; }

.testimonials-wrap .testimonial .testimonial-inner .testimonial-excerpt p { color: #999; font-size: 14px; }

.testimonials-wrap .testimonial .testimonial-inner .testimonial-link { opacity: 1; font-size: 13px; line-height: 16px; color: #ffb600; margin-top: 5px; font-family: Poppins, sans-serif; transition: all .2s ease; }

.testimonials-wrap .testimonial .testimonial-inner .testimonial-link:hover { color: #2d2940; }

.testimonials-wrap .testimonial .testimonial-bottom { display: flex; align-items: center; }

.testimonials-wrap .testimonial .testimonial-bottom .testimonial-img { margin-left: 10px; }

.testimonials-wrap .testimonial .testimonial-bottom .testimonial-img img { border-radius: 50%; width: 50px; height: 50px; margin: 0 auto; }

.testimonials-wrap .testimonial .testimonial-bottom .left { margin-left: 20px; }

.testimonials-wrap .testimonial .testimonial-bottom .left .testimonial-name { font-size: 16px; line-height: 22px; font-weight: 700; color: #222; font-family: Poppins, sans-serif; }

.testimonials-wrap .testimonial .testimonial-bottom .left .testimonial-company { color: #999; font-size: 13px; line-height: 16px; margin: 5px 0 10px; display: inline-block; }

@media screen and (max-width: 785px) { .testimonials-wrap .testimonial { margin-bottom: 50px; } }
