.custom-video-player { display: flex; align-items: center; justify-content: center; width: 75px; height: 75px; border-radius: 50%; background: #ffb600; cursor: pointer; position: relative; transition: all 0.2s ease; }

.custom-video-player:hover i { font-size: 35px; }

.custom-video-player i { color: #fff; font-size: 28px; position: relative; left: 2px; z-index: 2; transition: all 0.2s ease; }

.custom-video-player:after { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #ffb600; border-radius: 50%; }

.animated-pulse { position: absolute; }

.animated-pulse .pulse { opacity: 0; position: absolute; top: -80px; left: -80px; background: #ffb600; width: 160px; height: 160px; border-radius: 50%; animation: pulse cubic-bezier(0, 0.55, 0.55, 1) 2s; transform-origin: 50% 50%; pointer-events: none; animation-fill-mode: forwards; animation-delay: .8s; animation-iteration-count: infinite; }

.animated-pulse .pulse-delay { animation-delay: 1s; }

@keyframes pulse { 0% { opacity: 0;
    transform: scale(0); }
  1% { opacity: 0.25; }
  20% { opacity: 0.25; }
  60% { opacity: 0;
    transform: scale(1); } }

.plyr--video { border-radius: 4px; }

.player-modal { opacity: 0; display: none; transition: all 0.2s linear; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.95); z-index: 9999; }

.player-modal .plyr--video { margin: 40px 0; width: 100%; max-width: calc(100% - 200px); max-height: calc(100% - 200px); padding: 0; }

.player-modal.show { opacity: 1; }

.player-modal.show .player-content { transform: scale(1); }

.player-modal .player-content { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; transition: all 0.3s linear; transform: scale(0.8); }

.player-modal .close { position: absolute; top: 30px; right: 30px; cursor: pointer; }

.player-modal .close i { font-size: 28px; color: #fff; }

@media screen and (max-width: 785px) { .player-modal .plyr--video { max-width: calc(100% - 50px); } }
