.header.style-1 { z-index: 999; padding: 25px 0; background: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.header.style-1 .header-inner { display: flex; align-items: center; justify-content: space-between; }

.header.style-1 .header-inner .logo { text-decoration: none; }

.header.style-1 .header-inner .logo .site-title { font-family: Poppins, sans-serif; font-size: 16px; font-weight: 600; color: #111; }

.header.style-1 .header-inner .logo img { max-width: 100%; height: auto; }

.header.style-1 .header-inner .logo img.light { display: none; }

.header.style-1 .header-inner .logo img.dark { display: block; }

.header.style-1 .header-inner .right { display: flex; align-items: center; }

.header.style-1 .header-inner .right .number-wrap { border-left: 1px solid rgba(0, 0, 0, 0.5); display: flex; align-items: center; padding-left: 25px; }

.header.style-1 .header-inner .right .number-wrap i { color: #ffb600; font-size: 22px; padding-right: 15px; }

.header.style-1 .header-inner .right .number-wrap a { font-size: 20px; line-height: 26px; font-weight: 600; letter-spacing: 0.3px; color: #101010; font-family: Poppins, sans-serif; }

.header.style-1 .header-inner .right .button-wrap { padding: 15px 35px; background: #ffb600; border-radius: 2px; cursor: pointer; margin-left: 20px; transition: all 0.2s ease; position: relative; overflow: hidden; display: flex; align-items: center; justify-content: center; }

.header.style-1 .header-inner .right .button-wrap i { position: relative; left: 0; margin-left: 10px !important; transition: all 0.2s ease; color: #fff; }

.header.style-1 .header-inner .right .button-wrap:active { top: 2px !important; }

.header.style-1 .header-inner .right .button-wrap:hover:after { width: 50% !important; }

.header.style-1 .header-inner .right .button-wrap:hover i { left: 7px !important; }

.header.style-1 .header-inner .right .button-wrap:after { width: 40%; height: 200%; background: rgba(255, 255, 255, 0.1); z-index: 1; right: 0; top: 0; margin: -5px 0 0 -5px; transform-origin: 0 0; transform: rotate(-20deg); content: ''; position: absolute; transition: all 0.2s ease; }

.header.style-1 .header-inner .right .button-wrap span { font-size: 14px; font-family: Poppins, sans-serif; font-weight: 600; color: #fff; }

body.sticky-header:not(.transparent_header) .hs1-fixed-spacer { height: 115px; display: block; }

body.transparent_header .header.style-1 { padding: 45px 0; position: absolute; left: 0; right: 0; top: 0; background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0, transparent 100%); border-bottom: 0; }

body.transparent_header .header.style-1 .header-inner .logo .site-title { color: #fff; }

body.transparent_header .header.style-1 .header-inner .logo img.dark { display: none; }

body.transparent_header .header.style-1 .header-inner .logo img.light { display: inline-block; }

body.transparent_header .header.style-1 .header-inner .number-wrap { border-left: 1px solid rgba(255, 255, 255, 0.5); }

body.transparent_header .header.style-1 .header-inner .number-wrap i { color: #fff; }

body.transparent_header .header.style-1 .header-inner .number-wrap a { color: #fff; }

body.blog_header_tp .header { background: #f5f6f8 !important; border-bottom: 0 !important; }

body.sticky-header .header.style-1 { position: fixed; width: 100%; transition: background 0.3s ease, padding 0.25s ease, opacity 0.3s ease; }

body.sticky-header .header.style-1.sticky-active { background: rgba(255, 255, 255, 0.95); padding: 10px 0; }

body.transparent_header.sticky-header .header.style-1 { position: fixed; transition: background 0.3s ease, padding 0.25s ease, opacity 0.3s ease; }

body.transparent_header.sticky-header .header.style-1.sticky-active { background: rgba(255, 255, 255, 0.95); padding: 10px 0; }

body.transparent_header.sticky-header .header.style-1.sticky-active .header-inner .logo img.light { display: none; }

body.transparent_header.sticky-header .header.style-1.sticky-active .header-inner .logo img.dark { display: block; }

body.transparent_header.sticky-header .header.style-1.sticky-active .header-inner .right .number-wrap { border-color: rgba(0, 0, 0, 0.5); }

body.transparent_header.sticky-header .header.style-1.sticky-active .header-inner .right .number-wrap i { color: #101010; }

body.transparent_header.sticky-header .header.style-1.sticky-active .header-inner .right .number-wrap a { color: #101010; }

body.fullwidth_header .header.style-1 > .container { max-width: 100% !important; padding-left: 50px !important; padding-right: 50px !important; }

@media screen and (max-width: 990px) { .header.style-1 { padding: 15px 10px; }
  .header.style-1 .header-inner .right { display: none; }
  body.transparent_header .header.style-1 { padding: 25px 0; }
  body.fullwidth_header .header.style-1 > .container { padding-left: 30px !important; padding-right: 30px !important; } }

@media screen and (max-width: 990px) { .hs1-fixed-spacer, .header.style-1 { display: none !important; } }

body.logged-in.admin-bar.transparent_header .header.style-1 { top: 32px; }

@media screen and (max-width: 782px) { body.logged-in.admin-bar.transparent_header .header.style-1 { top: 46px; } }
