body.sidebar-menu { margin-left: 300px; }

.header.style-4 { width: 300px; position: fixed; z-index: 1000; top: 0; bottom: 0; left: 0; box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2); }

.header.style-4 .side-menu-logo { margin: 80px 0 70px; display: flex; align-items: center; justify-content: center; }

.header.style-4 .side-menu-logo img { max-width: 100%; height: auto; }

.header.style-4 .side-menu-logo img.light { display: none; }

.header.style-4 .side-menu-logo img.dark { display: block; }

.header.style-4 .dropdown-main-menu ul { margin: 0; padding: 0 40px; list-style: none; }

.header.style-4 .dropdown-main-menu ul li { width: 100%; padding: 10px 0; display: block; position: relative; }

.header.style-4 .dropdown-main-menu ul li a { display: block; width: 100%; font-family: Poppins, sans-serif; font-weight: 600; font-size: 15px; color: rgba(255, 255, 255, 0.85); }

.header.style-4 .dropdown-main-menu ul li a:hover { color: #fff; }

.header.style-4 .dropdown-main-menu ul li .submenu-arrow { position: absolute; top: 12px; right: 0; transform: none; cursor: pointer; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; color: rgba(255, 255, 255, 0.5); }

.header.style-4 .dropdown-main-menu ul li .submenu-arrow.submenu-active { transform: rotate(90deg); transition: all 0.2s ease; color: #fff; }

.header.style-4 .dropdown-main-menu ul li ul.sub-menu { padding: 15px 20px 0; display: none; }

.header.style-4 .dropdown-main-menu ul li ul.sub-menu li a { font-family: Poppins, sans-serif; font-weight: 600; font-size: 14px; color: rgba(255, 255, 255, 0.85); }

.header.style-4 .dropdown-main-menu ul li ul.sub-menu li a:hover { color: #fff; }

.header.style-4 .hs4-bottom { margin: 50px 0; padding: 0; }

.header.style-4 .hs4-bottom .hs4-phone { font-size: 20px; font-weight: 700; text-align: center; padding-bottom: 5px; }

.header.style-4 .hs4-bottom .hs4-phone i { font-size: 20px; position: relative; left: -5px; color: #ffb600; }

.header.style-4 .hs4-bottom .hs4-phone a { font-family: Poppins, sans-serif; transition: all 0.2s ease; color: #fff; }

.header.style-4 .hs4-bottom .hs4-phone a:hover { opacity: 0.8; }

.header.style-4 .hs4-bottom .hs4-social { margin: 15px 0; text-align: center; }

.header.style-4 .hs4-bottom .hs4-social i { font-size: 20px; margin-right: 25px; margin-left: 15px; color: rgba(255, 255, 255, 0.5); transition: all 0.25s ease; }

.header.style-4 .hs4-bottom .hs4-social i:hover { color: #fff; }

@media screen and (max-width: 990px) { .header.style-4 { display: none !important; }
  body.sidebar-menu { margin-left: 0; } }

body.logged-in.admin-bar .header.style-4 { top: 32px; }

@media screen and (max-width: 782px) { body.logged-in.admin-bar .header.style-4 { top: 46px; } }
