.toolbar { position: relative; background: #eee; padding: 8px 0; }

.toolbar .toolbar-inner { display: flex; align-items: center; justify-content: space-between; }

.toolbar .toolbar-inner .left { display: flex; align-items: center; }

.toolbar .toolbar-inner .left .toolbar-number { margin-right: 30px; }

.toolbar .toolbar-inner .left .toolbar-number i { margin-right: 8px; color: #444; }

.toolbar .toolbar-inner .left .toolbar-number span { font-size: 13px; color: #444; font-family: Poppins, sans-serif; }

.toolbar .toolbar-inner .left .toolbar-location i { margin-right: 8px; color: #444; }

.toolbar .toolbar-inner .left .toolbar-location span { font-size: 13px; color: #444; font-family: Poppins, sans-serif; }

.toolbar .toolbar-inner .right { display: flex; align-items: center; }

.toolbar .toolbar-inner .right .toolbar-shop a { display: flex; align-items: center; }

.toolbar .toolbar-inner .right .toolbar-shop a span { font-size: 13px; color: #444; font-family: Poppins, sans-serif; }

.toolbar .toolbar-inner .right .toolbar-shop a i { margin-right: 8px; position: relative; top: -1px; }

.toolbar .toolbar-inner .right .toolbar-social { display: flex; align-items: center; margin-left: 25px; }

.toolbar .toolbar-inner .right .toolbar-social i { font-size: 16px; margin-left: 8px; width: 25px; text-align: center; transition: all 0.2s ease; color: #444; }

.toolbar .toolbar-inner .right .toolbar-social i:hover { opacity: 0.85; }
