body.woocommerce-cart .cart-empty { display: inline-block; margin: 0 20px 20px 0; }

body.woocommerce-cart .return-to-shop { display: inline-block; }

body.woocommerce-cart .woocommerce-message { padding: 30px; margin-bottom: 80px; background: #fff; border: 1px solid #e0e0e0; display: flex; align-items: center; justify-content: space-between; }

body.woocommerce-cart .shop_table { border-collapse: collapse; border-spacing: 0; width: 100%; text-align: center; margin: 0 0 40px; }

body.woocommerce-cart .shop_table thead tr th { padding-bottom: 20px; border: 0; border-bottom: 1px solid #e6e6e6; }

body.woocommerce-cart .shop_table tbody td { padding: 20px 10px; border: 0; border-bottom: 1px solid #e6e6e6; }

body.woocommerce-cart .shop_table tbody th { font-weight: 700; text-transform: capitalize; font-size: 16px; color: #222; }

body.woocommerce-cart .shop_table tbody td.product-remove { text-align: center; }

body.woocommerce-cart .shop_table tbody td.product-thumbnail img { width: 50px; height: auto; position: relative; }

body.woocommerce-cart .shop_table tbody td.product-thumbnail a { text-align: center; padding-left: 10px; color: #676767; position: relative; }

body.woocommerce-cart .shop_table tbody td.product-thumbnail a img { position: relative; }

body.woocommerce-cart .shop_table tbody td.product-quantity label { display: none; }

body.woocommerce-cart .shop_table tbody td.product-quantity input { margin-bottom: 0; max-width: 100px; }

body.woocommerce-cart td.actions { border: 0 !important; padding: 45px 0 !important; }

body.woocommerce-cart td.actions .coupon { display: inline-flex; float: left; }

body.woocommerce-cart td.actions .coupon label { display: none; }

body.woocommerce-cart td.actions .coupon #coupon_code { width: 300px; max-width: 100%; margin-bottom: 0; }

body.woocommerce-cart td.actions .coupon .button { margin-left: 20px; }

body.woocommerce-cart td.actions .button { float: right; }

body.woocommerce-cart td.actions input[disabled] { opacity: 0.4; }

body.woocommerce-cart .cart_totals h2 { font-size: 30px; line-height: 40px; margin-bottom: 30px; }

body.woocommerce-cart .cart_totals table tr th { border: 0; border-bottom: 1px solid #e6e6e6; text-align: left; }

body.woocommerce-cart .cart_totals .wc-proceed-to-checkout .checkout-button { display: inline-block; margin-bottom: 0; }

body.woocommerce-cart .cross-sells { display: none; }

@media screen and (max-width: 785px) { body.woocommerce-cart .shop_table th, body.woocommerce-cart .shop_table td { max-width: 100px; }
  body.woocommerce-cart .shop_table thead tr th.product-thumbnail, body.woocommerce-cart .shop_table thead tr th.product-remove { display: none; }
  body.woocommerce-cart .shop_table tbody td.product-thumbnail, body.woocommerce-cart .shop_table tbody td.product-remove { display: none; }
  body.woocommerce-cart td.actions .coupon { flex-direction: column; width: 100%; }
  body.woocommerce-cart td.actions .coupon #coupon_code { width: 100%; }
  body.woocommerce-cart td.actions .coupon .button { margin-left: 0; float: none; width: 100%; margin-top: 20px; }
  body.woocommerce-cart td.actions .button { float: none; width: 100%; margin-top: 20px; }
  body.woocommerce-cart .cart_totals .wc-proceed-to-checkout .checkout-button { width: 100%; } }
