body.woocommerce-checkout .col-1, body.woocommerce-checkout .col-2 { width: 100% !important; max-width: 100% !important; padding-right: 0 !important; padding-left: 0 !important; }

body.woocommerce-checkout .woocommerce-form-login-toggle { padding: 30px; border: 1px solid #e0e0e0; border-radius: 2px; margin-bottom: 20px; }

body.woocommerce-checkout .woocommerce-form-login { padding: 30px; border: 1px solid #e0e0e0; margin-top: 20px; margin-bottom: 20px; border-radius: 4px; }

body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-first, body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-last { position: relative; min-height: 1px; width: 50%; float: left; margin: 10px 0 0; }

body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-first.form-row-first, body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-last.form-row-first { padding-right: 15px; }

body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-first.form-row-last, body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-last.form-row-last { padding-left: 15px; }

body.woocommerce-checkout .woocommerce-form-login .woocommerce-form__label { margin-left: 30px; }

body.woocommerce-checkout .woocommerce-form-login .lost_password { display: inline-block; margin: 10px 0; }

body.woocommerce-checkout .woocommerce-form-coupon-toggle { padding: 30px; border: 1px solid #e0e0e0; border-radius: 2px; margin-bottom: 20px; }

body.woocommerce-checkout .woocommerce-form-coupon { padding: 30px; border: 1px solid #e0e0e0; margin-top: 20px; margin-bottom: 20px; border-radius: 4px; }

body.woocommerce-checkout ul.woocommerce-error { border-bottom: 5px solid red; display: inline-block; width: 100%; margin-bottom: 60px; padding: 40px 20px; }

body.woocommerce-checkout .woocommerce-billing-fields { margin-top: 30px; display: inline-block; width: 100%; }

body.woocommerce-checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper { margin: 0 -15px; padding: 0; }

body.woocommerce-checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row { position: relative; min-height: 1px; width: 50%; float: left; padding-left: 15px; padding-right: 15px; margin: 10px 0 0; }

body.woocommerce-checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row.woocommerce-invalid input { border-color: #d93900; }

body.woocommerce-checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_address_1_field { width: 100%; }

body.woocommerce-checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_address_2_field { top: 24px; }

body.woocommerce-checkout .woocommerce-account-fields { display: inline-block; width: 100%; }

body.woocommerce-checkout .woocommerce-account-fields #account_password_field { margin: 0; padding: 10px 0; display: inline-block; width: 100%; }

body.woocommerce-checkout .woocommerce-shipping-fields { display: inline-block; width: 100%; margin-top: 30px; }

body.woocommerce-checkout h3#order_review_heading { display: inline-block; width: 100%; margin-top: 10px; }

body.woocommerce-checkout .woocommerce-checkout-review-order table { border-collapse: collapse; border-spacing: 0; width: 100%; text-align: left; margin: 0 0 40px; }

body.woocommerce-checkout .woocommerce-checkout-review-order table thead tr th { padding: 20px 10px; border: 0; border-bottom: 1px solid #e6e6e6; }

body.woocommerce-checkout .woocommerce-checkout-review-order table tbody td { padding: 20px 10px; border: 0; border-bottom: 1px solid #e6e6e6; }

body.woocommerce-checkout .woocommerce-checkout-review-order table tbody th { font-weight: 700; text-transform: capitalize; font-size: 16px; color: #222; }

body.woocommerce-checkout .woocommerce-checkout-review-order table tfoot td, body.woocommerce-checkout .woocommerce-checkout-review-order table tfoot th { padding: 20px 10px; font-weight: 700; text-transform: capitalize; font-size: 16px; color: #222; border: 0; border-bottom: 1px solid #e6e6e6; }

body.woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment ul { margin-top: 10px; margin-bottom: 10px; padding: 30px; background: #fff; border: 1px solid #e0e0e0; display: inline-block; width: 100%; }

body.woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment ul li { font-size: 16px; line-height: 26px; list-style: none; }

body.woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-terms-and-conditions-wrapper { margin-top: 10px; margin-bottom: 45px; padding: 30px; background: #fff; border: 1px solid #e0e0e0; display: inline-block; width: 100%; }

body.woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-terms-and-conditions-wrapper p { margin: 0; }

body.woocommerce-checkout .woocommerce-checkout-review-order button#place_order { width: 100%; height: 60px; }

@media screen and (max-width: 785px) { body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-first, body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-last { width: 100%; float: none; margin: 10px 0 0; }
  body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-first.form-row-first, body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-last.form-row-first { padding-right: 0; }
  body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-first.form-row-last, body.woocommerce-checkout .woocommerce-form-login .form-row.form-row-last.form-row-last { padding-left: 0; }
  body.woocommerce-checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row { width: 100%; float: none; }
  body.woocommerce-checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row#billing_country_field { margin-bottom: 35px; }
  body.woocommerce-checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row#billing_address_2_field { top: -5px; }
  body.woocommerce-checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row#billing_state_field { margin-bottom: 35px; }
  body.woocommerce-checkout .place-order button { width: 100%; } }
