body.woocommerce-lost-password .woocommerce { padding-right: 0.9375rem; padding-left: 0.9375rem; max-width: 62.5rem; margin: 60px auto; display: flex; flex-direction: column; }

body.woocommerce-lost-password .woocommerce .woocommerce-message { font-size: 20px; line-height: 28px; font-weight: 700; }

.woocommerce-MyAccount-navigation ul { padding: 0; margin: 0 0 50px; background: #ffb600; display: flex; align-items: center; justify-content: space-around; }

.woocommerce-MyAccount-navigation ul li { list-style: none; display: inline-block; padding: 25px 30px; margin: 0; background: #ffb600; transition: all 0.2s ease; }

.woocommerce-MyAccount-navigation ul li:before { display: none; }

.woocommerce-MyAccount-navigation ul li:hover, .woocommerce-MyAccount-navigation ul li.is-active { opacity: 0.8; }

.woocommerce-MyAccount-navigation ul li a { color: #fff; font-family: 'Poppins', 'sans-serif'; font-weight: 400; font-size: 13px; }

.woocommerce-MyAccount-content .col-1, .woocommerce-MyAccount-content .col-2 { width: 100% !important; max-width: 100% !important; padding: 0 !important; }

.woocommerce-MyAccount-content .woocommerce-Message { display: flex; align-items: center; justify-content: center; }

.woocommerce-MyAccount-content .woocommerce-Message .woocommerce-Button { margin-right: 20px; }

.woocommerce-Addresses .edit { float: left; font-size: 13px; line-height: 20px; cursor: pointer; padding: 15px 30px; border-radius: 2px; transition: all 0.2s ease; background: #ffb600; color: #fff; font-weight: 700; font-family: Poppins, sans-serif; }

.woocommerce-Addresses .edit:hover { opacity: 0.8; }

.woocommerce-Addresses .u-column2 { margin-top: 30px; display: inline-block; width: 100%; }

.woocommerce-Addresses h3 { display: inline-block; width: 100%; margin: 30px 0; }

.woocommerce-Addresses address { margin: 17px 0 0 20px; display: inline-block; }

.woocommerce-address-fields #billing_country_field { margin: 0 0 25px; width: 100%; display: inline-block; }

.edit-account p { margin: 0; }

.edit-account em { margin: 0 0 20px; display: inline-block; width: 100%; }

.edit-account abbr[title] { border-bottom: none; }

.edit-account fieldset { border: 0; padding: 0; margin: 0; }

.edit-account legend { font-size: 20px; padding: 20px 0; font-family: Poppins, sans-serif; font-weight: 700; color: #222; }

.edit-account #billing_address_1_field { width: 100%; }

.edit-account #billing_phone_field { float: left; }

.edit-account #shipping_company_field { width: 100%; }

.edit-account #shipping_country_field { float: left; }

@media screen and (max-width: 785px) { .woocommerce-MyAccount-navigation ul { flex-direction: column; }
  .woocommerce-MyAccount-navigation ul li { width: 100%; padding: 15px 30px; border-top: 2px solid #fff; }
  .woocommerce-MyAccount-navigation ul li:first-child { border-top: 0; }
  .woocommerce-MyAccount-content .woocommerce-Message { flex-direction: column; }
  .woocommerce-MyAccount-content .woocommerce-Message .button { margin-bottom: 15px; }
  .woocommerce-Addresses address { margin: 20px 0 0 0; } }
