.shop-page-header, .cart-page-header, .checkout-page-header, .account-page-header { position: relative; padding: 150px 0; text-align: center; background-size: cover !important; background-repeat: no-repeat !important; background-position: center center; }

.shop-page-header:after, .cart-page-header:after, .checkout-page-header:after, .account-page-header:after { position: absolute; display: block; content: ''; left: 0; top: 0; width: 100%; height: 100%; background: #111; opacity: 0.4; }

.shop-page-header .page-header-inner, .cart-page-header .page-header-inner, .checkout-page-header .page-header-inner, .account-page-header .page-header-inner { position: relative; z-index: 1; padding: 0 20px; max-width: 900px; margin: 0 auto; }

.shop-page-header .page-header-inner .title, .cart-page-header .page-header-inner .title, .checkout-page-header .page-header-inner .title, .account-page-header .page-header-inner .title { color: #fff; margin: 0; }

.shop-page-header .page-header-inner .description, .cart-page-header .page-header-inner .description, .checkout-page-header .page-header-inner .description, .account-page-header .page-header-inner .description { max-width: 500px; margin: 20px auto 0; font-size: 18px; line-height: 26px; color: rgba(255, 255, 255, 0.8); }

body.transparent_header .shop-page-header, body.transparent_header .cart-page-header, body.transparent_header .checkout-page-header, body.transparent_header .account-page-header { padding-top: 200px; }
