body.single-product .woocommerce-breadcrumb { display: none; }

body.single-product .woocommerce-error { padding: 30px; margin-bottom: 80px; background: red; color: #fff; border-radius: 2px; border: 1px solid red; display: flex; align-items: center; justify-content: flex-start; list-style: none; }

body.single-product .content-area { padding-top: 20px; }

body.single-product .content-area .product-image-carousel-wrapper { width: 40%; display: inline-block; position: relative; }

body.single-product .content-area .product-image-carousel-wrapper .product-image-carousel { position: relative; }

body.single-product .content-area .product-image-carousel-wrapper .product-image-carousel .product-image-carousel-item img { max-width: 600px; width: 100%; height: auto; }

body.single-product .content-area .product-image-carousel-wrapper .product-image-carousel .slick-dots { position: absolute; bottom: -50px; top: inherit; }

body.single-product .content-area .slick-initialized .slick-slide { padding: 0; }

body.single-product .content-area .summary.entry-summary { width: 60%; float: right; padding-left: 20px; }

body.single-product .content-area .summary.entry-summary .product-title { font-size: 35px; line-height: 45px; font-weight: 700; color: #222; margin: 0 0 5px; }

body.single-product .content-area .summary.entry-summary .product_title.entry-title { display: none; }

body.single-product .content-area .summary.entry-summary .price { font-size: 25px; line-height: 35px; font-family: Poppins, sans-serif; font-weight: 700; margin: 10px 0 30px 0; }

body.single-product .content-area .summary.entry-summary .price ins { color: #222; text-decoration: none; }

body.single-product .content-area .summary.entry-summary .woocommerce-product-details__short-description p { padding: 15px 0 25px; }

body.single-product .content-area .summary.entry-summary .variations td { border: 0; padding: 0; }

body.single-product .content-area .summary.entry-summary td.label, body.single-product .content-area .summary.entry-summary .variations .reset_variations { display: none !important; }

body.single-product .content-area .summary.entry-summary form.cart { display: flex; align-items: center; }

body.single-product .content-area .summary.entry-summary form.cart.grouped_form { flex-direction: column; }

body.single-product .content-area .summary.entry-summary form.cart.grouped_form table { width: 100%; }

body.single-product .content-area .summary.entry-summary form.cart.grouped_form table td.woocommerce-grouped-product-list-item__price { text-align: right; }

body.single-product .content-area .summary.entry-summary form.cart.grouped_form table td label { margin: 0; font-size: 14px; }

body.single-product .content-area .summary.entry-summary form.cart.grouped_form .woocommerce-grouped-product-list-item__quantity .quantity { width: 100px; padding-right: 0; }

body.single-product .content-area .summary.entry-summary form.cart.grouped_form .woocommerce-grouped-product-list-item__label label a { font-family: Poppins, sans-serif; font-weight: 600; font-size: 16px; transition: all 0.2s ease; }

body.single-product .content-area .summary.entry-summary form.cart.grouped_form .woocommerce-grouped-product-list-item__label label a:hover { color: #111; }

body.single-product .content-area .summary.entry-summary form.cart.grouped_form .woocommerce-grouped-product-list-item__price span { font-family: Poppins, sans-serif; font-weight: 600; font-size: 16px; }

body.single-product .content-area .summary.entry-summary form.cart.grouped_form button { width: 100%; margin-bottom: 25px; font-size: 14px; font-weight: 600; }

body.single-product .content-area .summary.entry-summary form.cart .quantity { width: 60%; padding-right: 20px; }

body.single-product .content-area .summary.entry-summary form.cart .quantity input { width: 100%; margin-bottom: 15px; }

body.single-product .content-area .summary.entry-summary form.cart .single_add_to_cart_button { width: 100%; height: 55px; position: relative; top: 4px; }

body.single-product .content-area .summary.entry-summary .product_meta { padding: 0; margin-top: 20px; font-size: 13px; display: flex; justify-content: space-between; align-items: center; }

body.single-product .content-area .summary.entry-summary .stock.in-stock { padding: 0 0 20px; font-weight: 700; }

body.single-product .content-area .summary.entry-summary form.variations_form.cart { flex-direction: column; }

body.single-product .content-area .summary.entry-summary form.variations_form.cart table.variations { margin-bottom: 30px; width: 100%; }

body.single-product .content-area .summary.entry-summary form.variations_form.cart .single_variation_wrap { width: 100%; }

body.single-product .content-area .summary.entry-summary form.variations_form.cart .single_variation_wrap .quantity { width: 100%; padding-right: 0; }

body.single-product .content-area .summary.entry-summary form.variations_form.cart .single_variation_wrap button { margin-bottom: 20px; }

body.single-product .content-area .woocommerce-product-rating { line-height: 2; display: flex; align-items: center; }

body.single-product .content-area .woocommerce-product-rating:after, body.single-product .content-area .woocommerce-product-rating:before { content: " "; display: table; }

body.single-product .content-area .woocommerce-review-link { font-size: 14px; color: #222; margin-left: 5px; }

body.single-product .content-area .woocommerce-message { padding: 30px; margin-bottom: 80px; background: #fff; border: 1px solid #e0e0e0; display: flex; align-items: center; justify-content: space-between; flex-direction: row-reverse; }

body.single-product .woocommerce-tabs { border-top: 1px solid #e0e0e0; margin: 80px 0 10px; display: inline-block; width: 100%; }

body.single-product .woocommerce-tabs h2 { display: none; }

body.single-product .woocommerce-tabs ul.tabs { margin: 0 0 40px; padding: 0; }

body.single-product .woocommerce-tabs ul.tabs li { list-style: none; display: inline-block; padding: 20px 40px; }

body.single-product .woocommerce-tabs ul.tabs li.additional_information_tab { display: none; }

body.single-product .woocommerce-tabs ul.tabs li.active { border-top: 2px solid #ffb600; }

body.single-product .woocommerce-tabs ul.tabs li a { font-family: Poppins, sans-serif; color: #222; font-size: 15px; line-height: 25px; font-weight: 700; }

body.single-product .woocommerce-tabs #comments ol { margin: 30px 0; padding: 0; }

body.single-product .woocommerce-tabs #comments ol li { list-style: none; display: inline-block; width: 100%; padding-bottom: 30px; }

body.single-product .woocommerce-tabs #comments ol li .comment_container { display: flex; align-items: flex-start; }

body.single-product .woocommerce-tabs #comments ol li .comment_container img { width: 100px; height: auto; padding-right: 20px; border-radius: 2px; }

body.single-product .woocommerce-tabs #comments ol li .comment_container .comment-text .star-rating { margin: 4px 0 0; }

body.single-product .woocommerce-tabs #comments ol li .comment_container .comment-text .meta { color: #222; font-family: Poppins, sans-serif; font-size: 13px; font-weight: 700; margin: 0 15px; display: inline-block; }

body.single-product .woocommerce-tabs #comments ol li .comment_container .comment-text .meta strong { font-weight: 700; color: #222; font-size: 13px; }

body.single-product .woocommerce-tabs #review_form #respond .comment-reply-title { font-size: 25px; line-height: 35px; font-weight: 700; font-family: Poppins, sans-serif; }

body.single-product .woocommerce-tabs #review_form #respond .comment-form-rating { margin: 20px 0; }

body.single-product .woocommerce-tabs #review_form #respond .comment-form-comment { margin: 5px 0 0; display: inline-block; width: 100%; }

body.single-product .woocommerce-tabs #review_form #respond p { margin: 5px 0 18px; }

body.single-product .woocommerce-tabs #review_form #respond p.stars a { position: relative; height: 1em; width: 1em; text-indent: -999em; display: inline-block; text-decoration: none; }

body.single-product .woocommerce-tabs #review_form #respond p.stars a:before { display: block; position: absolute; top: 0; left: 0; width: 1em; height: 1em; line-height: 1; font-family: WooCommerce; text-indent: 0; }

body.single-product .woocommerce-tabs #review_form #respond p.stars.selected a.active:before, body.single-product .woocommerce-tabs #review_form #respond p.stars:hover a:before, body.single-product .woocommerce-tabs #review_form #respond p.stars.selected a:not(.active):before { content: "\e020"; }

body.single-product .woocommerce-tabs #review_form #respond p.stars a:before, body.single-product .woocommerce-tabs #review_form #respond p.stars a:hover ~ a:before, body.single-product .woocommerce-tabs #review_form #respond p.stars.selected a.active ~ a:before { content: "\e021"; }

body.single-product .woocommerce-tabs #review_form #respond .form-submit input { left: auto; }

body.single-product .woocommerce-tabs #review_form #respond textarea { box-sizing: border-box; width: 100%; }

body.single-product .related { display: inline-block; width: 100%; margin: 50px 0 0; padding: 0 10px; }

body.single-product .related ul.products { padding: 0; }

body.single-product .related h2 { font-size: 25px; line-height: 35px; }

@media screen and (max-width: 785px) { body.single-product .content-area { padding-top: 20px; }
  body.single-product .content-area .product-image-carousel-wrapper { width: 100%; }
  body.single-product .content-area .product-image-carousel-wrapper .product-image-carousel .product-image-carousel-item img { max-width: 100%; }
  body.single-product .content-area .summary.entry-summary { width: 100%; float: none; margin-top: 50px; }
  body.single-product .woocommerce-tabs ul.tabs li { padding: 20px 30px; } }
