body.woocommerce-page .content-area { padding-right: 0.9375rem; padding-left: 0.9375rem; max-width: 62.5rem; margin: 60px auto; display: flex; flex-direction: column; }

body.woocommerce-page .shop-archive.left-sidebar, body.woocommerce-page .shop-archive.right-sidebar { padding-right: 0.9375rem; padding-left: 0.9375rem; max-width: 62.5rem; margin: 0 auto; }

body.woocommerce-page .shop-archive.left-sidebar .content-area, body.woocommerce-page .shop-archive.right-sidebar .content-area { width: 70%; }

body.woocommerce-page ul.products { margin: 0 -15px; padding: 40px 0 0; }

body.woocommerce-page ul.products .product-item { position: relative; min-height: 1px; width: 33.33333333%; float: left; padding-left: 15px; padding-right: 15px; margin: 20px 0; }

body.woocommerce-page ul.products .product-item li.product { list-style: none; margin: 0; padding: 0; box-shadow: none; transition: box-shadow .15s ease-out; }

body.woocommerce-page ul.products .product-item li.product:hover { box-shadow: 8px 15px 40px rgba(0, 0, 0, 0.15); }

body.woocommerce-page ul.products .product-item li.product .onsale { background: #ffb600; width: 40px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center; color: #fff; font-family: Poppins, sans-serif; text-transform: uppercase; font-size: 10px; margin-left: 10px; margin-top: 10px; position: absolute; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.15); }

body.woocommerce-page ul.products .product-item li.product .onsale:after { content: ''; z-index: -1; background: #222; position: absolute; bottom: -4px; left: 17px; width: 10px; height: 10px; border-radius: 1px; transform: rotate(45deg); }

body.woocommerce-page ul.products .product-item li.product img { width: 100%; max-width: 100%; height: auto; }

body.woocommerce-page ul.products .product-item li.product a.woocommerce-LoopProduct-link { background: #f9f9f9; display: inline-block; border-radius: 2px; width: 100%; height: 100%; position: relative; }

body.woocommerce-page ul.products .product-item li.product a.woocommerce-LoopProduct-link h2 { font-size: 18px; line-height: 24px; text-align: center; margin: 35px 0 10px; }

body.woocommerce-page ul.products .product-item li.product a.woocommerce-LoopProduct-link .star-rating { display: none; }

body.woocommerce-page ul.products .product-item li.product a.woocommerce-LoopProduct-link .price { display: inline-block; width: 100%; text-align: center; font-size: 18px; color: #ffb600; font-weight: 700; }

body.woocommerce-page ul.products .product-item li.product a.woocommerce-LoopProduct-link .price ins { text-decoration: none; }

body.woocommerce-page ul.products .product-item li.product a.woocommerce-LoopProduct-link .price del { color: rgba(0, 0, 0, 0.4); padding-right: 5px; }

body.woocommerce-page ul.products .product-item li.product a.button, body.woocommerce-page ul.products .product-item li.product a.added_to_cart { height: 85px; background: #f9f9f9; width: 100%; text-align: center; padding: 30px 0 35px; display: inline-block; color: #333; font-size: 13px; font-weight: 700; text-transform: uppercase; font-family: Poppins, sans-serif; transition: all 0.2s ease; }

body.woocommerce-page ul.products .product-item li.product a.button:hover, body.woocommerce-page ul.products .product-item li.product a.added_to_cart:hover { color: #ffb600; background: #f9f9f9; }

body.woocommerce-page ul.products .product-item li.product a.button.added, body.woocommerce-page ul.products .product-item li.product a.added_to_cart.added { display: none; }

@media screen and (max-width: 1000px) { body.woocommerce-page .shop-archive.left-sidebar .content-area, body.woocommerce-page .shop-archive.right-sidebar .content-area { width: 100%; }
  body.woocommerce-page ul.products .product-item { width: 50%; } }

@media screen and (max-width: 550px) { body.woocommerce-page .woocommerce-result-count { margin-top: 50px; }
  body.woocommerce-page .content-area { margin-top: 0; }
  body.woocommerce-page .content-area ul.products .product-item { width: 100%; } }
