body.woocommerce.archive { background: #eaeaea; }

body.woocommerce.archive .sidebar { margin: 60px 0 40px; }

body.woocommerce.archive .woocommerce-ordering { display: inline-block; }

body.woocommerce.archive .woocommerce-ordering .select2-container.select2-container--default .select2-selection--single { background: #fff; border-color: #fff; }

body.woocommerce.archive .woocommerce-breadcrumb { display: none; }

body.woocommerce.archive .woocommerce-result-count { float: right; font-family: Poppins, sans-serif; font-size: 13px; }

body.woocommerce.archive .woocommerce-pagination { display: inline-block; width: 100%; }

body.woocommerce.archive .woocommerce-pagination .page-numbers { display: inline-block; margin: 40px auto 10px; text-align: center; width: 100%; padding: 0; }

body.woocommerce.archive .woocommerce-pagination .page-numbers li { position: relative; display: inline-block; }

body.woocommerce.archive .woocommerce-pagination .page-numbers li .page-numbers { display: flex; align-items: center; justify-content: center; font-family: Poppins, sans-serif; height: 45px; width: 45px; border-radius: 50%; color: #484848; margin: 0; padding: 0 15px; transition: all 0.2s ease; border: 2px solid transparent; }

body.woocommerce.archive .woocommerce-pagination .page-numbers li .page-numbers:hover { border-color: #ffb600; }

body.woocommerce.archive .woocommerce-pagination .page-numbers li .page-numbers.current { border-color: #ffb600; background: #ffb600; color: #fff; }

@media screen and (max-width: 550px) { body.woocommerce.archive .content-area { margin-bottom: 0; }
  body.woocommerce.archive .sidebar { margin-top: 50px; }
  body.woocommerce.archive .woocommerce-result-count { float: inherit; } }
