@font-face { font-family: star; src: url(../../assets/fonts/star.eot); src: url(../../assets/fonts/star.eot?#iefix) format("embedded-opentype"), url(../../assets/fonts/star.woff) format("woff"), url(../../assets/fonts/star.ttf) format("truetype"), url(../../assets/fonts/star.svg#star) format("svg"); font-weight: 400; font-style: normal; }

@font-face { font-family: WooCommerce; src: url(../../assets/fonts/WooCommerce.eot); src: url(../../assets/fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), url(../../assets/fonts/WooCommerce.woff) format("woff"), url(../../assets/fonts/WooCommerce.ttf) format("truetype"), url(../../assets/fonts/WooCommerce.svg#star) format("svg"); font-weight: 400; font-style: normal; }

.star-rating { margin: 4px 5px 4px 0; float: left; overflow: hidden; position: relative; height: 1em; line-height: 1; font-size: 1em; width: 5.4em; font-family: star; }

.star-rating:before { content: "\73\73\73\73\73"; color: #ffb600; float: left; top: 0; left: 0; position: absolute; }

.star-rating span { overflow: hidden; float: left; top: 0; left: 0; position: absolute; padding-top: 1.5em; }

.star-rating span:before { content: "\53\53\53\53\53"; top: 0; position: absolute; left: 0; color: #ffb600; }
