.widget_rating_filter { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_rating_filter ul { padding: 0; margin: 0; }

.widget_rating_filter ul li { list-style: none; }

.widget_rating_filter ul li a { color: rgba(0, 0, 0, 0.8); font-size: 14px; line-height: 18px; }

.widget_shopping_cart { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_shopping_cart ul { padding: 0; margin: 0; }

.widget_shopping_cart ul li { list-style: none; display: inline-block; width: 100%; padding-bottom: 15px; }

.widget_shopping_cart ul li a { color: rgba(0, 0, 0, 0.8); font-size: 14px; line-height: 18px; }

.widget_shopping_cart ul li img { width: 50px; height: auto; float: right; padding-left: 10px; }

.widget_shopping_cart ul li .quantity { font-size: 12px; line-height: 16px; }

.widget_shopping_cart ul li .quantity .woocommerce-Price-amount.amount { font-size: 14px; line-height: 18px; padding-left: 12px; display: block; }

.widget_shopping_cart .total { border-top: 0; text-align: center; padding: 10px 0 0; font-size: 15px; line-height: 20px; font-family: Poppins, sans-serif; }

.widget_shopping_cart .total .woocommerce-Price-amount.amount { padding-left: 0; }

.widget_shopping_cart .buttons a { width: 100%; text-align: center; padding: 15px 30px; display: block; font-family: Poppins, sans-serif; font-size: 13px; font-weight: 700; text-transform: capitalize; transition: all 0.2s; }

.widget_shopping_cart .buttons a:hover { opacity: 0.8; }

.widget_shopping_cart .buttons a.checkout { margin-top: 10px; background: #ffb600; color: #fff; transition: all 0.2s; }

.widget_shopping_cart .buttons a.checkout:hover { opacity: 0.8; }

.widget_layered_nav { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_layered_nav ul { padding: 0; margin: 0; }

.widget_layered_nav ul li { list-style: none; padding-bottom: 5px; }

.widget_layered_nav ul li a { color: rgba(0, 0, 0, 0.8); }

.widget_price_filter { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_price_filter .ui-slider .ui-slider-range { background: #ffb600; height: 5px; position: relative; }

.widget_price_filter .ui-slider .ui-slider-handle { background: #111; position: absolute; outline: 0; top: -7px; height: 18px; width: 18px; border-radius: 30px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.widget_price_filter .price_slider_wrapper .ui-widget-content { background: transparent; padding-bottom: 20px; margin-right: 15px; position: relative; }

.widget_price_filter .price_slider_amount .price_label { color: rgba(0, 0, 0, 0.8); padding-top: 10px; font-size: 14px; line-height: 18px; }

.widget_price_filter .price_slider_amount .button { background: transparent; position: relative; text-transform: uppercase; font-size: 13px; border: 0; outline: 0; float: right; font-family: Poppins, sans-serif; font-weight: 700; color: rgba(0, 0, 0, 0.8); padding: 12px 0; transition: all 0.2s; }

.widget_price_filter .price_slider_amount .button:hover { opacity: 1; }

.widget_product_categories { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_product_categories ul { padding: 0; margin: 0; }

.widget_product_categories ul li { padding: 5px 0; list-style: none; }

.widget_product_categories ul li a { color: rgba(0, 0, 0, 0.8); font-size: 14px; line-height: 18px; }

.widget_product_categories ul.children { padding-top: 5px; }

.widget_product_categories ul.children li { padding: 5px 10px; }

.widget_product_categories ul.children li:before { content: "- "; color: rgba(0, 0, 0, 0.8); }

.widget_product_categories ul.children li a { color: #ffb600; font-size: 12px; }

.widget_products { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_products ul { padding: 0; margin: 0; }

.widget_products ul li { position: relative; list-style: none; padding-bottom: 20px; }

.widget_products ul li a { position: relative; display: flex; align-items: start; }

.widget_products ul li a img { width: 60px; height: auto; padding-right: 10px; position: relative; }

.widget_products ul li a .product-title { color: #111; font-size: 14px; line-height: 18px; }

.widget_products ul li .star-rating { position: absolute; top: 20px; left: 60px; }

.widget_products ul li del, .widget_products ul li ins, .widget_products ul li .amount { display: none; }

.widget_products .woocommerce-Price-amount.amount { padding-left: 10px; color: rgba(0, 0, 0, 0.8); font-size: 12px; }

.widget_product_search { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_product_search .woocommerce-product-search { padding-right: 40px; position: relative; }

.widget_product_search .woocommerce-product-search label { display: none; }

.widget_product_search .woocommerce-product-search ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ font-family: Poppins, sans-serif; font-size: 13px; }

.widget_product_search .woocommerce-product-search ::-moz-placeholder { /* Firefox 19+ */ font-family: Poppins, sans-serif; font-size: 13px; }

.widget_product_search .woocommerce-product-search :-ms-input-placeholder { /* IE 10+ */ font-family: Poppins, sans-serif; font-size: 13px; }

.widget_product_search .woocommerce-product-search :-moz-placeholder { /* Firefox 18- */ font-family: Poppins, sans-serif; font-size: 13px; }

.widget_product_search .woocommerce-product-search input { height: auto; }

.widget_product_search .woocommerce-product-search button { background: #ffb600; position: absolute; top: 0; right: 0; height: 50px; width: 50px; border-radius: 0 2px 2px 0; color: #fff; font-weight: 700; font-size: 10px; display: flex; align-items: center; justify-content: center; font-family: Poppins, sans-serif; }

.widget_product_tag_cloud { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_recently_viewed_products { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_recently_viewed_products ul { padding: 0; margin: 0; }

.widget_recently_viewed_products ul li { list-style: none; display: inline-block; width: 100%; padding-bottom: 20px; }

.widget_recently_viewed_products ul li img { width: 60px; height: auto; float: right; padding-left: 10px; position: relative; }

.widget_recently_viewed_products ul li a { display: block; }

.widget_recently_viewed_products ul li .product-title { color: rgba(0, 0, 0, 0.8); font-size: 14px; line-height: 18px; }

.widget_recently_viewed_products ul li .amount { color: #111; font-size: 12px; padding-left: 2px; }

.widget_recent_reviews { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_recent_reviews ul { padding: 0; margin: 0; }

.widget_recent_reviews ul li { list-style: none; }

.widget_recent_reviews ul li img { width: 60px; height: auto; padding-left: 10px; position: relative; top: 5px; float: right; }

.widget_recent_reviews ul li a { font-size: 14px; line-height: 18px; color: rgba(0, 0, 0, 0.8); }

.widget_recent_reviews .reviewer { color: rgba(0, 0, 0, 0.8); font-size: 12px; }

.widget_recent_reviews .star-rating { margin: 7px 0 5px 0; float: inherit; }

.widget_recent_reviews ul.product_list_widget li { padding-bottom: 10px; }

.widget_top_rated_products { background: #fff; padding: 30px; display: inline-block; width: 100%; }

.widget_top_rated_products ul { padding: 0; margin: 0; }

.widget_top_rated_products ul li { list-style: none; padding-bottom: 20px; }

.widget_top_rated_products ul li img { float: right; width: 60px; height: auto; padding-left: 10px; position: relative; top: 5px; }

.widget_top_rated_products ul li .product-title { color: rgba(0, 0, 0, 0.8); font-size: 14px; line-height: 18px; display: inline-block; }

.widget_top_rated_products ul li .amount { color: rgba(0, 0, 0, 0.8); font-size: 12px; padding: 0 0 0 2px; display: inline-block; }

.widget_top_rated_products ul li .star-rating { float: inherit; }
