$primary: #ffb600;
$primary-alt: #0056b3;

$light_border: #f2f2f2;
$lighter_border: #f4f4f4;
$dark_border: #333;

$text-light: #999;
$text_grey: #848484;
$text_dark: #2e2e2e;
$text_dark_hover: rgba(72,72,72,0.8);


// new
$light_grey: #868491;
$title_dark: #2d2940;

// widgets
$widget_background: #f5f6f8;
$widget_padding: 0;
$widget_border_radius: 3px;
$widget_box_shadow: 0 3px 25px 0 rgba(0,0,0,0.2);

$widget_title_padding: 30px;
$widget_body_padding: 10px 0;

$widget_list_item_padding: 15px 30px;
$widget_list_item_border: 5px solid transparent;

$footer_widget_background: transparent;
$footer_widget_box_shadow: none;