.contact-page-num {
  text-align: center;
  font-size: 20px;

  i {
    color: #101010;
    padding-right: 10px;
  }

   a {
     color: #ffb600;
     font-weight: 700;
   }
}

.map-content-box {
  max-width: 550px;
  margin: -120px auto 0;
  position: relative;
  top: 120px;
  z-index: 2;
  border-top: 1px solid #eee;
}

.contact-page-num.light {
  text-align: left;
  color: rgba(255,255,255,0.8);
}

.contact-page-num.light i {
  color: rgba(255,255,255,0.8);
}

.shift-form-up {
  position: relative;
  top: -160px;
  margin-bottom: -160px;
}
.shift-form-up label {
  color: #fff !important;
}
.shift-form-up:after {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
  content: '';
  display: block;
}

@media screen and (max-width: 765px) {
  .shift-form-up {
    top: -50px;
    margin-bottom: 0;
    background: #fff;
    margin-left: 10px !important;
    margin-right: 10px !important;
    border-radius: 3px;
    padding: 0 10px;

    label {
      color: #101010 !important;
    }

    &:after {
      display: none;
    }
  }
}