@import './colors.scss';

// Site wrapper
#wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #484848;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}
h1, .h1 {
  font-size: 38px;
  line-height: 46px;
}
h2, .h2 {
  font-size: 34px;
  line-height: 42px;
}
h3, .h3 {
  font-size: 30px;
  line-height: 38px;
}
h4, .h4 {
  font-size: 26px;
  line-height: 34px;
}
h5, .h5 {
  font-size: 22px;
  line-height: 30px;
}
h6, .h6 {
  font-size: 18px;
  line-height: 26px;
}

// Inputs
input {
  background: #fff;
  font-size: 15px;
  outline: 0;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #101010;
}
input:active, input:focus {
  background: #fff;
  border: 1px solid #111;
}
input.error {
  border-color: #d93900;
}
::-webkit-input-placeholder {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
}
::-moz-placeholder {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
}
:-ms-input-placeholder {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
}
:-moz-placeholder {
  font-family: Quicksand, sans-serif;
  font-size: 14px;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 15px 20px;
  border: 1px solid #e0e0e0;
  outline: 0;
  font-size: 15px;
  line-height: 22px;
  border-radius: 2px;
  font-weight: normal;
  margin-bottom: 20px;
}
textarea.error {
  border-color: #d93900;
}
textarea:active, textarea:focus {
  background: #fff;
  border: 1px solid #111;
}

// Checkboxes
input[type=checkbox] {
  border: 1px solid #e5e5e5;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #717a8f;
  background: transparent;
  z-index: 2;
  clear: none;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: -2px 14px 0 0;
  outline: 0;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  min-width: 20px;
  -webkit-appearance: none;
  transition: .05s border-color ease-in-out;
}
input[type=checkbox]:checked:before {
  color: #717a8f;
  display: inline-block;
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 13px;
  position: relative;
  top: -4px;
  left: -1px;
}

// Buttons
button {
  border: 0;
  outline: 0;
  background: transparent;
  text-align: inherit;
  padding: 0;
  margin: 0;
}
.button {
  display: inline-block;
  background: $primary;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 2px;
  transition: all 0.2s ease;
}
.button:hover, .button:focus {
  color: #fff;
  opacity: 0.8;
}
.button:disabled {
  opacity: 0.5;
}

// Content
mark {
  background: none;
  color: #ffb600;
  padding: inherit;
  font-style: italic;
}
blockquote {
  padding: 30px;
  margin: 40px;
  border-left: 5px solid #ffb600;
  background: #f2f2f2;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  font-style: italic;

  p {
    margin: 0 0 5px;
  }
}

@media screen and (max-width: 785px) {
  blockquote {
    margin: 20px;
  }
}

// Definition Lists
dt {
  font-weight: bold;
}
dl, .comment-body .comment-text dl {
  margin: 0 0 40px;
}
dl dd, .comment-body .comment-text dl dd {
  margin: 0 0 10px;
}

// Code Styles
pre {
  display: inline-block;
  width: 100%;
  background: #282c34;
  padding: 20px;
  overflow: auto;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  border-radius: 3px;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}
code {
  width: 100%;
  background: #282c34;
  padding: 5px 10px;
  overflow: auto;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  border-radius: 3px;
}