@font-face {
  font-family: 'essentials';
  src:  url('../fonts/essentials.eot?7320bc');
  src:  url('../fonts/essentials.eot?7320bc#iefix') format('embedded-opentype'),
  url('../fonts/essentials.ttf?7320bc') format('truetype'),
  url('../fonts/essentials.woff?7320bc') format('woff'),
  url('../fonts/essentials.svg?7320bc#essentials') format('svg');
  font-weight: normal;
  font-style: normal;
}

.essentials {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'essentials' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* better font rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.krucial-essential-light-01-chevron-left:before {
  content: "\e900";
}
.krucial-essential-light-02-chevron-right:before {
  content: "\e901";
}
.krucial-essential-light-03-chevron-up:before {
  content: "\e902";
}
.krucial-essential-light-04-chevron-down:before {
  content: "\e903";
}
.krucial-essential-light-05-tick:before {
  content: "\e904";
}
.krucial-essential-light-06-arrow-left:before {
  content: "\e905";
}
.krucial-essential-light-07-arrow-right:before {
  content: "\e906";
}
.krucial-essential-light-08-arrow-up:before {
  content: "\e907";
}
.krucial-essential-light-09-arrow-down:before {
  content: "\e908";
}
.krucial-essential-light-10-close-big:before {
  content: "\e909";
}
.krucial-essential-light-11-plus-big:before {
  content: "\e90a";
}
.krucial-essential-light-12-minus-big:before {
  content: "\e90b";
}
.krucial-essential-light-13-nav-burger:before {
  content: "\e90c";
}
.krucial-essential-light-14-grid-view:before {
  content: "\e90d";
}
.krucial-essential-light-15-close-circle:before {
  content: "\e90e";
}
.krucial-essential-light-16-plus-cricle:before {
  content: "\e90f";
}
.krucial-essential-light-17-minus-circle:before {
  content: "\e910";
}
.krucial-essential-light-18-plus-square:before {
  content: "\e911";
}
.krucial-essential-light-19-close-square:before {
  content: "\e912";
}
.krucial-essential-light-20-minus-square:before {
  content: "\e913";
}
.krucial-essential-light-21-tick-circle:before {
  content: "\e914";
}
.krucial-essential-light-22-tick-square:before {
  content: "\e915";
}
.krucial-essential-light-23-forbidden:before {
  content: "\e916";
}
.krucial-essential-light-24-square-blank:before {
  content: "\e917";
}
.krucial-essential-light-25-circle-blank:before {
  content: "\e918";
}
.krucial-essential-light-26-heart:before {
  content: "\e919";
}
.krucial-essential-light-27-envelope:before {
  content: "\e91a";
}
.krucial-essential-light-28-trash:before {
  content: "\e91b";
}
.krucial-essential-light-29-camera:before {
  content: "\e91c";
}
.krucial-essential-light-30-document:before {
  content: "\e91d";
}
.krucial-essential-light-31-document-copy:before {
  content: "\e91e";
}
.krucial-essential-light-32-lock-closed:before {
  content: "\e91f";
}
.krucial-essential-light-33-lock-open:before {
  content: "\e920";
}
.krucial-essential-light-34-arrow-in-up:before {
  content: "\e921";
}
.krucial-essential-light-35-arrow-in-down:before {
  content: "\e922";
}
.krucial-essential-light-36-download:before {
  content: "\e923";
}
.krucial-essential-light-37-upload:before {
  content: "\e924";
}
.krucial-essential-light-38-cloud-download:before {
  content: "\e925";
}
.krucial-essential-light-39-cloud-upload:before {
  content: "\e926";
}
.krucial-essential-light-40-cloud:before {
  content: "\e927";
}
.krucial-essential-light-41-home:before {
  content: "\e928";
}
.krucial-essential-light-42-pen:before {
  content: "\e929";
}
.krucial-essential-light-43-off:before {
  content: "\e92a";
}
.krucial-essential-light-44-phone:before {
  content: "\e92b";
}
.krucial-essential-light-45-user:before {
  content: "\e92c";
}
.krucial-essential-light-46-print:before {
  content: "\e92d";
}
.krucial-essential-light-47-video:before {
  content: "\e92e";
}
.krucial-essential-light-48-clipboard:before {
  content: "\e92f";
}
.krucial-essential-light-49-magnifier:before {
  content: "\e930";
}
.krucial-essential-light-50-magnifier-plus:before {
  content: "\e931";
}
.krucial-essential-light-51-magnifier-minus:before {
  content: "\e932";
}
.krucial-essential-light-52-photo:before {
  content: "\e933";
}
.krucial-essential-light-53-mobile:before {
  content: "\e934";
}
.krucial-essential-light-54-desktop:before {
  content: "\e935";
}
.krucial-essential-light-55-attachment:before {
  content: "\e936";
}
.krucial-essential-light-56-tag:before {
  content: "\e937";
}
.krucial-essential-light-57-globe:before {
  content: "\e938";
}
.krucial-essential-light-58-link:before {
  content: "\e939";
}
.krucial-essential-light-59-question:before {
  content: "\e93a";
}
.krucial-essential-light-60-question-circle:before {
  content: "\e93b";
}
.krucial-essential-light-61-exclamation:before {
  content: "\e93c";
}
.krucial-essential-light-62-info:before {
  content: "\e93d";
}
.krucial-essential-light-63-share:before {
  content: "\e93e";
}
.krucial-essential-light-64-settings:before {
  content: "\e93f";
}
.krucial-essential-light-65-cogwheel:before {
  content: "\e940";
}
.krucial-essential-light-66-volume:before {
  content: "\e941";
}
.krucial-essential-light-67-volume-plus:before {
  content: "\e942";
}
.krucial-essential-light-68-volume-mute:before {
  content: "\e943";
}
.krucial-essential-light-69-volume-minus:before {
  content: "\e944";
}
.krucial-essential-light-70-control-play:before {
  content: "\e945";
}
.krucial-essential-light-71-control-stop:before {
  content: "\e946";
}
.krucial-essential-light-72-control-pause:before {
  content: "\e947";
}
.krucial-essential-light-73-control-rewind:before {
  content: "\e948";
}
.krucial-essential-light-74-control-fastforward:before {
  content: "\e949";
}
.krucial-essential-light-75-control-start:before {
  content: "\e94a";
}
.krucial-essential-light-76-control-end:before {
  content: "\e94b";
}
.krucial-essential-light-77-control-fullscreen:before {
  content: "\e94c";
}
.krucial-essential-light-78-speech-bubble:before {
  content: "\e94d";
}
.krucial-essential-light-79-bookmark:before {
  content: "\e94e";
}
.krucial-essential-light-80-switch-off:before {
  content: "\e94f";
}
.krucial-essential-light-81-swicth-on:before {
  content: "\e950";
}
.krucial-essential-light-82-wifi:before {
  content: "\e951";
}
.krucial-essential-light-83-microphone:before {
  content: "\e952";
}
.krucial-essential-light-84-calendar:before {
  content: "\e953";
}
.krucial-essential-light-85-users:before {
  content: "\e954";
}
.krucial-essential-light-86-clock:before {
  content: "\e955";
}
.krucial-essential-light-87-refresh:before {
  content: "\e956";
}
.krucial-essential-light-88-pin:before {
  content: "\e957";
}
.krucial-essential-light-89-map:before {
  content: "\e958";
}
.krucial-essential-light-90-navigate:before {
  content: "\e959";
}
.krucial-essential-light-91-compass:before {
  content: "\e95a";
}
.krucial-essential-light-92-expand:before {
  content: "\e95b";
}
.krucial-essential-light-93-arrow-left-right:before {
  content: "\e95c";
}
.krucial-essential-light-94-shopping-cart:before {
  content: "\e95d";
}
.krucial-essential-light-95-folder:before {
  content: "\e95e";
}
.krucial-essential-light-96-file:before {
  content: "\e95f";
}
.krucial-essential-light-97-file-plus:before {
  content: "\e960";
}
.krucial-essential-light-98-file-minus:before {
  content: "\e961";
}
.krucial-essential-light-99-statistic-pie:before {
  content: "\e962";
}
.krucial-essential-light-100-statistic-graph:before {
  content: "\e963";
}
.krucial-essential-light-101-list-view:before {
  content: "\e964";
}
.krucial-more:before {
  content: "\e965";
}
.krucial-arrow-up5:before {
  content: "\e966";
}
.krucial-arrow-down3:before {
  content: "\e967";
}
.krucial-arrow-right4:before {
  content: "\e968";
}
.krucial-arrow-left4:before {
  content: "\e969";
}
.krucial-add:before {
  content: "\e96a";
}
.krucial-remove:before {
  content: "\e96b";
}
.krucial-check1:before {
  content: "\e96c";
}
.krucial-cancel:before {
  content: "\e96d";
}
.krucial-feed:before {
  content: "\e96e";
}
.krucial-upload1:before {
  content: "\e96f";
}
.krucial-download1:before {
  content: "\e970";
}
.krucial-check:before {
  content: "\e971";
}
.krucial-question:before {
  content: "\e972";
}
.krucial-output:before {
  content: "\e973";
}
.krucial-input:before {
  content: "\e974";
}
.krucial-denied:before {
  content: "\e975";
}
.krucial-time11:before {
  content: "\e976";
}
.krucial-menu4:before {
  content: "\e977";
}
.krucial-list4:before {
  content: "\e978";
}
.krucial-list3:before {
  content: "\e979";
}
.krucial-option7:before {
  content: "\e97a";
}
.krucial-communication2:before {
  content: "\e97b";
}
.krucial-communication1:before {
  content: "\e97c";
}
.krucial-communication:before {
  content: "\e97d";
}
.krucial-list2:before {
  content: "\e97e";
}
.krucial-pie-chart6:before {
  content: "\e97f";
}
.krucial-bar-chart3:before {
  content: "\e980";
}
.krucial-pie-chart5:before {
  content: "\e981";
}
.krucial-target1:before {
  content: "\e982";
}
.krucial-document10:before {
  content: "\e983";
}
.krucial-search:before {
  content: "\e984";
}
.krucial-picture:before {
  content: "\e985";
}
.krucial-target:before {
  content: "\e986";
}
.krucial-browser2:before {
  content: "\e987";
}
.krucial-smartphone:before {
  content: "\e988";
}
.krucial-option6:before {
  content: "\e989";
}
.krucial-option5:before {
  content: "\e98a";
}
.krucial-minimize:before {
  content: "\e98b";
}
.krucial-gear:before {
  content: "\e98c";
}
.krucial-user9:before {
  content: "\e98d";
}
.krucial-email_1:before {
  content: "\e98e";
}
.krucial-email1:before {
  content: "\e98f";
}
.krucial-movie:before {
  content: "\e990";
}
.krucial-credit-card7:before {
  content: "\e991";
}
.krucial-lock:before {
  content: "\e992";
}
.krucial-unlock:before {
  content: "\e993";
}
.krucial-sound6:before {
  content: "\e994";
}
.krucial-sound5:before {
  content: "\e995";
}
.krucial-sound4:before {
  content: "\e996";
}
.krucial-sound3:before {
  content: "\e997";
}
.krucial-bin:before {
  content: "\e998";
}
.krucial-location5:before {
  content: "\e999";
}
.krucial-write3:before {
  content: "\e99a";
}
.krucial-box6:before {
  content: "\e99b";
}
.krucial-send1:before {
  content: "\e99c";
}
.krucial-inbox1:before {
  content: "\e99d";
}
.krucial-menu3:before {
  content: "\e99e";
}
.krucial-folder1:before {
  content: "\e99f";
}
.krucial-camera:before {
  content: "\e9a0";
}
.krucial-video1:before {
  content: "\e9a1";
}
.krucial-box5:before {
  content: "\e9a2";
}
.krucial-menu2:before {
  content: "\e9a3";
}
.krucial-arrow7:before {
  content: "\e9a4";
}
.krucial-arrow-up4:before {
  content: "\e9a5";
}
.krucial-arrow-down2:before {
  content: "\e9a6";
}
.krucial-arrow-right3:before {
  content: "\e9a7";
}
.krucial-arrow-left3:before {
  content: "\e9a8";
}
.krucial-point:before {
  content: "\e9a9";
}
.krucial-menu1:before {
  content: "\e9aa";
}
.krucial-network:before {
  content: "\e9ab";
}
.krucial-calendar3:before {
  content: "\e9ac";
}
.krucial-calculator:before {
  content: "\e9ad";
}
.krucial-flag1:before {
  content: "\e9ae";
}
.krucial-flag:before {
  content: "\e9af";
}
.krucial-bettery4:before {
  content: "\e9b0";
}
.krucial-bettery3:before {
  content: "\e9b1";
}
.krucial-bettery2:before {
  content: "\e9b2";
}
.krucial-bettery1:before {
  content: "\e9b3";
}
.krucial-bettery:before {
  content: "\e9b4";
}
.krucial-power:before {
  content: "\e9b5";
}
.krucial-document9:before {
  content: "\e9b6";
}
.krucial-bluetooth1:before {
  content: "\e9b7";
}
.krucial-bluetooth:before {
  content: "\e9b8";
}
.krucial-notification:before {
  content: "\e9b9";
}
.krucial-option4:before {
  content: "\e9ba";
}
.krucial-option3:before {
  content: "\e9bb";
}
.krucial-option2:before {
  content: "\e9bc";
}
.krucial-option1:before {
  content: "\e9bd";
}
.krucial-option:before {
  content: "\e9be";
}
.krucial-play:before {
  content: "\e9bf";
}
.krucial-music1:before {
  content: "\e9c0";
}
.krucial-list1:before {
  content: "\e9c1";
}
.krucial-list:before {
  content: "\e9c2";
}
.krucial-pasue:before {
  content: "\e9c3";
}
.krucial-arrow6:before {
  content: "\e9c4";
}
.krucial-arrow5:before {
  content: "\e9c5";
}
.krucial-arrow4:before {
  content: "\e9c6";
}
.krucial-arrow3:before {
  content: "\e9c7";
}
.krucial-rec:before {
  content: "\e9c8";
}
.krucial-calendar2:before {
  content: "\e9c9";
}
.krucial-calendar1:before {
  content: "\e9ca";
}
.krucial-calendar:before {
  content: "\e9cb";
}
.krucial-map1:before {
  content: "\e9cc";
}
.krucial-map:before {
  content: "\e9cd";
}
.krucial-arrow-up3:before {
  content: "\e9ce";
}
.krucial-arrow-down1:before {
  content: "\e9cf";
}
.krucial-send:before {
  content: "\e9d0";
}
.krucial-inbox:before {
  content: "\e9d1";
}
.krucial-call-communication4:before {
  content: "\e9d2";
}
.krucial-call-communication3:before {
  content: "\e9d3";
}
.krucial-call-communication2:before {
  content: "\e9d4";
}
.krucial-call-communication1:before {
  content: "\e9d5";
}
.krucial-call-communication:before {
  content: "\e9d6";
}
.krucial-arrow-up2:before {
  content: "\e9d7";
}
.krucial-arrow-down:before {
  content: "\e9d8";
}
.krucial-arrow-right2:before {
  content: "\e9d9";
}
.krucial-arrow-left2:before {
  content: "\e9da";
}
.krucial-arrow-up1:before {
  content: "\e9db";
}
.krucial-arrow-down1:before {
  content: "\e9dc";
}
.krucial-arrow2:before {
  content: "\e9dd";
}
.krucial-tag:before {
  content: "\e9de";
}
.krucial-music:before {
  content: "\e9df";
}
.krucial-mic6:before {
  content: "\e9e0";
}
.krucial-bell:before {
  content: "\e9e1";
}
.krucial-server13:before {
  content: "\e9e2";
}
.krucial-server12:before {
  content: "\e9e3";
}
.krucial-server11:before {
  content: "\e9e4";
}
.krucial-server10:before {
  content: "\e9e5";
}
.krucial-mic5:before {
  content: "\e9e6";
}
.krucial-squares4:before {
  content: "\e9e7";
}
.krucial-squares3:before {
  content: "\e9e8";
}
.krucial-squares2:before {
  content: "\e9e9";
}
.krucial-squares1:before {
  content: "\e9ea";
}
.krucial-squares:before {
  content: "\e9eb";
}
.krucial-bookmark4:before {
  content: "\e9ec";
}
.krucial-zoom:before {
  content: "\e9ed";
}
.krucial-zoomout:before {
  content: "\e9ee";
}
.krucial-code:before {
  content: "\e9ef";
}
.krucial-help:before {
  content: "\e9f0";
}
.krucial-download:before {
  content: "\e9f1";
}
.krucial-upload:before {
  content: "\e9f2";
}
.krucial-time10:before {
  content: "\e9f3";
}
.krucial-folder-add:before {
  content: "\e9f4";
}
.krucial-folder-remove:before {
  content: "\e9f5";
}
.krucial-folder-arrow-up:before {
  content: "\e9f6";
}
.krucial-folder-arrow-down:before {
  content: "\e9f7";
}
.krucial-folder:before {
  content: "\e9f8";
}
.krucial-menu:before {
  content: "\e9f9";
}
.krucial-compass:before {
  content: "\e9fa";
}
.krucial-arrow-right1:before {
  content: "\e9fb";
}
.krucial-arrow-left1:before {
  content: "\e9fc";
}
.krucial-arrow1:before {
  content: "\e9fd";
}
.krucial-arrow:before {
  content: "\e9fe";
}
.krucial-sign:before {
  content: "\e9ff";
}
.krucial-cd1:before {
  content: "\ea00";
}
.krucial-cd:before {
  content: "\ea01";
}
.krucial-save:before {
  content: "\ea02";
}
.krucial-shopping-bag9:before {
  content: "\ea03";
}
.krucial-shopping-bag8:before {
  content: "\ea04";
}
.krucial-shopping-bag7:before {
  content: "\ea05";
}
.krucial-shopping-bag6:before {
  content: "\ea06";
}
.krucial-shopping-bag5:before {
  content: "\ea07";
}
.krucial-shopping-bag4:before {
  content: "\ea08";
}
.krucial-shopping-bag3:before {
  content: "\ea09";
}
.krucial-shopping-bag2:before {
  content: "\ea0a";
}
.krucial-shopping-bag1:before {
  content: "\ea0b";
}
.krucial-shopping-bag:before {
  content: "\ea0c";
}
.krucial-smartphone-arrow-up:before {
  content: "\ea0d";
}
.krucial-smartphone-arrow-down:before {
  content: "\ea0e";
}
.krucial-time9:before {
  content: "\ea0f";
}
.krucial-time8:before {
  content: "\ea10";
}
.krucial-time7:before {
  content: "\ea11";
}
.krucial-time6:before {
  content: "\ea12";
}
.krucial-time5:before {
  content: "\ea13";
}
.krucial-time4:before {
  content: "\ea14";
}
.krucial-time3:before {
  content: "\ea15";
}
.krucial-time2:before {
  content: "\ea16";
}
.krucial-time1:before {
  content: "\ea17";
}
.krucial-time:before {
  content: "\ea18";
}
.krucial-printer:before {
  content: "\ea19";
}
.krucial-mic4:before {
  content: "\ea1a";
}
.krucial-mic3:before {
  content: "\ea1b";
}
.krucial-mic2:before {
  content: "\ea1c";
}
.krucial-mic1:before {
  content: "\ea1d";
}
.krucial-mic:before {
  content: "\ea1e";
}
.krucial-link:before {
  content: "\ea1f";
}
.krucial-sound2:before {
  content: "\ea20";
}
.krucial-sound1:before {
  content: "\ea21";
}
.krucial-sound:before {
  content: "\ea22";
}
.krucial-location4:before {
  content: "\ea23";
}
.krucial-location3:before {
  content: "\ea24";
}
.krucial-location2:before {
  content: "\ea25";
}
.krucial-location1:before {
  content: "\ea26";
}
.krucial-location:before {
  content: "\ea27";
}
.krucial-box4:before {
  content: "\ea28";
}
.krucial-box3:before {
  content: "\ea29";
}
.krucial-box2:before {
  content: "\ea2a";
}
.krucial-box1:before {
  content: "\ea2b";
}
.krucial-box:before {
  content: "\ea2c";
}
.krucial-cloud6:before {
  content: "\ea2d";
}
.krucial-cloud5:before {
  content: "\ea2e";
}
.krucial-cloud4:before {
  content: "\ea2f";
}
.krucial-cloud3:before {
  content: "\ea30";
}
.krucial-cloud2:before {
  content: "\ea31";
}
.krucial-cloud1:before {
  content: "\ea32";
}
.krucial-user8:before {
  content: "\ea33";
}
.krucial-user7:before {
  content: "\ea34";
}
.krucial-user6:before {
  content: "\ea35";
}
.krucial-user5:before {
  content: "\ea36";
}
.krucial-user4:before {
  content: "\ea37";
}
.krucial-user3:before {
  content: "\ea38";
}
.krucial-user2:before {
  content: "\ea39";
}
.krucial-user1:before {
  content: "\ea3a";
}
.krucial-user:before {
  content: "\ea3b";
}
.krucial-male:before {
  content: "\ea3c";
}
.krucial-female:before {
  content: "\ea3d";
}
.krucial-dice5:before {
  content: "\ea3e";
}
.krucial-dice4:before {
  content: "\ea3f";
}
.krucial-dice3:before {
  content: "\ea40";
}
.krucial-dice2:before {
  content: "\ea41";
}
.krucial-dice1:before {
  content: "\ea42";
}
.krucial-dice:before {
  content: "\ea43";
}
.krucial-emotion13:before {
  content: "\ea44";
}
.krucial-emotion12:before {
  content: "\ea45";
}
.krucial-emotion11:before {
  content: "\ea46";
}
.krucial-emotion10:before {
  content: "\ea47";
}
.krucial-emotion9:before {
  content: "\ea48";
}
.krucial-emotion8:before {
  content: "\ea49";
}
.krucial-emotion7:before {
  content: "\ea4a";
}
.krucial-emotion6:before {
  content: "\ea4b";
}
.krucial-emotion5:before {
  content: "\ea4c";
}
.krucial-emotion4:before {
  content: "\ea4d";
}
.krucial-emotion3:before {
  content: "\ea4e";
}
.krucial-emotion2:before {
  content: "\ea4f";
}
.krucial-emotion1:before {
  content: "\ea50";
}
.krucial-emotion:before {
  content: "\ea51";
}
.krucial-anchor:before {
  content: "\ea52";
}
.krucial-weather2:before {
  content: "\ea53";
}
.krucial-weather1:before {
  content: "\ea54";
}
.krucial-weather:before {
  content: "\ea55";
}
.krucial-data5:before {
  content: "\ea56";
}
.krucial-data4:before {
  content: "\ea57";
}
.krucial-shopping-cart1:before {
  content: "\ea58";
}
.krucial-shopping-cart:before {
  content: "\ea59";
}
.krucial-shopping-cart-add_1:before {
  content: "\ea5a";
}
.krucial-shopping-cart-add:before {
  content: "\ea5b";
}
.krucial-shopping-cart-check:before {
  content: "\ea5c";
}
.krucial-shopping-cart-cancel:before {
  content: "\ea5d";
}
.krucial-shopping-cart-arrow-up:before {
  content: "\ea5e";
}
.krucial-shopping-cart-arrow-down:before {
  content: "\ea5f";
}
.krucial-shopping-cart-list:before {
  content: "\ea60";
}
.krucial-shopping-cart-product:before {
  content: "\ea61";
}
.krucial-shopping-cart-feedback:before {
  content: "\ea62";
}
.krucial-tree3:before {
  content: "\ea63";
}
.krucial-tree2:before {
  content: "\ea64";
}
.krucial-tree1:before {
  content: "\ea65";
}
.krucial-tree:before {
  content: "\ea66";
}
.krucial-water:before {
  content: "\ea67";
}
.krucial-leaf:before {
  content: "\ea68";
}
.krucial-pencil:before {
  content: "\ea69";
}
.krucial-pen:before {
  content: "\ea6a";
}
.krucial-ruler:before {
  content: "\ea6b";
}
.krucial-flashdrive:before {
  content: "\ea6c";
}
.krucial-keyboard:before {
  content: "\ea6d";
}
.krucial-graphic1:before {
  content: "\ea6e";
}
.krucial-crop:before {
  content: "\ea6f";
}
.krucial-graphic:before {
  content: "\ea70";
}
.krucial-color-cmyk:before {
  content: "\ea71";
}
.krucial-security13:before {
  content: "\ea72";
}
.krucial-security12:before {
  content: "\ea73";
}
.krucial-security11:before {
  content: "\ea74";
}
.krucial-security10:before {
  content: "\ea75";
}
.krucial-security9:before {
  content: "\ea76";
}
.krucial-security8:before {
  content: "\ea77";
}
.krucial-security7:before {
  content: "\ea78";
}
.krucial-security6:before {
  content: "\ea79";
}
.krucial-security5:before {
  content: "\ea7a";
}
.krucial-security4:before {
  content: "\ea7b";
}
.krucial-security3:before {
  content: "\ea7c";
}
.krucial-security2:before {
  content: "\ea7d";
}
.krucial-security1:before {
  content: "\ea7e";
}
.krucial-security:before {
  content: "\ea7f";
}
.krucial-write2:before {
  content: "\ea80";
}
.krucial-write1:before {
  content: "\ea81";
}
.krucial-plug:before {
  content: "\ea82";
}
.krucial-sport-ball3:before {
  content: "\ea83";
}
.krucial-sport-ball2:before {
  content: "\ea84";
}
.krucial-sport-ball1:before {
  content: "\ea85";
}
.krucial-sport-ball:before {
  content: "\ea86";
}
.krucial-book:before {
  content: "\ea87";
}
.krucial-tool:before {
  content: "\ea88";
}
.krucial-board2:before {
  content: "\ea89";
}
.krucial-board1:before {
  content: "\ea8a";
}
.krucial-board:before {
  content: "\ea8b";
}
.krucial-eraser:before {
  content: "\ea8c";
}
.krucial-graduation:before {
  content: "\ea8d";
}
.krucial-presentation1:before {
  content: "\ea8e";
}
.krucial-presentation:before {
  content: "\ea8f";
}
.krucial-science:before {
  content: "\ea90";
}
.krucial-box-arrow-up:before {
  content: "\ea91";
}
.krucial-box-arrow-down:before {
  content: "\ea92";
}
.krucial-box-arrow-right:before {
  content: "\ea93";
}
.krucial-box-arrow-left:before {
  content: "\ea94";
}
.krucial-box-list1:before {
  content: "\ea95";
}
.krucial-box-list:before {
  content: "\ea96";
}
.krucial-email-add:before {
  content: "\ea97";
}
.krucial-email-remove1:before {
  content: "\ea98";
}
.krucial-email-check:before {
  content: "\ea99";
}
.krucial-email-cancel:before {
  content: "\ea9a";
}
.krucial-email-arrow-up:before {
  content: "\ea9b";
}
.krucial-email-arrow-down1:before {
  content: "\ea9c";
}
.krucial-email-arrow-right:before {
  content: "\ea9d";
}
.krucial-email-arrow-left:before {
  content: "\ea9e";
}
.krucial-email-arrow-down:before {
  content: "\ea9f";
}
.krucial-email-arrow-up:before {
  content: "\eaa0";
}
.krucial-email-write:before {
  content: "\eaa1";
}
.krucial-email:before {
  content: "\eaa2";
}
.krucial-email-remove:before {
  content: "\eaa3";
}
.krucial-email-list1:before {
  content: "\eaa4";
}
.krucial-email-list:before {
  content: "\eaa5";
}
.krucial-document8:before {
  content: "\eaa6";
}
.krucial-document7:before {
  content: "\eaa7";
}
.krucial-document6:before {
  content: "\eaa8";
}
.krucial-document_1:before {
  content: "\eaa9";
}
.krucial-document5:before {
  content: "\eaaa";
}
.krucial-document4:before {
  content: "\eaab";
}
.krucial-document-invoice:before {
  content: "\eaac";
}
.krucial-document-report:before {
  content: "\eaad";
}
.krucial-document-data2:before {
  content: "\eaae";
}
.krucial-document-data1:before {
  content: "\eaaf";
}
.krucial-document-video:before {
  content: "\eab0";
}
.krucial-document-music:before {
  content: "\eab1";
}
.krucial-document-data:before {
  content: "\eab2";
}
.krucial-document3:before {
  content: "\eab3";
}
.krucial-document-chart:before {
  content: "\eab4";
}
.krucial-document-search:before {
  content: "\eab5";
}
.krucial-document2:before {
  content: "\eab6";
}
.krucial-document-arrow-up1:before {
  content: "\eab7";
}
.krucial-document-arrow-down1:before {
  content: "\eab8";
}
.krucial-document-arrow-right:before {
  content: "\eab9";
}
.krucial-document-arrow-left:before {
  content: "\eaba";
}
.krucial-document-arrow-up:before {
  content: "\eabb";
}
.krucial-document-arrow-down:before {
  content: "\eabc";
}
.krucial-document1:before {
  content: "\eabd";
}
.krucial-document-picture:before {
  content: "\eabe";
}
.krucial-document-security1:before {
  content: "\eabf";
}
.krucial-document-security:before {
  content: "\eac0";
}
.krucial-document-add:before {
  content: "\eac1";
}
.krucial-document-remove1:before {
  content: "\eac2";
}
.krucial-document-check:before {
  content: "\eac3";
}
.krucial-document-remove:before {
  content: "\eac4";
}
.krucial-document-process:before {
  content: "\eac5";
}
.krucial-document-question:before {
  content: "\eac6";
}
.krucial-document-financial:before {
  content: "\eac7";
}
.krucial-document-code:before {
  content: "\eac8";
}
.krucial-write:before {
  content: "\eac9";
}
.krucial-document-exchange:before {
  content: "\eaca";
}
.krucial-document:before {
  content: "\eacb";
}
.krucial-document-home:before {
  content: "\eacc";
}
.krucial-computer9:before {
  content: "\eacd";
}
.krucial-computer8:before {
  content: "\eace";
}
.krucial-computer7:before {
  content: "\eacf";
}
.krucial-computer6:before {
  content: "\ead0";
}
.krucial-computer5:before {
  content: "\ead1";
}
.krucial-computer4:before {
  content: "\ead2";
}
.krucial-computer3:before {
  content: "\ead3";
}
.krucial-computer2:before {
  content: "\ead4";
}
.krucial-computer1:before {
  content: "\ead5";
}
.krucial-computer:before {
  content: "\ead6";
}
.krucial-home1:before {
  content: "\ead7";
}
.krucial-home:before {
  content: "\ead8";
}
.krucial-present7:before {
  content: "\ead9";
}
.krucial-present6:before {
  content: "\eada";
}
.krucial-present5:before {
  content: "\eadb";
}
.krucial-present4:before {
  content: "\eadc";
}
.krucial-present3:before {
  content: "\eadd";
}
.krucial-present2:before {
  content: "\eade";
}
.krucial-present1:before {
  content: "\eadf";
}
.krucial-present:before {
  content: "\eae0";
}
.krucial-browser1:before {
  content: "\eae1";
}
.krucial-browser:before {
  content: "\eae2";
}
.krucial-browser-arrow-up:before {
  content: "\eae3";
}
.krucial-browser-arrow-down:before {
  content: "\eae4";
}
.krucial-browser-add:before {
  content: "\eae5";
}
.krucial-browser-remove:before {
  content: "\eae6";
}
.krucial-browser-check:before {
  content: "\eae7";
}
.krucial-browser-cancel:before {
  content: "\eae8";
}
.krucial-browser-layout2:before {
  content: "\eae9";
}
.krucial-browser-layout1:before {
  content: "\eaea";
}
.krucial-browser-layout:before {
  content: "\eaeb";
}
.krucial-browser-document:before {
  content: "\eaec";
}
.krucial-business-bag:before {
  content: "\eaed";
}
.krucial-credit-card6:before {
  content: "\eaee";
}
.krucial-credit-card5:before {
  content: "\eaef";
}
.krucial-credit-card4:before {
  content: "\eaf0";
}
.krucial-credit-card3:before {
  content: "\eaf1";
}
.krucial-credit-card2:before {
  content: "\eaf2";
}
.krucial-credit-card1:before {
  content: "\eaf3";
}
.krucial-credit-card:before {
  content: "\eaf4";
}
.krucial-money10:before {
  content: "\eaf5";
}
.krucial-money9:before {
  content: "\eaf6";
}
.krucial-money8:before {
  content: "\eaf7";
}
.krucial-money7:before {
  content: "\eaf8";
}
.krucial-money6:before {
  content: "\eaf9";
}
.krucial-money5:before {
  content: "\eafa";
}
.krucial-money4:before {
  content: "\eafb";
}
.krucial-money3:before {
  content: "\eafc";
}
.krucial-money2:before {
  content: "\eafd";
}
.krucial-money1:before {
  content: "\eafe";
}
.krucial-money:before {
  content: "\eaff";
}
.krucial-data3:before {
  content: "\eb00";
}
.krucial-data-add:before {
  content: "\eb01";
}
.krucial-data-remove:before {
  content: "\eb02";
}
.krucial-data-check:before {
  content: "\eb03";
}
.krucial-data2:before {
  content: "\eb04";
}
.krucial-data1:before {
  content: "\eb05";
}
.krucial-data-arrow-up:before {
  content: "\eb06";
}
.krucial-data-arrow-down:before {
  content: "\eb07";
}
.krucial-data:before {
  content: "\eb08";
}
.krucial-speech-bubble-communication14:before {
  content: "\eb09";
}
.krucial-speech-bubble-communication13:before {
  content: "\eb0a";
}
.krucial-speech-bubble-communication12:before {
  content: "\eb0b";
}
.krucial-speech-bubble-communication11:before {
  content: "\eb0c";
}
.krucial-speech-bubble-communication10:before {
  content: "\eb0d";
}
.krucial-speech-bubble-communication9:before {
  content: "\eb0e";
}
.krucial-speech-bubble-communication8:before {
  content: "\eb0f";
}
.krucial-speech-bubble-communication7:before {
  content: "\eb10";
}
.krucial-speech-bubble-communication6:before {
  content: "\eb11";
}
.krucial-speech-bubble-communication5:before {
  content: "\eb12";
}
.krucial-speech-bubble-communication4:before {
  content: "\eb13";
}
.krucial-speech-bubble-communication3:before {
  content: "\eb14";
}
.krucial-speech-bubble-communication2:before {
  content: "\eb15";
}
.krucial-speech-bubble-communication1:before {
  content: "\eb16";
}
.krucial-speech-bubble-communication:before {
  content: "\eb17";
}
.krucial-cloud:before {
  content: "\eb18";
}
.krucial-cloud-arrow-up:before {
  content: "\eb19";
}
.krucial-cloud-arrow-down:before {
  content: "\eb1a";
}
.krucial-video:before {
  content: "\eb1b";
}
.krucial-pc:before {
  content: "\eb1c";
}
.krucial-arrow-up:before {
  content: "\eb1d";
}
.krucial-arrow-down:before {
  content: "\eb1e";
}
.krucial-arrow-right:before {
  content: "\eb1f";
}
.krucial-arrow-left:before {
  content: "\eb20";
}
.krucial-pie-chart4:before {
  content: "\eb21";
}
.krucial-pie-chart3:before {
  content: "\eb22";
}
.krucial-pie-chart2:before {
  content: "\eb23";
}
.krucial-pie-chart1:before {
  content: "\eb24";
}
.krucial-pie-chart:before {
  content: "\eb25";
}
.krucial-bar-chart2:before {
  content: "\eb26";
}
.krucial-bar-chart1:before {
  content: "\eb27";
}
.krucial-bar-chart:before {
  content: "\eb28";
}
.krucial-shopping-basket:before {
  content: "\eb29";
}
.krucial-shopping-basket-add:before {
  content: "\eb2a";
}
.krucial-shopping-basket-remove:before {
  content: "\eb2b";
}
.krucial-shopping-basket-check:before {
  content: "\eb2c";
}
.krucial-shopping-basket-cancel:before {
  content: "\eb2d";
}
.krucial-shopping-basket-arrow-up:before {
  content: "\eb2e";
}
.krucial-shopping-basket-arrow-down:before {
  content: "\eb2f";
}
.krucial-shopping-basket-list:before {
  content: "\eb30";
}
.krucial-clipboard6:before {
  content: "\eb31";
}
.krucial-clipboard5:before {
  content: "\eb32";
}
.krucial-clipboard4:before {
  content: "\eb33";
}
.krucial-clipboard3:before {
  content: "\eb34";
}
.krucial-clipboard2:before {
  content: "\eb35";
}
.krucial-clipboard-add:before {
  content: "\eb36";
}
.krucial-clipboard-remove:before {
  content: "\eb37";
}
.krucial-clipboard-check:before {
  content: "\eb38";
}
.krucial-clipboard1:before {
  content: "\eb39";
}
.krucial-clipboard:before {
  content: "\eb3a";
}
.krucial-clipboard-write:before {
  content: "\eb3b";
}
.krucial-bookmark3:before {
  content: "\eb3c";
}
.krucial-bookmark2:before {
  content: "\eb3d";
}
.krucial-bookmark1:before {
  content: "\eb3e";
}
.krucial-bookmark:before {
  content: "\eb3f";
}
.krucial-global-network3:before {
  content: "\eb40";
}
.krucial-global-network2:before {
  content: "\eb41";
}
.krucial-global-network_1:before {
  content: "\eb42";
}
.krucial-global-network1:before {
  content: "\eb43";
}
.krucial-global-network:before {
  content: "\eb44";
}
.krucial-server9:before {
  content: "\eb45";
}
.krucial-server8:before {
  content: "\eb46";
}
.krucial-server7:before {
  content: "\eb47";
}
.krucial-server6:before {
  content: "\eb48";
}
.krucial-server5:before {
  content: "\eb49";
}
.krucial-server4:before {
  content: "\eb4a";
}
.krucial-server3:before {
  content: "\eb4b";
}
.krucial-server2:before {
  content: "\eb4c";
}
.krucial-server1:before {
  content: "\eb4d";
}
.krucial-server:before {
  content: "\eb4e";
}
.krucial-control:before {
  content: "\eb4f";
}
.krucial-control1:before {
  content: "\eb50";
}
.krucial-speaker:before {
  content: "\eb51";
}
.krucial-coin:before {
  content: "\eb52";
}
.krucial-calculator:before {
  content: "\eb53";
}
.krucial-wifi:before {
  content: "\eb54";
}
.krucial-mouse:before {
  content: "\eb55";
}
.krucial-radio:before {
  content: "\eb56";
}
.krucial-idea:before {
  content: "\eb57";
}
.krucial-planning:before {
  content: "\eb58";
}
.krucial-analytics-graph-bar:before {
  content: "\eb59";
}
.krucial-baby-trolley:before {
  content: "\eb5a";
}
.krucial-baggage:before {
  content: "\eb5b";
}
.krucial-beach-parasol-water-1:before {
  content: "\eb5c";
}
.krucial-biking-person:before {
  content: "\eb5d";
}
.krucial-bin-2:before {
  content: "\eb5e";
}
.krucial-binocular:before {
  content: "\eb5f";
}
.krucial-bomb-grenade:before {
  content: "\eb60";
}
.krucial-building-modern-1:before {
  content: "\eb61";
}
.krucial-camera-flash:before {
  content: "\eb62";
}
.krucial-coffee-cold:before {
  content: "\eb63";
}
.krucial-coffee-machine:before {
  content: "\eb64";
}
.krucial-cog:before {
  content: "\eb65";
}
.krucial-content-ink-pen-write:before {
  content: "\eb66";
}
.krucial-content-pen-3:before {
  content: "\eb67";
}
.krucial-content-typing-machine:before {
  content: "\eb68";
}
.krucial-couple-man-woman:before {
  content: "\eb69";
}
.krucial-coupon-cut:before {
  content: "\eb6a";
}
.krucial-crypto-currency-bitcoin-imac:before {
  content: "\eb6b";
}
.krucial-dating-rose:before {
  content: "\eb6c";
}
.krucial-dating-smartphone-man:before {
  content: "\eb6d";
}
.krucial-design-tool-pen-station:before {
  content: "\eb6e";
}
.krucial-design-tool-quill-2:before {
  content: "\eb6f";
}
.krucial-desktop-monitor-download:before {
  content: "\eb70";
}
.krucial-desktop-monitor-upload:before {
  content: "\eb71";
}
.krucial-diet-waist-1:before {
  content: "\eb72";
}
.krucial-e-learning-monitor:before {
  content: "\eb73";
}
.krucial-email-action-receive:before {
  content: "\eb74";
}
.krucial-filter-picture:before {
  content: "\eb75";
}
.krucial-flag1:before {
  content: "\eb76";
}
.krucial-footwear-heels-ankle:before {
  content: "\eb77";
}
.krucial-gauge-dashboard-1:before {
  content: "\eb78";
}
.krucial-golf-hole:before {
  content: "\eb79";
}
.krucial-graph-stats-circle:before {
  content: "\eb7a";
}
.krucial-hammer-1:before {
  content: "\eb7b";
}
.krucial-headphones-human:before {
  content: "\eb7c";
}
.krucial-human-resources-search-employees:before {
  content: "\eb7d";
}
.krucial-insurance-card:before {
  content: "\eb7e";
}
.krucial-lab-flask-experiment:before {
  content: "\eb7f";
}
.krucial-landmark-japan-shrine:before {
  content: "\eb80";
}
.krucial-laptop-smiley-1:before {
  content: "\eb81";
}
.krucial-lighter:before {
  content: "\eb82";
}
.krucial-like-1:before {
  content: "\eb83";
}
.krucial-login-2:before {
  content: "\eb84";
}
.krucial-love-boat:before {
  content: "\eb85";
}
.krucial-maps-pin:before {
  content: "\eb86";
}
.krucial-medical-personnel-doctor:before {
  content: "\eb87";
}
.krucial-megaphone-1:before {
  content: "\eb88";
}
.krucial-messages-people-person-bubble-oval:before {
  content: "\eb89";
}
.krucial-mobile-phone-2:before {
  content: "\eb8a";
}
.krucial-modern-tv-3d-glasses:before {
  content: "\eb8b";
}
.krucial-money-wallet-open:before {
  content: "\eb8c";
}
.krucial-monkey:before {
  content: "\eb8d";
}
.krucial-mood-happy:before {
  content: "\eb8e";
}
.krucial-mouse:before {
  content: "\eb8f";
}
.krucial-nautic-sports-sailing-person:before {
  content: "\eb90";
}
.krucial-office-work-wireless:before {
  content: "\eb91";
}
.krucial-optimization-timer-1:before {
  content: "\eb92";
}
.krucial-outdoors-tree-valley:before {
  content: "\eb93";
}
.krucial-pencil-2:before {
  content: "\eb94";
}
.krucial-people-man-graduate:before {
  content: "\eb95";
}
.krucial-people-woman-glasses-1:before {
  content: "\eb96";
}
.krucial-phone-actions-ring:before {
  content: "\eb97";
}
.krucial-pin-monitor:before {
  content: "\eb98";
}
.krucial-pin:before {
  content: "\eb99";
}
.krucial-plane-trip-international:before {
  content: "\eb9a";
}
.krucial-presentation-board-graph:before {
  content: "\eb9b";
}
.krucial-print-text:before {
  content: "\eb9c";
}
.krucial-programming-flag:before {
  content: "\eb9d";
}
.krucial-rat:before {
  content: "\eb9e";
}
.krucial-rooster:before {
  content: "\eb9f";
}
.krucial-science-dna:before {
  content: "\eba0";
}
.krucial-screen-1:before {
  content: "\eba1";
}
.krucial-send-email-2:before {
  content: "\eba2";
}
.krucial-shipment-upload:before {
  content: "\eba3";
}
.krucial-shop-cashier-man:before {
  content: "\eba4";
}
.krucial-shop-cashier-woman:before {
  content: "\eba5";
}
.krucial-shopping-bag-heart:before {
  content: "\eba6";
}
.krucial-shopping-bag-tag-1:before {
  content: "\eba7";
}
.krucial-shopping-cart-download:before {
  content: "\eba8";
}
.krucial-show-hat-magician-1:before {
  content: "\eba9";
}
.krucial-skull-1:before {
  content: "\ebaa";
}
.krucial-skunk:before {
  content: "\ebab";
}
.krucial-stamps-famous:before {
  content: "\ebac";
}
.krucial-tablet-touch:before {
  content: "\ebad";
}
.krucial-taking-pictures-circle:before {
  content: "\ebae";
}
.krucial-target-center-2:before {
  content: "\ebaf";
}
.krucial-video-game-gamasutra:before {
  content: "\ebb0";
}
.krucial-video-game-mario-3:before {
  content: "\ebb1";
}
.krucial-video-game-mario-enemy:before {
  content: "\ebb2";
}
.krucial-video-player-1:before {
  content: "\ebb3";
}
.krucial-video-player-cloud:before {
  content: "\ebb4";
}
.krucial-video-player-monitor:before {
  content: "\ebb5";
}
.krucial-view-off:before {
  content: "\ebb6";
}
.krucial-view:before {
  content: "\ebb7";
}
.krucial-warehouse-cart-packages:before {
  content: "\ebb8";
}
.krucial-warehouse-storage-3:before {
  content: "\ebb9";
}
.krucial-wench-double:before {
  content: "\ebba";
}
.krucial-whale-body:before {
  content: "\ebbb";
}
.krucial-wireless-payment-credit-card-dollar:before {
  content: "\ebbc";
}
.krucial-mobile:before {
  content: "\e000";
}
.krucial-laptop:before {
  content: "\e001";
}
.krucial-desktop:before {
  content: "\e002";
}
.krucial-tablet:before {
  content: "\e003";
}
.krucial-phone:before {
  content: "\e004";
}
.krucial-document:before {
  content: "\e005";
}
.krucial-documents:before {
  content: "\e006";
}
.krucial-clipboard:before {
  content: "\e008";
}
.krucial-newspaper:before {
  content: "\e009";
}
.krucial-notebook:before {
  content: "\e00a";
}
.krucial-book-open:before {
  content: "\e00b";
}
.krucial-browser:before {
  content: "\e00c";
}
.krucial-calendar:before {
  content: "\e00d";
}
.krucial-presentation:before {
  content: "\e00e";
}
.krucial-picture:before {
  content: "\e00f";
}
.krucial-pictures:before {
  content: "\e010";
}
.krucial-video:before {
  content: "\e011";
}
.krucial-camera:before {
  content: "\e012";
}
.krucial-printer:before {
  content: "\e013";
}
.krucial-toolbox:before {
  content: "\e014";
}
.krucial-briefcase:before {
  content: "\e015";
}
.krucial-wallet:before {
  content: "\e016";
}
.krucial-gift:before {
  content: "\e017";
}
.krucial-bargraph:before {
  content: "\e018";
}
.krucial-grid:before {
  content: "\e019";
}
.krucial-expand:before {
  content: "\e01a";
}
.krucial-focus:before {
  content: "\e01b";
}
.krucial-edit:before {
  content: "\e01c";
}
.krucial-adjustments:before {
  content: "\e01d";
}
.krucial-ribbon:before {
  content: "\e01e";
}
.krucial-hourglass:before {
  content: "\e01f";
}
.krucial-lock:before {
  content: "\e020";
}
.krucial-megaphone:before {
  content: "\e021";
}
.krucial-shield:before {
  content: "\e022";
}
.krucial-trophy:before {
  content: "\e023";
}
.krucial-flag:before {
  content: "\e024";
}
.krucial-map:before {
  content: "\e025";
}
.krucial-puzzle:before {
  content: "\e026";
}
.krucial-basket:before {
  content: "\e027";
}
.krucial-envelope:before {
  content: "\e028";
}
.krucial-streetsign:before {
  content: "\e029";
}
.krucial-telescope:before {
  content: "\e02a";
}
.krucial-gears:before {
  content: "\e02b";
}
.krucial-key:before {
  content: "\e02c";
}
.krucial-paperclip:before {
  content: "\e02d";
}
.krucial-attachment:before {
  content: "\e02e";
}
.krucial-pricetags:before {
  content: "\e02f";
}
.krucial-lightbulb:before {
  content: "\e030";
}
.krucial-layers:before {
  content: "\e031";
}
.krucial-pencil:before {
  content: "\e032";
}
.krucial-tools:before {
  content: "\e033";
}
.krucial-tools-2:before {
  content: "\e034";
}
.krucial-scissors:before {
  content: "\e035";
}
.krucial-paintbrush:before {
  content: "\e036";
}
.krucial-magnifying-glass:before {
  content: "\e037";
}
.krucial-circle-compass:before {
  content: "\e038";
}
.krucial-linegraph:before {
  content: "\e039";
}
.krucial-mic:before {
  content: "\e03a";
}
.krucial-strategy:before {
  content: "\e03b";
}
.krucial-beaker:before {
  content: "\e03c";
}
.krucial-caution:before {
  content: "\e03d";
}
.krucial-recycle:before {
  content: "\e03e";
}
.krucial-anchor:before {
  content: "\e03f";
}
.krucial-profile-male:before {
  content: "\e040";
}
.krucial-profile-female:before {
  content: "\e041";
}
.krucial-bike:before {
  content: "\e042";
}
.krucial-wine:before {
  content: "\e043";
}
.krucial-hotairballoon:before {
  content: "\e044";
}
.krucial-globe:before {
  content: "\e045";
}
.krucial-genius:before {
  content: "\e046";
}
.krucial-map-pin:before {
  content: "\e047";
}
.krucial-dial:before {
  content: "\e048";
}
.krucial-chat:before {
  content: "\e049";
}
.krucial-heart:before {
  content: "\e04a";
}
.krucial-cloud:before {
  content: "\e04b";
}
.krucial-upload:before {
  content: "\e04c";
}
.krucial-download:before {
  content: "\e04d";
}
.krucial-target:before {
  content: "\e04e";
}
.krucial-hazardous:before {
  content: "\e04f";
}
.krucial-piechart:before {
  content: "\e050";
}
.krucial-speedometer:before {
  content: "\e051";
}
.krucial-global:before {
  content: "\e052";
}
.krucial-compass:before {
  content: "\e053";
}
.krucial-lifesaver:before {
  content: "\e054";
}
.krucial-clock:before {
  content: "\e055";
}
.krucial-aperture:before {
  content: "\e056";
}
.krucial-quote:before {
  content: "\e057";
}
.krucial-scope:before {
  content: "\e058";
}
.krucial-alarmclock:before {
  content: "\e059";
}
.krucial-refresh:before {
  content: "\e05a";
}
.krucial-happy:before {
  content: "\e05b";
}
.krucial-sad:before {
  content: "\e05c";
}
.krucial-facebook:before {
  content: "\e05d";
}
.krucial-twitter:before {
  content: "\e05e";
}
.krucial-googleplus:before {
  content: "\e05f";
}
.krucial-rss:before {
  content: "\e060";
}
.krucial-tumblr:before {
  content: "\e061";
}
.krucial-linkedin:before {
  content: "\e062";
}
.krucial-dribbble:before {
  content: "\e063";
}
