.breadcrumbs {
  font-size: 10px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;

  span {
    padding: 0 10px;
    color: #333;

    &:first-child {
      padding-left: 0;
    }

    &:last-child, span {
      padding-right: 0;
    }
  }
}