body {

  .wpcf7 {

    label {
      margin-bottom: 5px;
      display: inline-block;
      font-size: 15px;
    }

    .screen-reader-response {
      display: none;
    }

    form {

      p {
        margin: 0;
        position: relative;
      }

      input {

        &.wpcf7-not-valid {
          border-color: red;
        }
      }

      .wpcf7-not-valid-tip {
        display: none;
        font-size: 13px;
        margin-bottom: 20px;
        margin-top: -10px;
      }

      input[type=submit] {
        background: $primary;
        color: #fff;
        font-family: Poppins, sans-serif;
        font-weight: 700;
        outline: 0;
        border: 0;
        font-size: 13px;
        line-height: 20px;
        user-select: none;
        white-space: nowrap;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        padding: 15px 30px;
        border-radius: 2px;
        transition: all 0.2s ease;
        margin: 0;

        &:hover {
          color: #fff;
          opacity: 0.8;
        }
      }

      .ajax-loader {
        position: absolute;
        z-index: 2;
        top: 15px;
        left: 15px;
        border: 2px solid #fff;
        border-top: 2px solid #101010;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        background-image: none;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .wpcf7-validation-errors {
        font-size: 13px;
        margin: 28px 0 0;
        padding: 20px;
        display: none !important;
        width: 100%;
        border: 1px solid #e0e0e0;
        border-top: 3px solid red;
        border-radius: 3px;
        color: red;
      }

      // Email optin widget
      .email-optin {
        position: relative;
        margin-top: 25px;

        input[type=email] {
          border: 0;
          border-bottom: 1px solid #ffb600;
          padding: 15px;
          background: #222;
          color: #fff;

          &:focus {
            border-color: #fff;
          }
        }

        input[type=submit] {
          position: absolute;
          top: 0;
          right: 15px;
          width: auto;
          padding: 14px 0;
          background: transparent;
          color: #fff;
          font-weight: 600;

          &:active, &:hover {
            opacity: 1;
            color: #ffb600;
          }
        }
      }

      .wpcf7-mail-sent-ok {
        padding: 20px;
        border-radius: 2px;
        margin: 20px 0;
        background: #398f14;
        color: #fff;
      }
    }

    .cf7-submit-btn {
      position: relative;
      margin-top: 28px;
      overflow: hidden;

      &:active {
        top: 2px;
      }

      &:hover {

        &:after {
          width: 30%;
        }
      }

      &:after {
        width: 20%;
        height: 200%;
        background: rgba(255,255,255,0.1);
        z-index: 1;
        right: 0;
        top: 0;
        margin: -5px 0 0 -5px;
        transform-origin: 0 0;
        transform: rotate(-20deg);
        content: '';
        position: absolute;
        transition: all 0.2s ease;
      }
    }
  }

  .contact-form-wrap-box {
    padding: 100px;
    background: #fff;
    position: relative;
    top: -100px;
  }
}

@media screen and (max-width: 785px) {
  body .wpcf7 .cf7-submit-btn {
    margin-top: 28px;
  }
}