@import '../../colors';

.footer-wrap {
  position: relative;
  margin-top: -10px;

  .footer {
    position: relative;
    padding: 100px 0;
    background: #0a0a0a;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1;

    .widget {
      margin-bottom: 30px;

      .widget_title {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        margin-bottom: 30px;

        &:after {
          content: '';
          display: block;
          width: 40px;
          height: 2px;
          background: #fff;
          position: relative;
          margin: 12px 0;
          transform: skew(-45deg);
          border-radius: 2px;
        }
      }

      // text locations widget html
      .text-locations {

        &.dark {

          .item {

            i {
              color: #101010;
            }

            span, a {
              color: #101010;
            }
          }
        }

        .item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          i {
            color: #fff;
            font-size: 18px;
            padding-right: 10px;
          }

          span, a {
            color: rgba(255, 255, 255, 0.8);
            font-size: 16px;
          }
        }

        b {
          color: #848484;
          font-size: 15px;
          letter-spacing: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .footer {
    padding: 100px 20px;
    padding-bottom: 50px !important;

    .widget {
      margin-bottom: 50px;
    }
  }
}