.header {
  opacity: 1;
  transition: opacity 0.3s ease;

  &.fade-out-hide {
    opacity: 0;
  }

  .main-menu {
    position: relative;

    > ul {
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      > li {
        position: relative;

        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          font-size: 14px;
          font-weight: 600;
          font-family: 'Poppins', 'sans-serif';
          color: #101010;
          padding: 20px 25px;
          text-decoration: none;
          transition: all 0.2s ease;

          &:hover {
            color: #ffb600;
          }
        }

        &.current-menu-item > a {
          color: #ffb600;
        }

        &.menu-item-has-children > a:after {
          content: "\f054";
          font-family: "Font Awesome 5 Free";
          position: absolute;
          right: 5px;
          font-size: 9px;
          top: 50%;
          transform: translateY(-50%) rotate(90deg);
        }

        ul.sub-menu {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 50%;
          top: calc(100% + 15px);
          transform: translateX(-50%);
          background: #fff;
          list-style: none;
          margin: 0;
          padding: 0;
          width: auto;
          min-width: 230px;
          z-index: 999;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
          transition: all 0.2s ease-in-out 0s;

          &:after {
            bottom: 100%;
            left: 50%;
            content: '';
            height: 12px;
            width: 12px;
            position: absolute;
            pointer-events: none;
            background: #fff;
            border-radius: 2px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            transform: translate3d(-50%, 50%, 0) rotate(-45deg);
          }

          li {
            position: relative;
            display: flex;
            align-items: center;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            margin: 0;
            height: 50px;
            white-space: nowrap;

            &:first-child {
              border-top-color: transparent;
            }

            a {
              padding: 0 24px;
              color: #000;
              display: inline-block;
              width: 100%;
              transition: all 0.2s ease;
              position: relative;
              font-size: 14px;
              font-weight: 600;
              font-family: Poppins, 'sans-serif';
              text-decoration: none;

              &:hover {
                color: #ffb600;
              }
            }

            &.current-menu-item > a {
              color: #ffb600;
            }

            &.menu-item-has-children,
            &.page_item_has_children {

              > a:before {
                content: "\f054";
                font-family: "Font Awesome 5 Free";
                font-size: 9px;
                position: absolute;
                right: 20px;
                margin-top: 4px;
              }

              ul.sub-menu {
                left: 100%;
                top: -2px;
                padding: 0;
                margin: 0;
                transform: translateX(0);

                &:after {
                  display: none;
                }
              }

              &:hover {

                ul.sub-menu {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }

        &:hover > ul {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .header {
    display: none;
  }
}