.header-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  z-index: 999;
  background: #fff;

  .site-title {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #484848;
  }

  .logo {
    display: flex;

    img {

      &.light {
        display: none;
      }

      &.dark {
        display: block;
      }
    }
  }

  .toggler {
    position: relative;
    top: 1px;
    cursor: pointer;
    width: 30px;
    height: 25px;

    .bar-top {
      position: absolute;
      width: 100%;
      height: 2px;
      background: #484848;
      border-radius: 1px;
      top: 0;
      transition: transform 0.5s;
    }

    .bar-middle {
      position: absolute;
      width: 100%;
      height: 2px;
      background: #484848;
      border-radius: 1px;
      top: 10px;
      opacity: 1;
      transition: opacity 0.2s;
    }

    .bar-bottom {
      position: absolute;
      width: 100%;
      height: 2px;
      background: #484848;
      border-radius: 1px;
      top: 20px;
      transition: transform 0.5s;
    }
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 10;
    background: rgba(0, 0, 0, 0.93);
    transform: translateX(150%);
    transition: transform 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.1);

    &.open {
      transform: translateX(0);
    }

    .toggler-close {
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 45px;
      right: 40px;
      z-index: 99;

      div {
        position: relative;

        span {
          background: rgba(255,255,255,0.8);
          height: 1px;
          display: block;
          width: 16px;
          position: absolute;
          top: 7px;

          &:nth-child(1) {
            transform: rotateZ(45deg);
          }

          &:nth-child(2) {
            transform: rotateZ(-45deg);
          }
        }
      }
    }

    .mm-logo {
      margin: 40px;
    }

    .mobile-menu {
      margin: 30px 40px;
      padding: 0;
      position: relative;

      li {
        list-style: none;
        padding: 12px 0;

        > a {
          color: #f3f3f3;
          font-size: 15px;
          position: relative;
          font-family: 'Poppins', 'sans-serif';
          font-weight: 500;
          transition: all 0.25s ease;
        }

        &.menu-item-has-children {
          position: relative;

          .sub-menu {
            display: none;
            padding: 10px 0 0 25px;

            li {

              a {
                font-size: 14px;
              }
            }
          }
        }

        .mobile-submenu-arrow {
          display: inline-block;
          width: 100%;
          height: 30px;
          position: absolute;
          top: 10px;
          right: 0;
          padding: 0;
          cursor: pointer;
          text-align: center;
          line-height: 22px;

          i {
            position: absolute;
            top: 8px;
            right: 10px;
            font-size: 15px;
            color: #fff;
            opacity: 0.8;

            &:hover {
              opacity: 1;
            }
          }
        }

        .mobile-submenu-active i {
          transform: rotate(90deg);
          transition: all 0.25s ease;
        }
      }
    }

    .number-wrap {
      border-left: 1px solid rgba(255,255,255,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      margin-bottom: 40px;

      span {
        color: rgba(255,255,255,0.85);
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 5px;
      }

      a {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.3px;
        color: #fff;
        font-family: Poppins, sans-serif;
      }
    }

    .button-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;

      .quote-button {
        padding: 15px 45px;
        background: #ffb600;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        &:after {
          width: 40%;
          height: 200%;
          background: rgba(255,255,255,0.1);
          z-index: 1;
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          transform-origin: 0 0;
          transform: rotate(-20deg);
          content: '';
          position: absolute;
          transition: all 0.2s ease;
        }

        i {
          color: #fff;
          padding-left: 6px;
        }

        &:hover {
          opacity: 0.8;
        }

        span {
          font-size: 14px;
          font-family: Poppins, sans-serif;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}


// Transparent header
body.transparent_header {

  .header-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.75) 0, transparent 100%);

    .logo {

      img.dark {
        display: none;
      }

      img.light {
        display: inline-block;
      }
    }
  }
}


// Responsive
@media screen and (max-width: 990px) {
  .header-mobile {
    display: flex;
  }
}


// Transparent header
body.transparent_header {

  .header-mobile {
    padding: 25px;

    .toggler {

      .bar-top, .bar-middle, .bar-bottom {
        background: #fff;
      }
    }
  }
}


// Admin bar
body.logged-in.admin-bar {

  .header-mobile {
    top: 32px;

    .mobile-menu-wrapper {
      top: 32px;
    }
  }
}

@media screen and (max-width: 782px) {
  body.logged-in.admin-bar {

    .header-mobile {
      top: 46px;

      .mobile-menu-wrapper {
        top: 46px;
      }
    }
  }
}