@import '../../colors';

/**
 * Right Sidebar
 */
.right-sidebar .sidebar {
  width: 30%;
  float: right;
  padding-left: 15px;
}
.right-sidebar .content-area {
  width: 70%;
  float: left;
  padding-right: 15px;
}
@media screen and (max-width: 1000px) {
  .right-sidebar .sidebar,
  .right-sidebar .content-area {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}


/**
 * Left Sidebar
 */
.left-sidebar .sidebar {
  width: 30%;
  float: left;
  padding-right: 15px;
}
.left-sidebar .content-area {
  width: 70%;
  float: right;
  padding-left: 15px;
}
@media screen and (max-width: 1000px) {
  .left-sidebar .sidebar,
  .left-sidebar .content-area {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}


/**
 * Widget global
 */
.sidebar .widget {
  margin-bottom: 30px;

  &.woocommerce {

    .widget_title {
      padding: 10px 0 30px;
    }
  }

  .widget_title {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    color: $text_dark;
    margin: 0;
    padding: 20px 30px;
    position: relative;
    border-bottom: 2px solid #fff;
  }
}

@media screen and (max-width: 1000px) {
  .left-sidebar .sidebar,
  .right-sidebar .sidebar {
    margin-top: 65px;
  }
}