.footer-wrap { position: relative; margin-top: -10px; }

.footer-wrap .footer { position: relative; padding: 100px 0; background: #0a0a0a; border-top: 1px solid rgba(0, 0, 0, 0.1); z-index: 1; }

.footer-wrap .footer .widget { margin-bottom: 30px; }

.footer-wrap .footer .widget .widget_title { color: #fff; font-size: 18px; font-weight: 600; position: relative; margin-bottom: 30px; }

.footer-wrap .footer .widget .widget_title:after { content: ''; display: block; width: 40px; height: 2px; background: #fff; position: relative; margin: 12px 0; transform: skew(-45deg); border-radius: 2px; }

.footer-wrap .footer .widget .text-locations.dark .item i { color: #101010; }

.footer-wrap .footer .widget .text-locations.dark .item span, .footer-wrap .footer .widget .text-locations.dark .item a { color: #101010; }

.footer-wrap .footer .widget .text-locations .item { display: flex; align-items: center; margin-bottom: 20px; }

.footer-wrap .footer .widget .text-locations .item i { color: #fff; font-size: 18px; padding-right: 10px; }

.footer-wrap .footer .widget .text-locations .item span, .footer-wrap .footer .widget .text-locations .item a { color: rgba(255, 255, 255, 0.8); font-size: 16px; }

.footer-wrap .footer .widget .text-locations b { color: #848484; font-size: 15px; letter-spacing: 0; }

@media screen and (max-width: 785px) { .footer { padding: 100px 20px; padding-bottom: 50px !important; }
  .footer .widget { margin-bottom: 50px; } }
