.header { opacity: 1; transition: opacity 0.3s ease; }

.header.fade-out-hide { opacity: 0; }

.header .main-menu { position: relative; }

.header .main-menu > ul { position: relative; list-style: none; margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; }

.header .main-menu > ul > li { position: relative; }

.header .main-menu > ul > li > a { display: flex; align-items: center; justify-content: center; position: relative; font-size: 14px; font-weight: 600; font-family: 'Poppins', 'sans-serif'; color: #101010; padding: 20px 25px; text-decoration: none; transition: all 0.2s ease; }

.header .main-menu > ul > li > a:hover { color: #ffb600; }

.header .main-menu > ul > li.current-menu-item > a { color: #ffb600; }

.header .main-menu > ul > li.menu-item-has-children > a:after { content: "\f054"; font-family: "Font Awesome 5 Free"; position: absolute; right: 5px; font-size: 9px; top: 50%; transform: translateY(-50%) rotate(90deg); }

.header .main-menu > ul > li ul.sub-menu { opacity: 0; visibility: hidden; position: absolute; left: 50%; top: calc(100% + 15px); transform: translateX(-50%); background: #fff; list-style: none; margin: 0; padding: 0; width: auto; min-width: 230px; z-index: 999; border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05); transition: all 0.2s ease-in-out 0s; }

.header .main-menu > ul > li ul.sub-menu:after { bottom: 100%; left: 50%; content: ''; height: 12px; width: 12px; position: absolute; pointer-events: none; background: #fff; border-radius: 2px; border-top: 1px solid rgba(0, 0, 0, 0.1); border-right: 1px solid rgba(0, 0, 0, 0.1); transform: translate3d(-50%, 50%, 0) rotate(-45deg); }

.header .main-menu > ul > li ul.sub-menu li { position: relative; display: flex; align-items: center; border-top: 1px solid rgba(0, 0, 0, 0.1); margin: 0; height: 50px; white-space: nowrap; }

.header .main-menu > ul > li ul.sub-menu li:first-child { border-top-color: transparent; }

.header .main-menu > ul > li ul.sub-menu li a { padding: 0 24px; color: #000; display: inline-block; width: 100%; transition: all 0.2s ease; position: relative; font-size: 14px; font-weight: 600; font-family: Poppins, 'sans-serif'; text-decoration: none; }

.header .main-menu > ul > li ul.sub-menu li a:hover { color: #ffb600; }

.header .main-menu > ul > li ul.sub-menu li.current-menu-item > a { color: #ffb600; }

.header .main-menu > ul > li ul.sub-menu li.menu-item-has-children > a:before, .header .main-menu > ul > li ul.sub-menu li.page_item_has_children > a:before { content: "\f054"; font-family: "Font Awesome 5 Free"; font-size: 9px; position: absolute; right: 20px; margin-top: 4px; }

.header .main-menu > ul > li ul.sub-menu li.menu-item-has-children ul.sub-menu, .header .main-menu > ul > li ul.sub-menu li.page_item_has_children ul.sub-menu { left: 100%; top: -2px; padding: 0; margin: 0; transform: translateX(0); }

.header .main-menu > ul > li ul.sub-menu li.menu-item-has-children ul.sub-menu:after, .header .main-menu > ul > li ul.sub-menu li.page_item_has_children ul.sub-menu:after { display: none; }

.header .main-menu > ul > li ul.sub-menu li.menu-item-has-children:hover ul.sub-menu, .header .main-menu > ul > li ul.sub-menu li.page_item_has_children:hover ul.sub-menu { opacity: 1; visibility: visible; }

.header .main-menu > ul > li:hover > ul { visibility: visible; opacity: 1; }

@media screen and (max-width: 990px) { .header { display: none; } }
