.header-mobile { display: none; align-items: center; justify-content: space-between; padding: 20px 25px; z-index: 999; background: #fff; }

.header-mobile .site-title { font-family: Poppins, sans-serif; font-size: 18px; font-weight: 600; color: #484848; }

.header-mobile .logo { display: flex; }

.header-mobile .logo img.light { display: none; }

.header-mobile .logo img.dark { display: block; }

.header-mobile .toggler { position: relative; top: 1px; cursor: pointer; width: 30px; height: 25px; }

.header-mobile .toggler .bar-top { position: absolute; width: 100%; height: 2px; background: #484848; border-radius: 1px; top: 0; transition: transform 0.5s; }

.header-mobile .toggler .bar-middle { position: absolute; width: 100%; height: 2px; background: #484848; border-radius: 1px; top: 10px; opacity: 1; transition: opacity 0.2s; }

.header-mobile .toggler .bar-bottom { position: absolute; width: 100%; height: 2px; background: #484848; border-radius: 1px; top: 20px; transition: transform 0.5s; }

.header-mobile .mobile-menu-wrapper { position: fixed; top: 0; left: 0; height: 100%; width: 100%; overflow: auto; z-index: 10; background: rgba(0, 0, 0, 0.93); transform: translateX(150%); transition: transform 0.5s; background-repeat: no-repeat; background-size: cover; box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1); }

.header-mobile .mobile-menu-wrapper.open { transform: translateX(0); }

.header-mobile .mobile-menu-wrapper .toggler-close { display: block; width: 16px; height: 16px; position: absolute; top: 45px; right: 40px; z-index: 99; }

.header-mobile .mobile-menu-wrapper .toggler-close div { position: relative; }

.header-mobile .mobile-menu-wrapper .toggler-close div span { background: rgba(255, 255, 255, 0.8); height: 1px; display: block; width: 16px; position: absolute; top: 7px; }

.header-mobile .mobile-menu-wrapper .toggler-close div span:nth-child(1) { transform: rotateZ(45deg); }

.header-mobile .mobile-menu-wrapper .toggler-close div span:nth-child(2) { transform: rotateZ(-45deg); }

.header-mobile .mobile-menu-wrapper .mm-logo { margin: 40px; }

.header-mobile .mobile-menu-wrapper .mobile-menu { margin: 30px 40px; padding: 0; position: relative; }

.header-mobile .mobile-menu-wrapper .mobile-menu li { list-style: none; padding: 12px 0; }

.header-mobile .mobile-menu-wrapper .mobile-menu li > a { color: #f3f3f3; font-size: 15px; position: relative; font-family: 'Poppins', 'sans-serif'; font-weight: 500; transition: all 0.25s ease; }

.header-mobile .mobile-menu-wrapper .mobile-menu li.menu-item-has-children { position: relative; }

.header-mobile .mobile-menu-wrapper .mobile-menu li.menu-item-has-children .sub-menu { display: none; padding: 10px 0 0 25px; }

.header-mobile .mobile-menu-wrapper .mobile-menu li.menu-item-has-children .sub-menu li a { font-size: 14px; }

.header-mobile .mobile-menu-wrapper .mobile-menu li .mobile-submenu-arrow { display: inline-block; width: 100%; height: 30px; position: absolute; top: 10px; right: 0; padding: 0; cursor: pointer; text-align: center; line-height: 22px; }

.header-mobile .mobile-menu-wrapper .mobile-menu li .mobile-submenu-arrow i { position: absolute; top: 8px; right: 10px; font-size: 15px; color: #fff; opacity: 0.8; }

.header-mobile .mobile-menu-wrapper .mobile-menu li .mobile-submenu-arrow i:hover { opacity: 1; }

.header-mobile .mobile-menu-wrapper .mobile-menu li .mobile-submenu-active i { transform: rotate(90deg); transition: all 0.25s ease; }

.header-mobile .mobile-menu-wrapper .number-wrap { border-left: 1px solid rgba(255, 255, 255, 0.5); display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0 40px; margin-bottom: 40px; }

.header-mobile .mobile-menu-wrapper .number-wrap span { color: rgba(255, 255, 255, 0.85); font-family: Poppins, sans-serif; font-weight: 600; font-size: 13px; margin-bottom: 5px; }

.header-mobile .mobile-menu-wrapper .number-wrap a { font-size: 22px; line-height: 26px; font-weight: 700; letter-spacing: 0.3px; color: #fff; font-family: Poppins, sans-serif; }

.header-mobile .mobile-menu-wrapper .button-wrap { display: flex; align-items: center; justify-content: center; margin-bottom: 40px; }

.header-mobile .mobile-menu-wrapper .button-wrap .quote-button { padding: 15px 45px; background: #ffb600; border-radius: 2px; cursor: pointer; transition: all 0.2s ease; display: flex; align-items: center; position: relative; overflow: hidden; }

.header-mobile .mobile-menu-wrapper .button-wrap .quote-button:after { width: 40%; height: 200%; background: rgba(255, 255, 255, 0.1); z-index: 1; right: 0; top: 0; margin: -5px 0 0 -5px; transform-origin: 0 0; transform: rotate(-20deg); content: ''; position: absolute; transition: all 0.2s ease; }

.header-mobile .mobile-menu-wrapper .button-wrap .quote-button i { color: #fff; padding-left: 6px; }

.header-mobile .mobile-menu-wrapper .button-wrap .quote-button:hover { opacity: 0.8; }

.header-mobile .mobile-menu-wrapper .button-wrap .quote-button span { font-size: 14px; font-family: Poppins, sans-serif; font-weight: 600; color: #fff; }

body.transparent_header .header-mobile { position: absolute; top: 0; left: 0; right: 0; background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0, transparent 100%); }

body.transparent_header .header-mobile .logo img.dark { display: none; }

body.transparent_header .header-mobile .logo img.light { display: inline-block; }

@media screen and (max-width: 990px) { .header-mobile { display: flex; } }

body.transparent_header .header-mobile { padding: 25px; }

body.transparent_header .header-mobile .toggler .bar-top, body.transparent_header .header-mobile .toggler .bar-middle, body.transparent_header .header-mobile .toggler .bar-bottom { background: #fff; }

body.logged-in.admin-bar .header-mobile { top: 32px; }

body.logged-in.admin-bar .header-mobile .mobile-menu-wrapper { top: 32px; }

@media screen and (max-width: 782px) { body.logged-in.admin-bar .header-mobile { top: 46px; }
  body.logged-in.admin-bar .header-mobile .mobile-menu-wrapper { top: 46px; } }
