.page-header { background: #ededed; padding: 75px 0; }

.page-header h1 { color: #222; font-size: 35px; line-height: 45px; margin: 0; display: inline-block; max-width: 100%; overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; }

body.transparent_header .page-header { padding: 175px 0 75px; }

@media screen and (max-width: 1000px) { .page-header { padding: 75px 10px; } }
