.slideout-wrap { position: fixed; top: 0; left: 0; height: 100%; width: 100%; display: none; align-items: center; justify-content: center; background: #fff; z-index: 1000; transition: all 0.3s linear; transform: translateY(-100%); overflow: scroll; }

.slideout-wrap.show { display: flex; transform: translateY(0); }

.slideout-wrap .slideout-close { position: fixed; top: 30px; right: 30px; cursor: pointer; }

.slideout-wrap .slideout-close i { font-size: 28px; color: #101010; transition: color 0.1s ease; }

.slideout-wrap .slideout-close:hover i { color: #999; }

.slideout-wrap .slideout-content { width: 100%; max-width: 650px; background: #fff; border-radius: 5px; padding: 30px 20px; }

.slideout-title { margin-bottom: 50px; text-align: center; color: #000; }

.small-title { text-align: center; font-weight: 400; line-height: 21px; color: #000; font-size: 11px; text-transform: uppercase; letter-spacing: 5px; margin-bottom: 15px; }

.slideout-terms { text-align: center; margin: 50px auto 10px; font-size: 13px; max-width: 450px; }

@media screen and (max-width: 1000px) { .slideout-title { font-size: 28px; } }

@media screen and (max-width: 600px) { .slideout-wrap .slideout-content { margin-top: 160px; }
  .slideout-title { font-size: 26px; } }
