.archive-page {
  margin: 80px 0;
  display: inline-block;
  width: 100%;
}

.archive-page-header-wrap {
  position: relative;
  padding: 120px 50px 80px;
  background: #f5f6f8;

  .read-more {
    transform: rotate(270deg);
    transform-origin: 0;
    position: absolute;
    bottom: 75px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 5px;
      color: $title_dark;
    }

    i {
      padding-right: 30px;
    }
  }

  .blog-intro {
    position: relative;

    .blog-title {
      font-size: 60px;
      line-height: 70px;
      color: $title_dark;
    }

    .blog-description {
      font-size: 20px;
      line-height: 29px;
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 900px) {
  .archive-page-header-wrap {
    padding: 85px 0 80px;

    .read-more {
      transform: none;
      position: relative;
      bottom: initial;
      left: initial;
    }

    .blog-intro {
      margin: 20px 0 10px;

      .blog-title {
        font-size: 50px;
        line-height: 60px;
        text-align: center;
      }

      .blog-description {
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        padding: 0 10px;
        margin: 0 auto;
      }
    }
  }
}