@import '../colors.scss';

body.transparent_header {

  .post-page-header {
    padding: 220px 0 150px;
  }
}

body:not(.functionality-active) {

  .post-page .post-thumbnail {
    top: initial;
    margin: 0 auto 75px;
  }
}

.post-page-header {
  position: relative;
  padding: 80px 100px;
  text-align: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background: #f5f6f8;
  display: block;
  margin-bottom: 75px;

  .post-date {
    transform: rotate(270deg);
    position: absolute;
    top: 155px;
    left: -35px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      padding-right: 30px;
      font-size: 14px;
      color: #484848;
    }

    span {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 5px;
      color: $title_dark;
    }
  }

  .post-sharing {
    position: absolute;
    top: 135px;
    right: -22px;
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 20px;
    transform: rotate(270deg);

    span {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 5px;
      color: $title_dark;
      padding-right: 20px;
    }

    a {
      transform: rotate(90deg);

      i {
        font-size: 24px;
        color: #484848;
        padding: 0 8px;
        transition: all 0.2s ease;
      }

      &:hover i {
        color: #ffb600;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .page-header-inner {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    text-align: center;
    max-width: 650px;
    margin: 0 auto 40px;
    display: inline-block;

    .categories a {
      color: #ffb600;
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
      font-family: Poppins, sans-serif;
      transition: color 0.2s linear;

      &:hover {
        color: $title_dark;
      }
    }

    .title {
      color: $title_dark;
      margin: 20px 0 25px;
      position: relative;
      max-width: 100%;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;

      &:after {
        content: '';
        display: block;
        width: 40px;
        height: 3px;
        background: $title_dark;
        position: relative;
        margin: 25px auto;
        transform: skew(-45deg);
        border-radius: 2px;
      }
    }
  }

  .post-thumbnail {
    width: 60%;

    img {
      width: 100%;
      height: auto;
      box-shadow: 0 15px 40px 0 rgba(0,0,0,0.25);
      border-radius: 2px;

      &:after {
        position: absolute;
        display: block;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #111;
        opacity: 0.6;
      }
    }
  }
}

.post-page {
  margin: 0 0 50px;
  display: inline-block;
  width: 100%;

  .post-password-form {

    label {
      width: 100%;
      margin-bottom: 0;

      input {
        width: 100%;
        height: 55px;
        margin-top: 10px;
      }
    }

    input[type=submit] {
      height: 55px;
      border: 0;

      &:active, &:focus, &:hover {
        border: 0;
      }
    }
  }

  .post-comments {
    padding-top: 70px !important;
  }

  .post-thumbnail {
    margin: 0 auto -75px;
    position: relative;
    top: -150px;

    img {
      height: auto;
      max-width: 100%;
      display: block;
      margin: 0 auto;
      box-shadow: 0 15px 40px 0 rgba(0,0,0,0.15);
      border-radius: 3px;
    }
  }

  .post-content {
    max-width: 750px;
    margin: 0 auto;

    &:after {
      content: '';
      clear: both;
      display: block;
    }

    p {
      font-size: 18px;
      line-height: 32px;
    }

    ul li, ol li {
      font-size: 16px;
      line-height: 26px;
    }

    blockquote p {
      font-size: 16px;
      line-height: 26px;
      margin: 0;
    }
  }

  .post-bottom {
    max-width: 750px;
    margin: 20px auto 40px;

    .post-comments-count {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 50px;

      i {
        font-size: 30px;
        padding-right: 30px;
      }

      a {
        color: $title_dark;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
      }
    }

    .post-tags {
      padding: 40px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      a {
        background: #ffb600;
        font-size: 12px;
        padding: 8px 15px;
        color: #fff;
        margin: 0 5px 5px;
        border-radius: 3px;

        &:hover {
          opacity: 0.8;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .post-author {
      background: #f5f6f8;
      padding: 20px;
      width: 100%;
      margin: 40px 0 30px;
      display: flex;
      align-items: center;
      border-radius: 3px;
      box-shadow: 0 5px 15px 0 rgba(0,0,0,0.02);

      .picture {
        padding-right: 30px;

        img {
          border-radius: 3px;
        }
      }

      .author-content {
        display: flex;
        flex-direction: column;

        .name {
          overflow: hidden;
          font-size: 16px;
          padding-bottom: 8px;
          font-weight: 600;
          text-transform: capitalize;
          font-family: Poppins, sans-serif;
          color: $title_dark;
        }

        .bio {
          overflow: hidden;
        }
      }
    }

    .link-pages {
      margin: 40px 0;
      display: inline-block;
      width: 100%;
      text-align: center;

      span {
        position: relative;
        margin: 0 5px;
        font-size: 13px;
        line-height: 13px;
        border: 2px solid #ffb600;
        background: #ffb600;
        color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
      }

      a span {
        color: #484848;
        border-color: transparent;
        background: transparent;

        &:hover {
          border-color: #ffb600;
        }
      }
    }

    .post-comments {

    }
  }
}

.related-posts {
  padding: 75px 0;
  background: #f5f6f8;

  .related-title {
    padding-bottom: 25px;
    position: relative;
    text-align: center;

    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 3px;
      background: $title_dark;
      position: relative;
      margin: 25px auto;
      transform: skew(-45deg);
      border-radius: 2px;
    }
  }
}

/* Password protected posts */
.post-password-form input[type="submit"] {
  background: #ffb600;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 2px;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 785px) {
  .post-page-header {

    .page-header-inner {

      .title {
        font-size: 32px;
        line-height: 42px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .post-page-header {
    padding: 60px 20px 80px;

    .post-date {
      position: relative;
      transform: none;
      top: initial;
      left: initial;
      justify-content: center;
    }

    .post-sharing {
      position: relative;
      transform: none;
      top: initial;
      right: initial;
      justify-content: center;

      a {
        transform: none;
      }
    }

    .page-header-inner {
      margin: 20px auto 40px;

      .title {
        font-size: 26px;
      }
    }
  }

  .post-page {

    .post-thumbnail {
      top: -80px;
    }

    .post-content p {
      font-size: 17px;
      line-height: 30px;
    }
  }
}