@import '../colors';

body.single.single-post .page-header {
  margin-bottom: 80px;
}

.masonry-grid {
  margin: 0 -15px;

  .grid-item {
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 785px) {

  .masonry-grid {

    .grid-item {
      width: 100%;
    }
  }
}

.blog-page {
  margin: 80px 0;
  display: inline-block;
  width: 100%;
}

.blog-page-header-wrap {
  position: relative;
  padding: 50px 50px 80px;
  background: #f5f6f8;

  .read-more {
    transform: rotate(270deg);
    transform-origin: 0;
    position: absolute;
    top: 62%;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 5px;
      color: $title_dark;
    }

    i {
      padding-right: 30px;
    }
  }

  .blog-intro {
    position: relative;
    width: 100%;

    .blog-title {
      font-size: 60px;
      line-height: 70px;
      color: $title_dark;
    }

    .blog-description {
      font-size: 20px;
      line-height: 29px;
      max-width: 500px;
    }

    .last-post-author {
      display: flex;
      align-items: center;
      margin: 40px 0;

      .author-pic {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .author-name {
        padding-left: 25px;
        font-weight: 500;
        color: $title_dark;
        font-size: 14px;

        span {
          text-transform: capitalize;
        }
      }
    }
  }

  .first-post {
    position: relative;

    .recent-post-tag {
      position: absolute;
      top: 30px;
      left: 30px;
      padding: 5px 15px;
      background: #ffb600;
      color: #fff;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 500;
    }

    .featured {
      height: 235px;
      width: 100%;
      background-size: cover !important;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .featured-content {
      background: #fff;
      padding: 45px 30px;
      box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.05);
      position: relative;
      width: 100%;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 32px;
        left: 0;
        height: 60px;
        width: 2px;
        background: #ffb600;
        border-radius: 50px;
        transform: skew(-45deg) rotate(-45deg);
        transition: all 0.2s ease;
      }

      .post-date {
        font-size: 13px;
        color: $text_grey;
      }

      .title {
        font-weight: 500;
        font-size: 22px;
        line-height: 31px;
        color: $title_dark;
        margin: 18px 0 20px;
        font-family: Poppins, sans-serif;
        display: inline-block;

        &:hover {
          text-decoration: none;
          color: $text_grey;
        }
      }

      .continue {
        font-family: Poppins, sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #ffb600;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: all 0.2s ease;

        i {
          padding-left: 10px;
        }

        &:hover {
          color: #101010;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 22px;
          left: 0;
          height: 60px;
          width: 2px;
          background: #ffb600;
          border-radius: 50px;
          transform: skew(-45deg) rotate(-45deg);
          transition: all 0.2s ease;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .blog-page-header-wrap {
    padding: 50px 0 80px;

    .read-more {
      display: none;
    }

    .blog-intro {
      margin: 20px 0 10px;

      .blog-title {
        font-size: 50px;
        line-height: 60px;
        text-align: center;
      }

      .blog-description {
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        padding: 0 10px;
      }

      .last-post-author {
        justify-content: center;
        margin: 20px 0 50px;

        .author-pic {
          width: 50px;
          height: 50px;
        }

        .author-name {
          padding-left: 15px;
        }
      }
    }
  }
}