@import '../colors';

.post-type-page-header {
  position: relative;
  padding: 120px 50px 80px;
  background: #f5f6f8;

  .page-header-inner {
    position: relative;

    .title {
      color: $title_dark;
      font-size: 60px;
      line-height: 70px;
      margin: 0;
    }

    .description {
      max-width: 500px;
      font-size: 20px;
      line-height: 29px;
    }
  }
}

.cpt-archive {
  margin: 80px 0 60px;

  .cpt-card {
    margin-bottom: 40px;
    transform: translateY(0);
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-4px);
    }

    .thumbnail-image {
      position: relative;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
      }
    }

    .card-content {
      box-shadow: 0 15px 40px 0 rgba(0,0,0,0.05);
      padding: 40px 30px;
      border-radius: 2px;

      .card-title-wrap {
        display: inline-block;
        width: 100%;

        .card-title {
          font-size: 18px;
          line-height: 27px;
          font-weight: 500;
          color: #101010;
          margin-bottom: 15px;
          transition: all 0.2s ease;

          &:hover {
            color: $light_grey;
          }
        }
      }

      .card-excerpt {
        font-size: 14px;
        line-height: 25px;

        p {
          font-size: 14px;
          line-height: 25px;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .post-type-page-header {
    padding: 85px 0 80px;

    .page-header-inner {

      .title {
        font-size: 50px;
        line-height: 60px;
        text-align: center;
      }
    }
  }
}