.notfound-page-header {
  position: relative;
  background: #f5f6f8;

  .hero {
    position: relative;
    text-align: center;
    padding: 150px 0 170px;
    overflow: hidden;

    .title {
      font-size: 60px;
      line-height: 70px;
      color: $title_dark;

      span {
        color: #ffb600;
        position: relative;
        top: 5px;
        left: -5px;
      }
    }

    .description {
      font-size: 20px;
      line-height: 29px;
      max-width: 600px;
      text-align: center;
      margin: 30px auto 15px;
    }

    .not-found-content {

      .nf-form {

      }

      .nf-text {
        padding: 20px 0 25px;
        font-family: "Playfair Display", sans-serif;
        font-style: italic;
        font-size: 20px;
        color: #333;
      }

      .nf-button {

        a:first-child {
          margin-right: 5px;
        }

        a:nth-child(2) {
          margin-left: 5px;
        }
      }
    }

    .search-form {
      display: flex;
      align-items: center;
      margin: 30px auto 0;
      max-width: 500px;

      input {
        margin: 0;
      }

      button {
        position: relative;
        left: -2px;
        height: 54px;
        width: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 3px 3px 0;

        i {
          font-size: 16px;
        }
      }
    }

    .large-text {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      bottom: -25px;
      font-size: 180px;
      line-height: 100%;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      color: #333;
      opacity: 0.1;
    }
  }
}

@media screen and (max-width: 900px) {
  .notfound-page-header {
    padding: 0;

    .hero {
      padding: 80px 0 160px;

      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}