.search-page-header {
  position: relative;
  padding: 120px 0 80px;
  background: #f5f6f8;

  .hero {
    position: relative;

    .title {
      font-size: 60px;
      line-height: 70px;
      color: $title_dark;
    }

    .description {
      font-size: 20px;
      line-height: 29px;
      max-width: 500px;
    }
  }
}

.search-page {
  margin: 80px 0 60px;
  display: inline-block;
  width: 100%;

  .no-posts {
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;

    .no-posts-text {
      text-align: left;
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 40px;
    }
  }

  .search-form {
    display: flex;
    align-items: center;

    input {
      margin: 0;
    }

    button {
      position: relative;
      left: -2px;
      height: 55px;
      width: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 3px 3px 0;

      i {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .search-page-header {
    padding: 85px 0 80px;

    .hero {
      margin: 20px 0 10px;

      .title {
        font-size: 50px;
        line-height: 60px;
        text-align: center;
      }

      .description {
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        padding: 0 10px;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .search-page {

    .no-posts {

      .no-posts-text {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}