.page-single {
  margin: 50px 0;
  display: inline-block;
  width: 100%;

  .link-pages {
    margin: 40px 0;
    display: inline-block;
    width: 100%;

    span {
      position: relative;
      margin: 0 5px;
      font-size: 13px;
      line-height: 13px;
      border: 2px solid #ffb600;
      background: #ffb600;
      color: #fff;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
    }

    a span {
      color: #484848;
      border-color: transparent;
      background: transparent;

      &:hover {
        border-color: #ffb600;
      }
    }
  }
}

body.remove_page_padding {

  .page-single {
    margin: 0;
  }
}